@import 'colors';

body {
    background: $color-basefall url('../bundles/skyathlonbasefall2016/images/basefall_bg.png') top center no-repeat fixed;
}

.round-game {
    &.round-game-basefall {
        margin: 0 15px -2px;
    }
}

.round-top3-table {
    font-size: 1em;
}

.round-team-select {
    width: 280px;
}

.selectize-dropdown-content {
    max-height: initial;
}

#report-table {
    td {
        vertical-align: middle;

        &:first-child {
            text-align: left;
        }
    }
}

#penality-sum-table {
    tbody {
        tr {
            td {
                white-space: nowrap;
            }
        }
    }
}

.penality-red {
    color: $color-red;
}

#penality_description {
    height: 150px;
}
