$color-fakeblack: #000;
$color-fakewhite: #fff;

@mixin flag-left($color, $color2, $size) {
    height: #{($size - 8)}px;
    line-height: #{($size - 8)}px;

    &:before {
        background-image: -webkit-linear-gradient(top, $color 0, $color 50%, $color2 50%, $color2 100%);
        background-image: linear-gradient(180deg, $color 0, $color 50%, $color2 50%, $color2 100%);
        border: 1px solid $color-fakeblack;
        content: '';
        display: inline-block;
        height: #{($size - 8)}px;
        line-height: #{($size - 8)}px;
        margin-right: 7px;
        vertical-align: middle;
        width: #{$size}px;
    }
}

@mixin flag-right($color, $color2, $size) {
    height: #{($size - 8)}px;
    line-height: #{($size - 8)}px;

    &:after {
        background-image: -webkit-linear-gradient(top, $color 0, $color 50%, $color2 50%, $color2 100%);
        background-image: linear-gradient(180deg, $color 0, $color 50%, $color2 50%, $color2 100%);
        border: 1px solid $color-fakeblack;
        content: '';
        display: inline-block;
        height: #{($size - 8)}px;
        line-height: #{($size - 8)}px;
        margin-left: 7px;
        vertical-align: middle;
        width: #{$size}px;
    }
}

@mixin border-left-before($color, $color2) {
    border-left: 5px solid $color2 !important;
    color: $color !important;

    a {
        color: $color !important;
    }
}

@mixin border-right-before($color, $color2) {
    border-right: 5px solid $color2 !important;
    color: $color !important;

    a {
        color: $color !important;
    }
}

@mixin border-select($color, $color2) {
    border-left: 2px solid $color2 !important;
    border-right: 2px solid $color2 !important;
    color: $color !important;

    a {
        color: $color !important;
    }
}

$atlantis-prim: #666;
$atlantis-sec: #0ee;

$bandofbrothers-prim: $color-fakeblack;
$bandofbrothers-sec: $color-fakewhite;

$calgary-prim: #1d66b6;
$calgary-sec: $color-fakewhite;

$eletrevalok-prim: #970000;
$eletrevalok-sec: $color-fakewhite;

$grimm-prim: #001689;
$grimm-sec: #ffed00;

$houseoflords-prim: #258d32;
$houseoflords-sec: $color-fakeblack;

$nassau-prim: #1d66b6;
$nassau-sec: $color-fakeblack;

$ppc-prim: #ffa526;
$ppc-sec: #9f4dff;

$sailors-prim: #1d66b6;
$sailors-sec: #46d559;

$teams: (atlantis, bandofbrothers, calgary, eletrevalok, grimm, houseoflords, nassau, ppc, sailors);
$prims: ($atlantis-prim, $bandofbrothers-prim, $calgary-prim, $eletrevalok-prim, $grimm-prim, $houseoflords-prim, $nassau-prim, $ppc-prim, $sailors-prim);
$secs: ($atlantis-sec, $bandofbrothers-sec, $calgary-sec, $eletrevalok-sec, $grimm-sec, $houseoflords-sec, $nassau-sec, $ppc-sec, $sailors-sec);

@for $i from 1 through length($teams) {
    $team: nth($teams, $i);

    .#{$team}>td:first-child,
    .round-game-team-left.#{$team} {
        @include border-left-before(nth($prims, $i), nth($secs, $i));
    }

    .#{$team}>td:last-child,
    .round-game-team-right.#{$team} {
        @include border-right-before(nth($prims, $i), nth($secs, $i));
    }

    .#{$team}-flag-left {
        @include flag-left(nth($prims, $i), nth($secs, $i), 34);
    }

    .#{$team}-flag-right {
        @include flag-right(nth($prims, $i), nth($secs, $i), 34);
    }

    .#{$team}-select {
        @include border-select(nth($prims, $i), nth($secs, $i));
    }

    .#{$team}-text {
        color: nth($prims, $i);
    }
}



@media print {
    @for $i from 1 through length($teams) {
        $team: nth($teams, $i);

        .#{$team}-flag-left {
            &:before {
                display: none;
            }
        }
    }
}
