{% extends 'SkyAthlonSkyOlimpia2017Bundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <section class="col-md-12">
            <h1>{% trans %}skyolimpia2017.player.players{% endtrans %}</h1>

            <div id="round-stats" class="navigation">
                <a class="btn btn-default" href="{{ path('skyolimpia2017_player_men') }}">{% trans %}skyolimpia2017.player.men{% endtrans %}</a>
                <a class="btn btn-primary" href="{{ path('skyolimpia2017_player') }}">{% trans %}skyolimpia2017.player.allData{% endtrans %}</a>
                <a class="btn btn-default" href="{{ path('skyolimpia2017_player_women') }}">{% trans %}skyolimpia2017.player.women{% endtrans %}</a>
            </div>

            <div class="round-item">
                <h2 class="tableh2">{% trans %}skyolimpia2017.player.onlyMedals{% endtrans %}</h2>
                <button id="print2" class="btn btn-warning pull-right print-small print" data-print="printPlayers2" data-title="{{ 'skyolimpia2017.player.players' | trans }}">
                    <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
                </button>

                <div class="round-body clearfix PrintArea printPlayers2" style="overflow-x: auto">
                    <table id="players-table2" class="vtop-table round-game-table table table-bordered table-hover table-condensed content-loaded no-footer team-show-table">
                        <thead>
                        <tr>
                            <th class="centered">#</th>
                            <th class="centered">{% trans %}skyolimpia2017.team.player{% endtrans %}</th>
                            <th class="centered medal medal-gold">{% trans %}skyolimpia2017.medal.gold{% endtrans %}</th>
                            <th class="centered medal medal-silver">{% trans %}skyolimpia2017.medal.silver{% endtrans %}</th>
                            <th class="centered medal medal-bronze">{% trans %}skyolimpia2017.medal.bronze{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i = 0 %}
                        {% for result in players %}
                            {% set i = i + 1 %}
                            {% set class = 'female' %}
                            {% if result.sex %}
                                {% set class = 'male' %}
                            {% endif %}
                            <tr class="{{ class }}">
                                <td class="centered">{{ i }}</td>
                                <td class="centered team-flag-left {{ result.team }}-flag-left"><b>{{ result.number }}</b></td>
                                <td class="centered">
                                    <span class="result-number">{{ result.gold.point == 0 ? '-' : result.gold.point }}</span>
                                    {% for gt in result.gold.gameTypes %}
                                        <span class="result-gametype">{{ gt }}</span>
                                    {% endfor %}
                                </td>
                                <td class="centered">
                                    <span class="result-number">{{ result.silver.point == 0 ? '-' : result.silver.point }}</span>
                                    {% for gt in result.silver.gameTypes %}
                                        <span class="result-gametype">{{ gt }}</span>
                                    {% endfor %}
                                </td>
                                <td class="centered">
                                    <span class="result-number">{{ result.bronze.point == 0 ? '-' : result.bronze.point }}</span>
                                    {% for gt in result.bronze.gameTypes %}
                                        <span class="result-gametype">{{ gt }}</span>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <h2 class="tableh2">{% trans %}skyolimpia2017.player.allData{% endtrans %}</h2>
                <button id="print" class="btn btn-warning pull-right print-small print" data-print="printPlayers" data-title="{{ 'skyolimpia2017.player.players' | trans }}">
                    <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
                </button>

                <div class="round-body clearfix PrintArea printPlayers" style="overflow-x: auto">
                    <table id="players-table" class="vtop-table round-game-table table table-bordered table-hover table-condensed content-loaded no-footer team-show-table">
                        <thead>
                        <tr>
                            <th class="centered">#</th>
                            <th class="centered">{% trans %}skyolimpia2017.team.player{% endtrans %}</th>
                            <th class="centered medal medal-gold">{% trans %}skyolimpia2017.medal.gold{% endtrans %}</th>
                            <th class="centered medal medal-silver">{% trans %}skyolimpia2017.medal.silver{% endtrans %}</th>
                            <th class="centered medal medal-bronze">{% trans %}skyolimpia2017.medal.bronze{% endtrans %}</th>
                            <th class="centered">{% trans %}skyolimpia2017.medal.four{% endtrans %}</th>
                            <th class="centered">{% trans %}skyolimpia2017.medal.five{% endtrans %}</th>
                            <th class="centered">{% trans %}skyolimpia2017.medal.six{% endtrans %}</th>
                            <th class="centered">{% trans %}skyolimpia2017.team.pointShort{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% set i = 0 %}
                        {% for result in players %}
                            {% set i = i + 1 %}
                            {% set class = 'female' %}
                            {% if result.sex %}
                                {% set class = 'male' %}
                            {% endif %}
                            <tr class="{{ class }}">
                                <td class="centered">{{ i }}</td>
                                <td class="centered team-flag-left {{ result.team }}-flag-left"><b>{{ result.number }}</b></td>
                                <td class="centered">
                                    <span class="result-number">{{ result.gold.point == 0 ? '-' : result.gold.point }}</span>
                                    {% for gt in result.gold.gameTypes %}
                                        <span class="result-gametype">{{ gt }}</span>
                                    {% endfor %}
                                </td>
                                <td class="centered">
                                    <span class="result-number">{{ result.silver.point == 0 ? '-' : result.silver.point }}</span>
                                    {% for gt in result.silver.gameTypes %}
                                        <span class="result-gametype">{{ gt }}</span>
                                    {% endfor %}
                                </td>
                                <td class="centered">
                                    <span class="result-number">{{ result.bronze.point == 0 ? '-' : result.bronze.point }}</span>
                                    {% for gt in result.bronze.gameTypes %}
                                        <span class="result-gametype">{{ gt }}</span>
                                    {% endfor %}
                                </td>
                                <td class="centered">
                                    <span class="result-number">{{ result.four.point == 0 ? '-' : result.four.point }}</span>
                                    {% for gt in result.four.gameTypes %}
                                        <span class="result-gametype">{{ gt }}</span>
                                    {% endfor %}
                                </td>
                                <td class="centered">
                                    <span class="result-number">{{ result.five.point == 0 ? '-' : result.five.point }}</span>
                                    {% for gt in result.five.gameTypes %}
                                        <span class="result-gametype">{{ gt }}</span>
                                    {% endfor %}
                                </td>
                                <td class="centered">
                                    <span class="result-number">{{ result.six.point == 0 ? '-' : result.six.point }}</span>
                                    {% for gt in result.six.gameTypes %}
                                        <span class="result-gametype">{{ gt }}</span>
                                    {% endfor %}
                                </td>
                                <td class="centered"><span class="result-number">{{ result.point == 0 ? '-' : result.point }}</span></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
