{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="post-content">
        <h2 data-fontsize="18" data-lineheight="27">Szabálykönyv</h2>
        <p><a href="{{ path('rules') }}"> 2016-os Skyball szabálykönyv megtekintése</a></p>
        <h2 data-fontsize="18" data-lineheight="27">Skyball induló</h2>
        <p>
            <audio controls>
                <source src="{{ asset('bundles/skyathlonskyball2016/music/ogg/Skyball_indulo.ogg') }}" type="audio/ogg">
                <source src="{{ asset('bundles/skyathlonskyball2016/music/mp3/Skyball_indulo.mp3') }}" type="audio/mpeg">
                {% trans %}app.browserOld{% endtrans %}
            </audio>
        </p>
        <h2 data-fontsize="18" data-lineheight="27">Skyball himnusz</h2>
        <p>
            <audio controls>
                <source src="{{ asset('bundles/skyathlonskyball2016/music/ogg/Skyball_Himnusz.ogg') }}" type="audio/ogg">
                <source src="{{ asset('bundles/skyathlonskyball2016/music/mp3/Skyball_Himnusz.mp3') }}" type="audio/mpeg">
                {% trans %}app.browserOld{% endtrans %}
            </audio>
        </p>
        <h2 data-fontsize="18" data-lineheight="27">Skyball – Mi ez?</h2>
        <p>Speciális medence, speciális szabályok, speciális sport – ami több, mint egy sport.</p>
        <p>A medence kb. 11×9 méteres, a víz nagyjából mellkasig ér, bár ez a testmagasságtól és a hullámveréstől függ. A medence két szélén egyedi gyártású kapuk, piros felfestések jelölik a pályát, a középvonalat és a kapu előterében a védőzónát. A játékot kettő a kettő ellen játsszák, egy védő és egy támadójátékos felállásban. Fizikai kontaktus a játékosok között nincs, a szabályok betartásáról négy fős bírógárda gondoskodik.</p>
        <p>Támadás és védekezés, koncentráció és állóképesség, taktika és csapatszellem, sportszerűség és játékosság, az együtt küzdés izgalma és a bajtársiasság ereje. A Fontanus Akadémia szervezte sportesemény szól mindezekről, és még ezeken felül is sok dologról: a döntésről, felelősségvállalásról, a férfiról, a munkáról, a kitartásról, az elengedésről. Az életről. Csak a résztvevőkön múlik, mit tesznek bele, mit hoz ki belőlük, és hogy mit kezdenek azzal, amit kihozott belőlük.</p>
    </div>

    <div class="post-content">
        <h2 data-fontsize="18" data-lineheight="27">Kezdetek – 2013</h2>
        <p>2013 nyarán szerveztünk néhány 1-1 napos vízilabda bajnokságot. 3 fős csapatokkal kezdtünk a medencében, majd áttértünk a 2-2 főre. Összesen kb. 16-an lehettünk 1-1 napon játékosok. Felfújhatós kapukkal játszottunk, 1 bíróval és egy meccs 2×5 percig tartott.</p>
        <p>Egy vallomás egy játékostól:</p>
        <blockquote><p>Egyik emlékem az a szembesülés, amikor fél napi játék után a medence szélén ültem és annyira fáradt voltam fizikailag, hogy már figyelni se tudtam. Ekkor rágtam be arra, hogy a fizikai adottságaim korlátoznak egy ilyen szuper játékban.</p></blockquote>
        <p>A következő év januárjában kísérleti jelleggel elkezdtük az Akadémián az edzést. Ekkor volt, akit már a nyári játékokra való készülés motivált az edzésben.</p>
        <h2 data-fontsize="18" data-lineheight="27">Kezdetek – 2014</h2>
        <p>Már 2014 áprilisában elindultak a beszélgetések, hogy az előző évihez képest egy sokkal komolyabb bajnokságot lehetne létrehozni. A Forma-1 példájából kiindulva egy pontgyűjtős bajnokságot hoztunk létra. Ha jól emlékszem 5-6 db egy napos forduló volt és mindössze 1 db 2 napos forduló. Az egy napos fordulón, ha valaki döntőig jutott, ő 110-120 percet játszott, amitől rettentően elfáradtunk.</p>
        <p>2014-ben már adtunk kereteket a bajnokságnak. Voltak kupák, alapvető szabályok, gyűjtöttünk pontokat fordulóról-fordulóra, de ekkor még csak pár ember tett a 2014-es vízilabda bajnokságért. Ekkor már megjelent a vízilabda mellett némi sütögetés és a koktélok is. Ekkor még egyének versenyeztek az összesített pont táblázatban, a legtöbb gól díját végül több, mint 500 góllal lehetett megnyerni.</p>
        <p>A bajnokságot többször félbe kellett szakítani napközben a közönyünk, nemtörődömségünk, érdektelenségünk miatt. Azonban valami mégis elkezdett változni, mert augusztusban egyre többen lettünk edzésen.</p>
        <p>Az első bajnokság 2014 nyarán véget ért, az edzéseket azonban folytattuk.</p>
        <h2 data-fontsize="18" data-lineheight="27">Skyball</h2>
        <p>A 2014-es vízilabda bajnokság után folytattuk az edzéseket, sőt a vízilabda bajnokság alatt váltottunk terhelést. Átálltunk a heti 4-5 edzésre. Ennek hatására olyan hasmenés hullámon mentünk át amit korábban még soha nem tapasztaltunk, de mentünk tovább.</p>
        <p>Ősszel egyre többen lettünk edzésen, majd januártól az Akadémia keretein belül hivatalosan is megindult az edzés.</p>
        <p>2015 márciusában és áprilisában ismét elkezdtünk beszélgetni a vízilabdáról, és már ekkor körvonalazódott, hogy idén más szintre fog kerülni a vízilabda. A játék megalkotója a korábbi évek tapasztalatai alapján újragondolta a játék felépítését, majd kidolgozott egy olyan szabályrendszert, amely egy rettentő izgalmas, kiegyensúlyozott játékot hozott létre. A szabályok többször át lettek gondolva és rettentő részletesen ki lettek dolgozva annak érdekében, hogy az új bajnokság már tényleg csak a játékról szóljon.</p>
        <p>Mindez idő alatt hétről-hétre egyre többen lettünk edzésen. Egyre több új arc tűnt fel. Május 3-án volt az első megbeszélés a 2015-ös vízilabda bajnokság kapcsán, ekkor lettek véglegesítve a csapatok és ekkor született meg a Skyball név.</p>
        <p>A Fontanus Akadémia égisze alatt létrejött egy új sportág!</p>
        <h2 data-fontsize="18" data-lineheight="27">Skyball-ra készülődés – Skyball-ban rejlő lehetőségek</h2>
        <p>Ezen a bizonyos május 3-ai megbeszélésen a szakmai vezetés irányt jelölt a nyárra: Freedom</p>
        <p>Visszaemlékezve erre a beszélgetésre nagyon-nagyon sok dolgot elmondott arra vonatkozólag, hogy mennyi lehetőség rejlik a Skyball-ban:</p>
        <ul>
            <li>Egészségesek vagyunk és lehetőségünk van együtt játszani férfiakkal</li>
            <li>Olyan fizikai és mentális terhelést tapasztalhatunk meg amit korábban még soha</li>
            <li>Olyan bajnokságban vehetünk részt amely csak az élsportolók egy nagyon szűk rétegének adatik meg, saját „világbajnokságot” hozhatunk létre a nyáron</li>
            <li>Megtapasztalhatjuk milyen csapatban dolgozni, csapatban küzdeni</li>
            <li>Számunkra ez a második esély, amit a <a href="http://www.imdb.com/title/tt0191397/">Cserecsapat</a> című film is remekül bemutat</li>
            <li>Létrehozhatunk együtt egy olyan dolgot ami még nem létezik a világban</li>
            <li>Lehet egy olyan nyarunk amire talán emlékezni fogunk évekkel később is</li>
            <li>„Aztán nyár végén összeülünk, egymás szemébe nézünk és megbeszéljük, hogy mit találtunk”</li>
            <li>Mi lehet mindehhez a mi áldozatunk? A hozzáállásunk, az amit beleteszünk, hozzáteszünk</li>
        </ul>
        <p>(visszagondolva erre a beszélgetésre, rengeteg segítséget, iránymutatást kaptunk a Skyball-ra vonatkozólag)</p>
        <p>Lehetőséget kaptunk egy közös betonozásra is. Kibetonozhattuk a medence két oldalát, hogy legyen hely a bírói résznek és a nézőknek. A korábbi évekhez képest most fordult elő először, hogy egész sokan együtt dolgoztunk egy napot, hogy előkészítsük a Skyball fizikai környezetét. Apró tett, de mégis fordulópont a korábbi évekhez képest, mert a mezőny nagy része dolgozott ezen a napon, dolgozott a Skyball-ért!</p>
        <h2 data-fontsize="18" data-lineheight="27">Skyball – 2015</h2>
        <p>6 csapattal (Agapeus, Meteors, Myrmidons, Samurais, Vikings, Wild Giants) május utolsó hétvégéjén elrajtolt az első Skyball bajnokság. Odafent nagyon kegyesek voltak hozzánk, mert korán megjött a nyár és lehetőségünk volt játszani. Ahogy megjelentek az első nyári napsugarak mi is mentünk ki a szabadba és játszottunk.</p>
        <p>A bajnokság során a legtöbb pontot elért csapaton túl további 7 eredményt is kupákkal, érmekkel ismertünk el:</p>
        <ul>
            <li>a legtöbb pontot szerző játékos</li>
            <li>a legtöbb 1 pontost szerző játékos</li>
            <li>a legtöbb 2 pontost szerző játékos</li>
            <li>a legtöbbet asszisztáló játékos</li>
            <li>a legtöbb kanadai pontot szerző játékos</li>
            <li>a legtöbb bravúrt bemutató kapus</li>
            <li>a legjobb játékvezető</li>
        </ul>
        <p>Végül a bajnokságot a Myrmidons csapata nyerte meg. A végeredmény:</p>
        <ol>
            <li><strong>Myrmidons</strong></li>
            <li>Vikings</li>
            <li>Meteors</li>
            <li>Wild Giants</li>
            <li>Agapeus</li>
            <li>Samurais</li>
        </ol>
    </div>
{% endblock %}