{% extends 'SkyAthlonSkyBall2016Bundle::base.html.twig' %}

{% block body %}
    {% if app.user %}
        <iframe class="viewer" id="viewer" src="{{ asset('bundles/app/ViewerJS/index.html') }}#{{ asset('bundles/skyathlonskyball2016/pdf/skyball_2016.pdf') }}" width='100%' height='800' allowfullscreen></iframe>
    {% endif %}
{% endblock %}