{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}menu.basefall2016.kerchiefs{% endtrans %}</h1>

    <div id="by-players" class="round-item">
        <button id="print" class="btn btn-warning pull-right print-small print" data-print="printByPlayersOrdered" data-title="{% trans %}basefall2016.kerchief.byPlayersPrintOrdered{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}basefall2016.kerchief.byPlayersOrdered{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printByPlayersOrdered" style="overflow-x: auto">
            <table id="by-players-global-table" class="round-top3-table round-game-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th class="centered">#</th>
                    {% for kcType in kcTypes %}
                        <th class="centered">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for j in 0..35 %}
                    {% set curIndex = loop.index0 %}
                    <tr>
                        <td class="centered"><b>{{ j + 1 }}</b></td>
                        {% for kerchief, values in kcAllGlobal %}
                            {% for pid, value in values %}
                                {% if loop.index0 == curIndex %}
                                    {% if value == 0 %}
                                        <td class="round-player-td"></td>
                                    {% else %}
                                        <td class="round-player-td {{ players[pid].team.computerName }}-flag-left">
                                            <span class="player-number">{{ players[pid].number }}</span>
                                            <span class="player-name">{{ players[pid].name }}</span>
                                            (<span class="player-score">{{ value }}</span>)
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <button id="print8" class="btn btn-warning pull-right print-small print" data-print="printByPlayersRanks" data-title="{% trans %}basefall2016.kerchief.byPlayersRanksPrint{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}basefall2016.kerchief.byPlayersRanks{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printByPlayersRanks" style="overflow-x: auto">
            <table id="by-players-ranks-table" class="round-game-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>{% trans %}basefall2016.round.player{% endtrans %}</th>
                    {% for kcType in kcTypes %}
                        <th class="centered">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
                    {% endfor %}
                    <th class="centered">{% trans %}basefall2016.kerchief.sumRank{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% set k = 1 %}
                {% for pid, values in kcAllRank['values'] %}
                    <tr>
                        <td class="by-player-td {{ players[pid].team.computerName }}-flag-left">
                            <span class="sortby">{{ players[pid].number }}</span>
                            <span class="player-number">{{ players[pid].number }}</span>
                            <b><span>{{ players[pid].name }}</span></b>
                        </td>

                        {% for kcType, value in values %}
                            <td class="centered">{{ value }}</td>
                        {% endfor %}

                        <td class="centered">
                            <b>{{ kcAllRank['ranks'][pid] }}</b> (<span class="sortbyshow">{{ kcAllRank['sumValues'][pid] }}</span>)
                        </td>
                    </tr>

                    {% set k = k + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        <button id="print3" class="btn btn-warning pull-right print-big print" data-print="printAllByTeams" data-title="{% trans %}basefall2016.kerchief.byTeamsPrint{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}basefall2016.kerchief.byTeams{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printAllByTeams" style="overflow-x: auto">
            <table id="all-by-teams-table" class="round-game-table by-players-table by-teams-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>{% trans %}basefall2016.round.team{% endtrans %}</th>
                    {% for kcType in kcTypes %}
                        <th class="centered">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% set j = 1 %}
                {% for tid, kerchief in kcAllByTeams %}
                    {% set cpName = teams[tid].computerName %}
                    {% set name = teams[tid].name %}
                    <tr>
                        <td class="round-team-td round-game-team-right">
                            <span class="sortby">{{ teams[tid].order }}</span>
                            <span class="round-game-team {{ cpName }}-flag-left">{{ name }}</span>
                        </td>
                        {% for i, kc in kerchief %}
                            <td class="centered">{{ kc | raw }}</td>
                        {% endfor %}
                    </tr>

                    {% set j = j + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}