{% extends 'SkyAthlonSkyBall2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}menu.skyball2017.kerchiefs{% endtrans %}</h1>

    <div id="by-players" class="round-item">
        <button id="print" class="btn btn-warning pull-right print-small print" data-print="printByPlayersOrdered" data-title="{% trans %}skyball2017.kerchief.byPlayersPrintOrdered{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}skyball2017.kerchief.byPlayersOrdered{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printByPlayersOrdered" style="overflow-x: auto">
            <table id="by-players-global-table" class="wide-table middle-table round-top3-table round-game-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th class="centered">#</th>
                    {% for kcType in kcTypes %}
                        <th class="centered kerchief-{{ kcType.kerchiefCategory.computerName }}">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for j in 0..35 %}
                    {% set curIndex = loop.index0 %}
                    <tr>
                        <td class="centered"><b>{{ j + 1 }}</b></td>
                        {% for kerchief, values in kcAllGlobal %}
                            {% for pid, value in values %}
                                {% if loop.index0 == curIndex %}
                                    <td class="round-player-td {{ players[pid].team.computerName }}-select">
                                        <span class="player-number">{{ players[pid].number }}</span>
                                        <span class="player-name">{{ players[pid].name }}</span>
                                        (<span class="player-score">{{ value }}</span>)
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <button id="print97" class="btn btn-warning pull-right print-small print" data-print="printByPlayersOrderedAlap" data-title="{% trans %}skyball2017.kerchief.byPlayersPrintOrderedAlap{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}skyball2017.kerchief.byPlayersOrderedAlap{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printByPlayersOrderedAlap" style="overflow-x: auto">
            <table id="by-players-global-table-alap" class="wide-table middle-table round-top3-table round-game-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th class="centered">#</th>
                    {% for kcType in kcTypes %}
                        <th class="centered kerchief-{{ kcType.kerchiefCategory.computerName }}">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for j in 0..35 %}
                    {% set curIndex = loop.index0 %}
                    <tr>
                        <td class="centered"><b>{{ j + 1 }}</b></td>
                        {% for kerchief, values in kcAlapGlobal %}
                            {% for pid, value in values %}
                                {% if loop.index0 == curIndex %}
                                    <td class="round-player-td {{ players[pid].team.computerName }}-select">
                                        <span class="player-number">{{ players[pid].number }}</span>
                                        <span class="player-name">{{ players[pid].name }}</span>
                                        (<span class="player-score">{{ value }}</span>)
                                    </td>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <button id="print8" class="btn btn-warning pull-right print-small print" data-print="printByPlayersRanks" data-title="{% trans %}skyball2017.kerchief.byPlayersRanksPrint{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}skyball2017.kerchief.byPlayersRanks{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printByPlayersRanks" style="overflow-x: auto">
            <table id="by-players-ranks-table" class="smaller-table round-game-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>{% trans %}skyball2017.round.player{% endtrans %}</th>
                    {% for kcType in kcTypes %}
                        <th class="centered kerchief-{{ kcType.kerchiefCategory.computerName }}">{{ kcType.computerName }}{# <span class="kerchief-small">{{ kcType.name }}</span>#}</th>
                    {% endfor %}
                    <th class="centered">{% trans %}skyball2017.kerchief.sumRank{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% set k = 1 %}
                {% for pid, values in kcAllRank['values'] %}
                    <tr class="{{ players[pid].team.computerName }}">
                        <td class="by-player-td">
                            <span class="sortby">{{ players[pid].number }}</span>
                            <span class="player-number">{{ players[pid].number }}</span>
                            <b><span>{{ players[pid].name }}</span></b>
                        </td>

                        {% for kcType, value in values %}
                            <td class="centered">{{ value }}</td>
                        {% endfor %}

                        <td class="centered">
                            <b>{{ kcAllRank['ranks'][pid] }}</b> (<span class="sortbyshow">{{ kcAllRank['sumValues'][pid] }}</span>)
                        </td>
                    </tr>

                    {% set k = k + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        {#
        <div class="round-head">
            <h2 class="round-title">{% trans %}skyball2017.kerchief.byPlayersOrdered{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix" style="overflow-x: auto">
            <table id="by-players-ranks-table2" class="round-game-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>{% trans %}skyball2017.round.player{% endtrans %}</th>
                    {% for kcType in kcTypes %}
                        <th class="centered">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% set k = 1 %}
                {% for pid, values in kcAllRank['realValues'] %}
                    <tr class="{{ players[pid].team.computerName }}">
                        <td class="by-player-td">
                            <span class="sortby">{{ players[pid].number }}</span>
                            <span class="player-number">{{ players[pid].number }}</span>
                            <b><span>{{ players[pid].name }}</span></b>
                        </td>

                        {% for kcType, value in values %}
                            <td class="centered">{{ value }}</td>
                        {% endfor %}
                    </tr>

                    {% set k = k + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        #}

        <button id="print1" class="btn btn-warning pull-right print-small print" data-print="printByPlayers" data-title="{% trans %}skyball2017.kerchief.byPlayersPrint{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}skyball2017.kerchief.byPlayers{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printByPlayers" style="overflow-x: auto">
            <table id="by-players-table" class="smaller-table round-game-table by-players-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>{% trans %}skyball2017.round.player{% endtrans %}</th>
                    {% for kcType in kcTypes %}
                        <th class="centered kerchief-{{ kcType.kerchiefCategory.computerName }}">
                            {{ kcType.computerName }}{# <span class="kerchief-small">{{ kcType.name }}</span>#}
                        </th>
                    {% endfor %}
                    <th class="centered">{% trans %}app.sum{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% set j = 1 %}
                {% for pid, kerchief in kcByPlayers %}
                    <tr class="{{ players[pid].team.computerName }}">
                        <td class="by-player-td">
                            <span class="sortby">{{ players[pid].number }}</span>
                            <span class="player-number">{{ players[pid].number }}</span>
                            <b><span>{{ players[pid].name }}</span></b>
                        </td>
                        {% for i, kc in kerchief %}
                            <td class="centered">{{ kc | raw }}</td>
                        {% endfor %}
                    </tr>

                    {% set j = j + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>

        {#
        <button id="print3" class="btn btn-warning pull-right print-big print" data-print="printAllByTeams" data-title="{% trans %}skyball2017.kerchief.byTeamsPrint{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}skyball2017.kerchief.byTeams{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printAllByTeams" style="overflow-x: auto">
            <table id="all-by-teams-table" class="round-game-table by-players-table by-teams-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>{% trans %}skyball2017.round.team{% endtrans %}</th>
                    {% for kcType in kcTypes %}
                        <th class="centered kerchief-{{ kcType.kerchiefCategory.computerName }}">{{ kcType.computerName }}{# <span class="kerchief-small">{{ kcType.name }}</span>}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% set j = 1 %}
                {% for tid, kerchief in kcAllByTeams %}
                    {% set cpName = teams[tid].computerName %}
                    {% set name = teams[tid].name %}
                    <tr class="{{ cpName }}">
                        <td class="round-team-td round-game-team-right">
                            <span class="sortby">{{ teams[tid].order }}</span>
                            <span class="teamlogo"><img src="{{ asset('bundles/skyathlonskyball2017/images/logos/' ~ cpName ~ '.png') }}" alt="{{ name }}" /></span>
                            <span class="round-game-team">{{ name }}</span>
                        </td>
                        {% for i, kc in kerchief %}
                            <td class="centered">{{ kc | raw }}</td>
                        {% endfor %}
                    </tr>

                    {% set j = j + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
        #}

        <button id="print4" class="btn btn-warning pull-right print-big print" data-print="printByPlayersSum" data-title="{% trans %}skyball2017.kerchief.byPlayersSumPrint{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}skyball2017.kerchief.byPlayersSum{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printByPlayersSum" style="overflow-x: auto">
            <table id="by-players-sum-table" class="round-sumteam-table round-sumkerchief-table round-game-table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>#</th>
                    <th>{% trans %}skyball2017.round.player{% endtrans %}</th>
                    <th>{% trans %}skyball2017.kerchief.kerchiefsSum{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% set j = 1 %}
                {% for pid, value in kcSumByPlayers %}
                    <tr class="{{ players[pid].team.computerName }}">
                        <td class="centered">{{ j }}</td>
                        <td class="by-player-td">
                            <span class="sortby">{{ players[pid].number }}</span>
                            <span class="player-number">{{ players[pid].number }}</span>
                            <span>{{ players[pid].name }}</span>
                        </td>
                        <td class="centered">{{ value | raw }}</td>
                    </tr>
                    {% set j = j + 1 %}
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}