{% extends 'SkyAthlonSkyBall2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}skyball2017.ref.admin{% endtrans %}</h1>

    <div class="round-item">
        <a href="{{ path('skyball2017_referee') }}" class="btn btn-primary pull-right" style="margin-bottom: 20px;">
            <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}skyball2017.ref.back{% endtrans %}
        </a>

        <table id="report-table" class="table table-bordered table-hover table-condensed report-table sticky-header">
            <thead>
            <tr>
                <th colspan="2">{% trans %}skyball2017.ref.game{% endtrans %}</th>
                <th>{% trans %}skyball2017.game.ref{% endtrans %}</th>
                <th>{% trans %}skyball2017.game.sref{% endtrans %}</th>
                <th>{% trans %}skyball2017.ref.point{% endtrans %}</th>
                <th>{% trans %}skyball2017.game.spicli{% endtrans %}</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for round in refs %}
                <tr class="report-first">
                    <td colspan="7" class="data" style="font-size: 1.3em; background: #79b6e0;"><b>{{ round.name }}</b></td>
                </tr>

                {% for game in round.games %}
                    {% set ref = '-' %}
                    {% set sref = '-' %}
                    {% set spicli = '-' %}
                    {% set point = '-' %}
                    {% set refSex = 'nosex' %}
                    {% set srefSex = 'nosex' %}
                    {% set spicliSex = 'nosex' %}
                    {% set teams = '-' %}
                    {% if game.teamA and game.teamB %}
                        {% set teams = game.teamA.name ~ ' ' ~ ('skyball2017.round.vs' | trans) ~ ' ' ~ game.teamB.name %}
                    {% endif %}

                    {% if game.refResults | length %}
                        {% for refResult in game.refResults %}
                            {% if refResult.type == 1 %}
                                {% if refResult.player.sex == 'f' %}
                                    {% set refSex = 'sex-female' %}
                                {% elseif refResult.player.sex == 'm' %}
                                    {% set refSex = 'sex-male' %}
                                {% endif %}
                                {% if refResult.spicli.sex == 'f' %}
                                    {% set spicliSex = 'sex-female' %}
                                {% elseif refResult.spicli.sex == 'm' %}
                                    {% set spicliSex = 'sex-male' %}
                                {% endif %}

                                {% set ref = refResult.player.number ~ ' - ' ~ refResult.player.name %}
                                {% set point = refResult.value %}
                                {% set spicli = refResult.spicli.number ~ ' - ' ~ refResult.spicli.name %}
                            {% elseif refResult.type == 2 %}
                                {% if refResult.player.sex == 'f' %}
                                    {% set srefSex = 'sex-female' %}
                                {% elseif refResult.player.sex == 'm' %}
                                    {% set srefSex = 'sex-male' %}
                                {% endif %}
                                {% set sref = refResult.player.number ~ ' - ' ~ refResult.player.name %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}

                    <tr>
                        <td>{{ game.gameType.name }}</td>
                        <td>{{ teams }}</td>
                        <td class="{{ refSex }}">{{ ref }}</td>
                        <td class="{{ srefSex }}">{{ sref }}</td>
                        <td>{{ point }}</td>
                        <td class="{{ spicliSex }}">{{ spicli }}</td>
                        <td>
                            <a href="{{ path('skyball2017_game_edit', {roundid: round.number, game: game.id}) }}" class="btn btn-primary btn-xs edit-game">
                                <span class="glyphicon glyphicon-edit"></span> {% trans %}skyball2017.game.editButton{% endtrans %}
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="13" style="height: 30px;"> </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/lib/jquery.floatThead.min.js' filter='jsqueeze' output='js/skyball2017_floatThead.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
