{% extends 'SkyAthlonSkyBall2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}skyball2017.ref.refs{% endtrans %}</h1>

    <div id="refs" class="round-item">
        {% if app.user %}
            {% if app.user.isAdmin %}
                <a href="{{ path('skyball2017_referee_admin') }}" class="btn btn-primary margin-hack">
                    <i class="fa fa-cog" aria-hidden="true"></i> {% trans %}skyball2017.ref.admin{% endtrans %}
                </a>
            {% endif %}
        {% endif %}

        {#
        <button id="print-ref" class="btn btn-warning pull-right print-small print" data-print="printRefsByPlayers" data-title="{% trans %}skyball2017.player.refsByPlayers{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}skyball2017.player.refsByPlayers{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printRefsByPlayers" style="overflow-x: auto">
            <table id="refs-table-players" class="top-refs-table round-game-table refs-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>#</th>
                    <th>{% trans %}skyball2017.round.player{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2017.player.refPoint{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2017.player.refNumber{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2017.player.refAvg{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% set i = 0 %}
                {% for pid, player in refsByPlayers %}
                    {% set class = 'sex-male' %}
                    {% if player.sex == 'f' %}
                        {% set class = 'sex-female' %}
                    {% endif %}

                    {% set i = i + 1 %}

                    <tr>
                        <td class="centered">{{ i }}</td>
                        <td class="by-player-td {{ class }}">
                            <span class="sortby">{{ player.number }}</span>
                            <span class="player-number">{{ player.number }}</span>
                            <b><span>{{ player.name }}</span></b>
                        </td>
                        <td class="centered">{{ player.point }}</td>
                        <td class="centered">{{ player.numberG }}</td>
                        <td class="centered">{{ player.avg }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        #}

        <button id="print-refnum" class="btn btn-warning pull-right print-small print" data-print="printRefNumbersByPlayers" data-title="{% trans %}skyball2017.player.refNumbers{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}skyball2017.player.refNumbers{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printRefNumbersByPlayers" style="overflow-x: auto">
            <table id="refs-numbers-table-players" class="round-game-table refnums-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>#</th>
                    <th>{% trans %}skyball2017.round.player{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2017.player.numRef{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2017.player.numSref{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2017.player.numJref{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2017.player.numSpicli{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2017.player.sum{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% set i = 0 %}
                {% for pid, player in refsByPlayers %}
                    {% set class = 'sex-male' %}
                    {% if player.sex == 'f' %}
                        {% set class = 'sex-female' %}
                    {% endif %}

                    {% set i = i + 1 %}

                    <tr>
                        <td class="centered">{{ i }}</td>
                        <td class="by-player-td {{ class }}">
                            <span class="sortby">{{ player.number }}</span>
                            <span class="player-number">{{ player.number }}</span>
                            <b><span>{{ player.name }}</span></b>
                        </td>
                        <td class="centered">{{ player.numR }}</td>
                        <td class="centered">{{ player.numS }}</td>
                        <td class="centered">{{ player.numJ }}</td>
                        <td class="centered">{{ player.numSp }}</td>
                        <td class="centered">{{ player.numSum }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {#
        <button id="print-sref" class="btn btn-warning pull-right print-small print" data-print="printsRefsByPlayers" data-title="{% trans %}skyball2017.player.srefsByPlayers{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}skyball2017.player.srefsByPlayers{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printsRefsByPlayers" style="overflow-x: auto">
            <table id="srefs-table-players" class="top-refs-table round-game-table refs-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>#</th>
                    <th>{% trans %}skyball2017.round.player{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2017.player.refPoint{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2017.player.refNumber{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2017.player.refAvg{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% set i = 0 %}
                {% for pid, player in refsByPlayers %}
                    {% set class = 'sex-male' %}
                    {% if player.sex == 'f' %}
                        {% set class = 'sex-female' %}
                    {% endif %}

                    {% set i = i + 1 %}

                    <tr>
                        <td class="centered">{{ i }}</td>
                        <td class="by-player-td {{ class }}">
                            <span class="sortby">{{ player.number }}</span>
                            <span class="player-number">{{ player.number }}</span>
                            <b><span>{{ player.name }}</span></b>
                        </td>
                        <td class="centered">{{ player.sref.point }}</td>
                        <td class="centered">{{ player.sref.number }}</td>
                        <td class="centered">{{ player.sref.avg }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        #}
    </div>
{% endblock %}
