{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.game.basefall2016{% endtrans %}{% endblock %}
{% block favicon %}{{ asset('bundles/skyathlonbasefall2016/images/basefall_logo.ico') }}{% endblock %}

{% block stylesheets %}{% endblock %}
{% block moduleStylesheets %}
    {% stylesheets filter='scssphp' output='css/basefall2016.css'
    '@SkyAthlonBaseFall2016Bundle/Resources/public/css/basefall.scss'
    '@SkyAthlonBaseFall2016Bundle/Resources/public/css/teamcolors.scss'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}{% endblock %}
{% block moduleJavascripts %}
    {% javascripts  filter='jsqueeze' output='js/basefall2016.js'
    '@SkyAthlonBaseFall2016Bundle/Resources/public/js/round.js'
    '@SkyAthlonBaseFall2016Bundle/Resources/public/js/datatables.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
