<a class="navbar-brand header-logo-cont" rel="home" href="{{ path('basefall2016_round_redirect') }}" title="{% trans %}menu.game.basefall2016{% endtrans %}">
    {% image '@SkyAthlonBaseFall2016Bundle/Resources/public/images/basefall_logo.png' %}
    <img class="header-logo" src="{{ asset_url }}" alt="{% trans %}menu.game.basefall2016{% endtrans %}" />
    {% endimage %}
</a>


<li class="menu menu-fordulo menu-jatek" id="menu-rounds">
    <a href="{{ path('basefall2016_round_redirect') }}">
        <i class="fa fa-trophy" aria-hidden="true"></i> {% trans %}menu.basefall2016.rounds{% endtrans %}
    </a>
</li>

<li class="menu menu-kendok menu-csapat menu-csapatok menu-jegyzokonyvek menu-biraskodasok menu-buntetopontok" id="menu-teams">
    <a href="{{ path('basefall2016_team') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        {% trans %}menu.basefall2016.stats{% endtrans %} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown">
            <a href="{{ path('basefall2016_team') }}">
                <i class="fa fa-users" aria-hidden="true"></i> {% trans %}basefall2016.team.teams{% endtrans %}
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('basefall2016_kerchief') }}">
                <i class="fa fa-user" aria-hidden="true"></i> {% trans %}menu.basefall2016.kerchiefs{% endtrans %}
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('basefall2016_penalities') }}">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {% trans %}menu.basefall2016.penalities{% endtrans %}
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('basefall2016_reports') }}">
                <i class="fa fa-file-text-o" aria-hidden="true"></i> {% trans %}menu.basefall2016.reports{% endtrans %}
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('basefall2016_referee') }}">
                <i class="fa fa-child" aria-hidden="true"></i> {% trans %}menu.basefall2016.refs{% endtrans %}
            </a>
        </li>
    </ul>
</li>