{% extends 'SkyAthlonSkyBall2017Bundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <section class="col-md-12">
            <h1>{% trans %}skyball2017.team.teams{% endtrans %}</h1>

            {% if app.user.isSu %}
                <a href="{{ path('skyball2017_team_editranks') }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> {% trans %}skyball2017.team.editRanks{% endtrans %}
                </a>
            {% endif %}

            <button id="print" class="btn btn-warning pull-right print-small print" data-print="PrintArea" data-title="{% trans %}skyball2017.team.teams{% endtrans %}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <p id="no-teams">{% trans %}skyball2017.team.noTeams{% endtrans %}</p>

            <div class="PrintArea">
                <table id="team-table" class="table-hover row-border round-top3-table round-top3-10-table">
                    <thead>
                    <tr>
                        <th>{% trans %}skyball2017.team.team{% endtrans %}</th>
                        <th class="hideOnXs noprint">{% trans %}skyball2017.team.flag{% endtrans %}</th>
                        <th>{% trans %}skyball2017.team.player1{% endtrans %}</th>
                        <th>{% trans %}skyball2017.team.player2{% endtrans %}</th>
                        <th>{% trans %}skyball2017.team.rank{% endtrans %} ({% trans %}skyball2017.team.point{% endtrans %})</th>
                    </tr>
                    </thead>
                    <tbody class="list" id="team-body">
                    {% for team in teams %}
                        {% set image = 'bundles/skyathlonskyball2017/images/logos/' ~ team.computerName ~ '.png' %}
                        <tr class="{{ team.computerName }}">
                            <td>
                                <a href="{{ path('skyball2017_team_show', { 'id': team.computerName }) }}">
                                    <span class="teamlogo"><img src="{{ asset(image) }}" alt="{{ team.name }}" /></span>
                                    <span class="teamname">{{ team.name }}</span>
                                </a>
                            </td>
                            <td class="hideOnXs noprint">
                                <div class="team-flag-small">
                                    <style scoped type="text/css">
                                        @media print {
                                            .bg-{{ team.c1 | replace({'#': ""}) }} {
                                                background-color: {{ team.c1 }} !important;
                                            }
                                            .bg-{{ team.c2 | replace({'#': ""}) }} {
                                                background-color: {{ team.c2 }} !important;
                                            }
                                        }
                                    </style>
                                    <div class="team-flag-left bg-{{ team.c1 |replace({'#': ""}) }}" style="background-color: {{ team.c1 }} !important;"></div>
                                    <div class="team-flag-right bg-{{ team.c2 |replace({'#': ""}) }}" style="background-color: {{ team.c2 }} !important;"></div>
                                </div>
                            </td>
                            <td>
                                <span class="player-number">{{ team.players[0].number }}</span>
                                <span class="player-name">{{ team.players[0].name }}</span>
                            </td>
                            <td>
                                <span class="player-number">{{ team.players[1].number }}</span>
                                <span class="player-name">{{ team.players[1].name }}</span>
                            </td>
                            <td>
                                <span class="teamRank">{{ team.rank ? team.rank : '-' }}</span>
                                (<span class="teamPoint">{{ team.point ? team.point : 0 }}</span> {% trans %}skyball2017.team.pointStr{% endtrans %})
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

{% endblock %}

{% block stylesheets %}
    {% stylesheets '@SkyAthlonSkyBall2017Bundle/Resources/public/css/teams.scss' filter='scssphp' output='css/skyball2017_teams.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
