{% extends 'SkyAthlonSkyBall2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}skyball2017.round.rounds{% endtrans %}</h1>

    <div id="round-navigation" class="navigation">
        {{ knp_pagination_render(rounds) }}
    </div>

    {% for round in rounds %}
        <div id="round-stats" class="navigation">
            <a class="btn btn-primary" href="{{ path('skyball2017_round_teams', {round: round.number}) }}">
                {% trans %}skyball2017.round.menuSummary{% endtrans %}
            </a>
            {% if not round.playoffs %}
                <a class="btn btn-default" href="{{ path('skyball2017_round_selejtezo', {round: round.number}) }}">
                    {% trans %}skyball2017.round.menuSelejtezo{% endtrans %}
                </a>
            {% endif %}
            <a class="btn btn-default" href="{{ path('skyball2017_round', {round: round.number}) }}">
                {% trans %}skyball2017.round.menuGames{% endtrans %}
            </a>
            <a class="btn btn-default" href="{{ path('skyball2017_round_players', {round: round.number}) }}">
                {% trans %}skyball2017.round.menuPlayers{% endtrans %}
            </a>
        </div>

        <div id="round-{{ round.id }}" class="round-item">
            <button id="print" class="btn btn-warning pull-right print-small print" data-print="PrintArea" data-title="{{ 'skyball2017.round.sum' | trans({'%game%': round.fullName }) }}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <div class="round-head" style="clear: both;">
                <h2 class="round-title" style="text-align: center;">{{ 'skyball2017.round.sum' | trans({'%game%': round.fullName }) }}</h2>
            </div>

            {% set top3 = 'round-top3-table' %}
            {% if round.number > 12 %}
                {% set top3 = '' %}
            {% endif %}

            <div class="round-body PrintArea">
                <table id="round-teams-table-{{ round.id }}" class="round-sumteam-table padding-table {{ top3 }} round-game-table round-teams-table table-bordered table-hover">
                    <thead class="table-info">
                    <tr>
                        <th>{% trans %}skyball2017.round.result{% endtrans %}</th>
                        <th>{% trans %}skyball2017.round.team{% endtrans %}</th>
                        <th>{% trans %}skyball2017.round.pointStr{% endtrans %}</th>
                        <th>{% trans %}skyball2017.game.g{% endtrans %}</th>
                        <th>{% trans %}skyball2017.game.q{% endtrans %}</th>
                        <th>{% trans %}skyball2017.game.ga{% endtrans %}</th>
                        <th>{% trans %}skyball2017.game.kq{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody id="round-players-tbody-{{ round.id }}">
                        {% set j = 1 %}
                        {% for team in teams %}
                            {% set cpName = team and team.computerName ? team.computerName : 'questionmark' %}
                            {% set name = team and team.name ? team.name : '' %}
                            <tr id="round-team-{{ round.id }}-{{ j }}">
                                <td class="round-game-team-left">{{ j }}</td>
                                <td class="round-team-td">
                                    <span class="teamlogo"><img src="{{ asset('bundles/skyathlonskyball2017/images/logos/' ~ cpName ~ '.png') }}" alt="{{ name }}" /></span>
                                    <span class="round-game-team">{{ name }}</span>
                                </td>
                                <td class="centered">{{ team.point }}</td>
                                <td class="centered">{{ team.g }}</td>
                                <td class="centered">{{ team.q }}</td>
                                <td class="centered">{{ team.ga }}</td>
                                <td class="centered">{{ team.kq }}</td>
                            </tr>

                            {% set j = j + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/newsitem.scss' filter='scssphp' output='css/skyball2017_newsitem.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
