{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{{ 'basefall2016.round.editTeamStats' | trans({'%roundid%': roundid}) }}</h1>

    <form name="game_teamstats" method="post" action="{{ path('basefall2016_round_edit_team_stats', {roundid: roundid}) }}">
        <table id="round-teams-table-{{ roundid }}" class="round-game-table round-teams-table table-bordered table-hover table-condensed">
            <thead class="table-info">
            <tr>
                <th>{% trans %}basefall2016.round.result{% endtrans %}</th>
                <th>{% trans %}basefall2016.round.team{% endtrans %}</th>
            </tr>
            </thead>
            <tbody id="round-players-tbody-{{ roundid }}">
            {% for k in 1..9 %}
                {% set key = 'team' ~ k %}
                {% set val = rankings[key] %}
                <tr id="round-team-{{ roundid }}-{{ k }}">
                    <td>
                        <label for="round-team-{{ k }}">{{ k }}</label>{{ k }}
                    </td>
                    <td class="round-team-td round-game-team-right" id="round-team-td-{{ roundid }}-p">
                        <select class="round-team-select" id="round-team-{{ k }}" name="round-team-{{ k }}">
                            {% set src = 'questionmark' %}
                            <option value="0" data-data='{"src": "{{ src }}"}'>
                                ?
                            </option>
                            {% for team in teams %}
                                {% set selected = '' %}
                                {% if team.id == val %}
                                    {% set selected = 'selected' %}
                                {% endif %}

                                {% set src = team.computerName %}

                                <option {{ selected }} value="{{ team.id }}" data-data='{"src": "{{ src }}"}'>
                                    {{ team }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button class="btn btn-success pull-left" type="submit">
            <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
        </button>
    </form>

    <a href="{{ path('basefall2016_round_teams', {round: roundid}) }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}basefall2016.round.back{% endtrans %}
    </a>
    <div style="clear: both; height: 400px;"></div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css" />
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
    {% javascripts '@SkyAthlonBaseFall2016Bundle/Resources/public/js/selectize.js' filter='jsqueeze' output='js/basefall2016_basefall2016.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}