{% extends 'SkyAthlonSkySports2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{{ 'skysports2017.round.edit' | trans({'%name%': round.fullName}) }}</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}

    <button class="btn btn-success pull-left" type="submit">
        <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
    </button>
    {{ form_end(edit_form) }}

    {% if app.user %}
        {% if app.user.isAdmin %}
            {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("' ~ 'confirm.skysports2017.round' | trans ~ '")'}}) }}
                <button style="margin-left: 10px;" class="btn btn-danger pull-right" type="submit">
                    <span class="glyphicon glyphicon-trash"></span> {% trans %}skysports2017.round.delete{% endtrans %}
                </button>
            {{ form_end(delete_form) }}
        {% endif %}
    {% endif %}

    <a href="{{ path('skysports2017_round', {round: round.number}) }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}skysports2017.round.back{% endtrans %}
    </a>
{% endblock %}
