<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% trans %}app.title{% endtrans %}{% endblock %}</title>

    <meta charset="utf-8">
    <meta name="google-signin-client_id" content="268034726034-48kap9susfodveoug4qjtbibd0p7pqei.apps.googleusercontent.com">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="SkyAthlon">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/x-icon" href="{% block favicon %}{{ asset('bundles/app/images/skyathlon_logo.ico') }}{% endblock %}" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <link href='//fonts.googleapis.com/css?family=Comfortaa:300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">-->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">

    {% stylesheets filter='scssphp' output='css/app.css'
    '@AppBundle/Resources/public/css/common.scss'
    '@AppBundle/Resources/public/css/spinner.scss'
    '@AppBundle/Resources/public/css/header.scss'
    %}
        <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
    {% block moduleStylesheets %}{% endblock %}

    {% stylesheets filter='scssphp' output='css/app_overwrite.css'
    '@AppBundle/Resources/public/css/responsive.scss'
    '@AppBundle/Resources/public/css/print.scss'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
</head>

{% set adminClass = 'simple' %}
{% if app.user and app.user.isAdmin %}
    {% set adminClass = 'admin' %}
{% endif %}
<body class="{{ adminClass }}">
{% include 'AppBundle::header.html.twig' %}

<div id="content" class="container container-fluid">
    {% include 'AppBundle::messages.html.twig' %}
    {% block body %}{% endblock %}
</div>

{% if (app.user and app.user.isAdmin) %}
    <div id="control-panel">
        <a href="{{ path('tatami') }}"><span id="tatami-button">{% trans %}draw.tatami{% endtrans %}</span></a>
        <a href="{{ path('dashboard_admin') }}"><span id="dashboard-admin-button">{% trans %}dashboard.admin{% endtrans %}</span></a>
        <a id="recalculate-button" style="cursor: pointer;"><span>{% trans %}dashboard.recalculate{% endtrans %}</span></a>
    </div>
{% endif %}

<script type="text/javascript">
    var imagePath = '{{ image_path }}';

    $('#recalculate-button').click(function () {
        $.ajax({
            type: 'GET',
            url: Routing.generate('skyball2017_api_currentstatus'),
            success: function () {
                location.reload();
            }
        });
    });
</script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/1.10.11/js/dataTables.bootstrap.min.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
{% javascripts filter='jsqueeze' output='js/app.js'
    '@AppBundle/Resources/public/js/skyathlon.js'
    '@AppBundle/Resources/public/js/datatables.js'
%}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}

{% if not app.user %}
    {% include 'AppBundle::login.html.twig' %}
{% endif %}

{% block javascripts %}{% endblock %}
{% block moduleJavascripts %}{% endblock %}
</body>
</html>