<nav id="main-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container" id="navigation-bar">

        <div id="header-right-container">
            {% if app.user %}
                <div id="header-loggedin">
                    <span id="header-loggedin-text">
                        {% trans %}app.loggedIn{% endtrans %}<br />
                        <b>
                            {% if app.user %}
                                {{ app.user.username }}
                            {% endif %}
                        </b>
                    </span>
                </div>
                <button onclick="window.location.replace(Routing.generate('logout'));" id="header-logout" class="btn btn-lg btn-danger">
                    {% trans %}app.logout{% endtrans %}
                </button>
            {% else %}
                <div id="header-signin-button"></div>
            {% endif %}
        </div>

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-bar-collapse" aria-expanded="false">
                <span class="sr-menu">{% trans %}app.menu{% endtrans %}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" rel="home" href="{{ path('index') }}" title="{% trans %}app.title{% endtrans %}">
                {% image '@AppBundle/Resources/public/images/skyathlon_logo.png' %}
                <img id="header-logo" src="{{ asset_url }}" alt="{% trans %}app.title{% endtrans %}" />
                {% endimage %}
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-bar-collapse">
            <ul class="nav navbar-nav">
                {% include 'AppBundle::menu.html.twig' %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>