{% javascripts '@AppBundle/Resources/public/js/login.js' filter='jsqueeze' output='js/login.js' %}
    <script src="{{ asset_url }}" async></script>
{% endjavascripts %}
<script src="//apis.google.com/js/client:platform.js?onload=renderButton" async></script>