<li class="menu menu-skyball2016 menu-skyball2017 menu-basefall2016 menu-skypong2016 menu-skyolimpia" id="menu-games">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-futbol-o" aria-hidden="true"></i>
        {% trans %}menu.game.games{% endtrans %} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown">
            <a href="{{ path('skyball2016_round_redirect') }}">
                <p><img src="{{ asset('bundles/skyathlonskyball2016/images/skyball_logo.png') }}" /></p> <span>{% trans %}menu.game.skyball2016{% endtrans %}</span>
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('basefall2016_round_redirect') }}">
                <p><img src="{{ asset('bundles/skyathlonbasefall2016/images/basefall_logo.png') }}" /></p> <span>{% trans %}menu.game.basefall2016{% endtrans %}</span>
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('skyolimpia2017_round_redirect') }}">
                <p><img src="{{ asset('bundles/skyathlonskyolimpia2017/images/skyolimpia_logo.png') }}" /></p> <span>{% trans %}menu.game.skyolimpia2017{% endtrans %}</span>
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('skyball2017_round_redirect') }}">
                <p><img src="{{ asset('bundles/skyathlonskyball2017/images/skyball_logo.png') }}" /></p> <span>{% trans %}menu.game.skyball2017{% endtrans %}</span>
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('throwfall2017_round_redirect') }}">
                <p><img src="{{ asset('bundles/skyathlonthrowfall2017/images/throwfall_logo.png') }}" /></p> <span>{% trans %}menu.game.throwfall2017{% endtrans %}</span>
            </a>
        </li>
        {#<li class="dropdown">
            <a href="{{ path('skysports2017_round_redirect') }}">
                <p><img src="{{ asset('bundles/app/images/skyathlon_logo.png') }}" /></p> <span>{% trans %}menu.game.skysports2017{% endtrans %}</span>
            </a>
        </li>#}
    </ul>
</li>

{% set pt = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}
{% if '/skyball-2016/' in pt %}
    {% include 'SkyAthlonSkyBall2016Bundle::menu.html.twig' %}
{% elseif '/basefall-2016/' in pt %}
    {% include 'SkyAthlonBaseFall2016Bundle::menu.html.twig' %}
{% elseif '/skyolimpia-2017/' in pt %}
    {% include 'SkyAthlonSkyOlimpia2017Bundle::menu.html.twig' %}
{% elseif '/skyball-2017/' in pt %}
    {% include 'SkyAthlonSkyBall2017Bundle::menu.html.twig' %}
{% elseif '/throwfall-2017/' in pt %}
    {% include 'SkyAthlonThrowFall2017Bundle::menu.html.twig' %}
{% elseif '/skysports-2017/' in pt %}
    {% include 'SkyAthlonSkySports2017Bundle::menu.html.twig' %}
{% endif %}