{% for type, messages in app.session.flashbag.all %}
    <div class="alert-box {{ type }}">
        <i class="fa fa-times-circle" aria-hidden="true"></i>
        {% for message in messages %}
        <span class="noty-message">{{ message | trans }}</span>
        {% endfor %}
    </div>
{% endfor %}