{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.game.skyball2017{% endtrans %}{% endblock %}
{% block favicon %}{{ asset('bundles/skyathlonskyball2017/images/skyball_logo.ico') }}{% endblock %}

{% block stylesheets %}{% endblock %}
{% block moduleStylesheets %}
    {% stylesheets filter='scssphp' output='css/skyball2017.css'
    '@SkyAthlonSkyBall2017Bundle/Resources/public/css/skyball.scss'
    '@SkyAthlonSkyBall2017Bundle/Resources/public/css/teamcolors.scss'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}{% endblock %}
{% block moduleJavascripts %}
    {% javascripts filter='jsqueeze' output='js/skyball2017.js'
    '@SkyAthlonSkyBall2017Bundle/Resources/public/js/round.js'
    '@SkyAthlonSkyBall2017Bundle/Resources/public/js/datatables.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
