<a class="navbar-brand header-logo-cont" rel="home" href="{{ path('skyball2017_round_redirect') }}" title="{% trans %}menu.game.skyball2017{% endtrans %}">
    {% image '@SkyAthlonSkyBall2017Bundle/Resources/public/images/skyball_logo.png' %}
    <img class="header-logo" src="{{ asset_url }}" alt="{% trans %}menu.game.skyball2017{% endtrans %}" />
    {% endimage %}
</a>

<li class="menu menu-fordulo menu-jatek" id="menu-rounds">
    <a href="{{ path('skyball2017_round_redirect') }}">
        <i class="fa fa-trophy" aria-hidden="true"></i> {% trans %}menu.skyball2017.rounds{% endtrans %}
    </a>
</li>

<li class="menu menu-kendok menu-csapat menu-csapatok menu-jegyzokonyvek menu-birok" id="menu-teams">
    <a href="{{ path('skyball2017_team') }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        {% trans %}menu.skyball2017.stats{% endtrans %} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown">
            <a href="{{ path('skyball2017_team') }}">
                <i class="fa fa-users" aria-hidden="true"></i> {% trans %}skyball2017.team.teams{% endtrans %}
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('skyball2017_kerchief') }}">
                <i class="fa fa-user" aria-hidden="true"></i> {% trans %}menu.skyball2017.kerchiefs{% endtrans %}
            </a>
        </li>
        <li class="dropdown">
            <a target="_blank" href="{{ path('dashboard') }}">
                <i class="fa fa-television" aria-hidden="true"></i> {% trans %}menu.skyball2017.dashboard{% endtrans %}
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('skyball2017_referee') }}">
                <i class="fa fa-child" aria-hidden="true"></i> {% trans %}menu.skyball2017.refs{% endtrans %}
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('skyball2017_reports') }}">
                <i class="fa fa-file-text-o" aria-hidden="true"></i> {% trans %}menu.skyball2017.reports{% endtrans %}
            </a>
        </li>
    </ul>
</li>
