{% extends 'SkyAthlonSkyBall2016Bundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <section class="col-md-12">
            <h1>{{ 'skyball2016.team.teamTitle' | trans({'%team%': team.name }) }}</h1>

            {% set image = 'bundles/skyathlonskyball2016/images/logosBig/' ~ team.computerName ~ '.png' %}
            {% set mp3 = 'bundles/skyathlonskyball2016/music/mp3/' ~ team.computerName ~ '.mp3' %}
            {% set ogg = 'bundles/skyathlonskyball2016/music/ogg/' ~ team.computerName ~ '.ogg' %}

            <div class="col-md-6 col-md-push-6" style="text-align: right;"><img src="{{ asset(image) }}" alt="{{ team.name }}" /></div>

            <div class="col-md-6 col-md-pull-6">
                <h2>{% trans %}skyball2016.team.commonData{% endtrans %}</h2>
                <table id="team-show-table" class="round-game-table table table-bordered table-hover table-condensed content-loaded dataTable no-footer team-show-table">
                    <thead>
                    <tr>
                        <th>{% trans %}skyball2016.team.leader{% endtrans %}</th>
                        <th>{% trans %}skyball2016.team.player1{% endtrans %}</th>
                        <th>{% trans %}skyball2016.team.player2{% endtrans %}</th>
                        <th>{% trans %}skyball2016.team.rank{% endtrans %} ({% trans %}skyball2016.team.point{% endtrans %})</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ team.players[0].name }} ({{ team.players[0].number }})</td>
                        <td>{{ team.players[1].name }} ({{ team.players[1].number }})</td>
                        <td>{{ team.players[2].name }} ({{ team.players[2].number }})</td>
                        <td>
                            <span class="teamRank">{{ team.rank }}</span>
                            (<span class="teamPoint">{{ team.point }}</span> {% trans %}skyball2016.team.pointStr{% endtrans %})
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h2>{% trans %}skyball2016.team.music{% endtrans %}</h2>
                <p>
                    <audio controls>
  						<source src="{{ asset(ogg) }}" type="audio/ogg">
					  	<source src="{{ asset(mp3) }}" type="audio/mpeg">
						{% trans %}app.browserOld{% endtrans %}
					</audio>
                </p>
                
                <h2>{% trans %}skyball2016.team.flag{% endtrans %}</h2>
                <p>
                    <div class="team-flag">
                        <div class="team-flag-left" style="background: {{ team.c1 }};"></div>
                        <div class="team-flag-right" style="background: {{ team.c2 }};"></div>
                    </div>
                </p>

                {% set ownPoint = 0 %}
                {% set enemyPoint = 0 %}

                <h2>{% trans %}skyball2016.team.games{% endtrans %}</h2>
                <table id="team-games-table" class="round-game-table table table-bordered table-hover table-condensed content-loaded dataTable no-footer team-show-table">
                    <thead>
                    <tr>
                        <th>{% trans %}skyball2016.game.type{% endtrans %}</th>
                        <th>{% trans %}skyball2016.game.enemyTeam{% endtrans %}</th>
                        <th>{% trans %}skyball2016.game.result{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% set r = 0 %}
                        {% for game in team.games %}
                            {% set result = game.pointA ~ ' ' ~ 'skyball2016.round.vs' | trans ~ ' ' ~ game.pointB %}
                            {% set enemy = '' %}
                            {% if game.teamA is defined and game.teamA %}
                                {% set enemy = game.teamA.name %}
                                {% if game.pointB > game.pointA %}
                                    {% set result = '<span class="win ours">' ~ game.pointB ~ '</span> ' ~ 'skyball2016.round.vs' | trans ~ ' ' ~ game.pointA %}
                                {% elseif game.pointB < game.pointA %}
                                    {% set result = '<span class="lose ours">' ~ game.pointB ~ '</span> ' ~ 'skyball2016.round.vs' | trans ~ ' ' ~ game.pointA  %}
                                {% else %}
                                    {% set result = '<span class="ours">' ~ game.pointB ~ '</span> ' ~ 'skyball2016.round.vs' | trans ~ ' ' ~ game.pointA %}
                                {% endif %}

                                {% set ownPoint = ownPoint + game.pointB %}
                                {% set enemyPoint = enemyPoint + game.pointA %}
                            {% elseif game.teamB is defined and game.teamB %}
                                {% set enemy = game.teamB.name %}
                                {% if game.pointA > game.pointB %}
                                    {% set result = '<span class="win ours">' ~ game.pointA ~ '</span> ' ~ 'skyball2016.round.vs' | trans ~ ' ' ~ game.pointB %}
                                {% elseif game.pointA < game.pointB %}
                                    {% set result = '<span class="lose ours">' ~ game.pointA ~ '</span> ' ~ 'skyball2016.round.vs' | trans ~ ' ' ~ game.pointB %}
                                {% else %}
                                    {% set result = '<span class="ours">' ~ game.pointA ~ '</span> ' ~ 'skyball2016.round.vs' | trans ~ ' ' ~ game.pointB %}
                                {% endif %}
                            {% endif %}

                            {% set ownPoint = ownPoint + game.pointA %}
                            {% set enemyPoint = enemyPoint + game.pointB %}

                            {% if game.round.number != r %}
                                <tr class="tr-center">
                                    <td colspan="4">{{ game.round.name }}</td>
                                </tr>
                                {% set r = game.round.number %}
                            {% endif %}
                            <tr>
                                <td>{{ game.gameType.name }}</td>
                                <td>{{ enemy }}</td>
                                <td>{{ result | raw }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            {% if ownPoint > enemyPoint %}
                                {% set result = '<span class="win ours">' ~ ownPoint ~ '</span> ' ~ 'skyball2016.round.vs' | trans ~ ' ' ~ enemyPoint %}
                            {% elseif ownPoint < enemyPoint %}
                                {% set result = '<span class="lose ours">' ~ ownPoint ~ '</span> ' ~ 'skyball2016.round.vs' | trans ~ ' ' ~ enemyPoint %}
                            {% else %}
                                {% set result = '<span class="ours">' ~ ownPoint ~ '</span> ' ~ 'skyball2016.round.vs' | trans ~ ' ' ~ enemyPoint %}
                            {% endif %}
                            <td>{% trans %}app.sum{% endtrans %}</td>
                            <td></td>
                            <td>{{ result | raw }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>


        <div class="clearfix">
            <a href="{{ path('skyball2016_team') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}skyball2016.team.back{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@SkyAthlonSkyBall2016Bundle/Resources/public/css/teams.scss' filter='scssphp' output='css/skyball2016_teams.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
