{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}basefall2016.team.editRanks{% endtrans %}</h1>

    <form name="team_editranks" method="post" action="{{ path('basefall2016_team_editranks') }}">
        <table id="teams-table" class="round-game-table round-teams-table table-bordered table-hover table-condensed">
            <thead class="table-info">
            <tr>
                <th>{% trans %}basefall2016.round.result{% endtrans %}</th>
                <th>{% trans %}basefall2016.round.team{% endtrans %}</th>
            </tr>
            </thead>
            <tbody>
            {% for team in teams %}
                <tr>
                    <td>
                        <label for="round-team-{{ loop.index }}">{{ loop.index }}</label>{{ loop.index }}
                    </td>
                    <td class="round-team-td round-game-team-right">
                        <select class="round-team-select" id="round-team-{{ loop.index }}" name="round-team-{{ loop.index }}">
                            {% for t in teams %}
                                {% set selected = '' %}
                                {% if t.id == team.id %}
                                    {% set selected = 'selected' %}
                                {% endif %}
                                <option {{ selected }} value="{{ t.id }}" data-data='{"src": "{{ t.computerName }}"}'>
                                    {{ t }}
                                </option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button class="btn btn-success pull-left" type="submit">
            <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
        </button>
    </form>

    <a href="{{ path('basefall2016_team') }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}basefall2016.team.back{% endtrans %}
    </a>
    <div style="clear: both; height: 400px;"></div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css" />
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
    {% javascripts '@SkyAthlonBaseFall2016Bundle/Resources/public/js/selectize.js' filter='jsqueeze' output='js/basefall2016_selectize.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}