{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <section class="col-md-12">
            <h1>{% trans %}basefall2016.team.teams{% endtrans %}</h1>

            {% if app.user.isSu %}
                <a href="{{ path('basefall2016_team_editranks') }}" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span> {% trans %}basefall2016.team.editRanks{% endtrans %}
                </a>
            {% endif %}

            <button id="print" class="btn btn-warning pull-right print-small print" data-print="PrintArea" data-title="{% trans %}basefall2016.team.teams{% endtrans %}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <p id="no-teams">{% trans %}basefall2016.team.noTeams{% endtrans %}</p>

            <div class="PrintArea">
                <table id="team-table" class="table-hover row-border table-info">
                    <thead>
                    <tr>
                        <th>{% trans %}basefall2016.team.team{% endtrans %}</th>
                        <th>{% trans %}basefall2016.team.leader{% endtrans %}</th>
                        <th>{% trans %}basefall2016.team.player1{% endtrans %}</th>
                        <th>{% trans %}basefall2016.team.player2{% endtrans %}</th>
                        <th>{% trans %}basefall2016.team.player3{% endtrans %}</th>
                        <th>{% trans %}basefall2016.team.rank{% endtrans %} ({% trans %}basefall2016.team.point{% endtrans %})</th>
                    </tr>
                    </thead>
                    <tbody class="list" id="team-body">
                    {% for team in teams %}
                        <tr>
                            <td>
                                <a href="{{ path('basefall2016_team_show', { 'id': team.computerName }) }}">
                                    <span class="teamname {{ team.computerName }}-flag-left">{{ team.name }} ({{ team.shortName }})</span>
                                </a>
                            </td>
                            <td>
                                <span class="player-number">{{ team.players[0].number }}</span>
                                <span class="player-name">{{ team.players[0].name }}</span>
                            </td>
                            <td>
                                <span class="player-number">{{ team.players[1].number }}</span>
                                <span class="player-name">{{ team.players[1].name }}</span>
                            </td>
                            <td>
                                <span class="player-number">{{ team.players[2].number }}</span>
                                <span class="player-name">{{ team.players[2].name }}</span>
                            </td>
                            <td>
                                <span class="player-number">{{ team.players[3].number }}</span>
                                <span class="player-name">{{ team.players[3].name }}</span>
                            </td>
                            <td>
                                <span class="teamRank">{{ team.rank }}</span>
                                (<span class="teamPoint">{{ team.point }}</span> {% trans %}basefall2016.team.pointStr{% endtrans %})
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

{% endblock %}

{% block stylesheets %}
    {% stylesheets '@SkyAthlonBaseFall2016Bundle/Resources/public/css/teams.scss' filter='scssphp' output='css/basefall2016_teams.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
