{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <section class="col-md-12">
            <h1>{{ 'basefall2016.team.teamTitle' | trans({'%team%': team.name }) }}</h1>

            <div class="col-md-12">
                <h2>{% trans %}basefall2016.team.commonData{% endtrans %}</h2>
                <table id="team-show-table" class="round-game-table table table-bordered table-hover table-condensed content-loaded dataTable no-footer team-show-table">
                    <thead>
                    <tr>
                        <th>{% trans %}basefall2016.team.leader{% endtrans %}</th>
                        <th>{% trans %}basefall2016.team.player1{% endtrans %}</th>
                        <th>{% trans %}basefall2016.team.player2{% endtrans %}</th>
                        <th>{% trans %}basefall2016.team.player3{% endtrans %}</th>
                        <th>{% trans %}basefall2016.team.rank{% endtrans %} ({% trans %}basefall2016.team.point{% endtrans %})</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ team.players[0].name }} ({{ team.players[0].number }})</td>
                        <td>{{ team.players[1].name }} ({{ team.players[1].number }})</td>
                        <td>{{ team.players[2].name }} ({{ team.players[2].number }})</td>
                        <td>{{ team.players[3].name }} ({{ team.players[3].number }})</td>
                        <td>
                            <span class="teamRank">{{ team.rank }}</span>
                            (<span class="teamPoint">{{ team.point }}</span> {% trans %}basefall2016.team.pointStr{% endtrans %})
                        </td>
                    </tr>
                    </tbody>
                </table>

                {% set ownPoint = 0 %}
                {% set enemyPoint = 0 %}

                <h2>{% trans %}basefall2016.team.games{% endtrans %}</h2>
                <table id="team-games-table" class="round-game-table table table-bordered table-hover table-condensed content-loaded dataTable no-footer team-show-table">
                    <thead>
                    <tr>
                        <th>{% trans %}basefall2016.game.type{% endtrans %}</th>
                        <th>{% trans %}basefall2016.game.enemyTeam{% endtrans %}</th>
                        <th>{% trans %}basefall2016.game.result{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% set r = 0 %}
                        {% for game in team.games %}
                            {% set result = game.pointA ~ ' ' ~ 'basefall2016.round.vs' | trans ~ ' ' ~ game.pointB %}
                            {% set enemy = '' %}
                            {% if game.teamA is defined and game.teamA %}
                                {% set enemy = game.teamA.name %}
                                {% if game.pointB > game.pointA %}
                                    {% set result = '<span class="win ours">' ~ game.pointB ~ '</span> ' ~ 'basefall2016.round.vs' | trans ~ ' ' ~ game.pointA %}
                                {% elseif game.pointB < game.pointA %}
                                    {% set result = '<span class="lose ours">' ~ game.pointB ~ '</span> ' ~ 'basefall2016.round.vs' | trans ~ ' ' ~ game.pointA  %}
                                {% else %}
                                    {% set result = '<span class="ours">' ~ game.pointB ~ '</span> ' ~ 'basefall2016.round.vs' | trans ~ ' ' ~ game.pointA %}
                                {% endif %}

                                {% set ownPoint = ownPoint + game.pointB %}
                                {% set enemyPoint = enemyPoint + game.pointA %}
                            {% elseif game.teamB is defined and game.teamB %}
                                {% set enemy = game.teamB.name %}
                                {% if game.pointA > game.pointB %}
                                    {% set result = '<span class="win ours">' ~ game.pointA ~ '</span> ' ~ 'basefall2016.round.vs' | trans ~ ' ' ~ game.pointB %}
                                {% elseif game.pointA < game.pointB %}
                                    {% set result = '<span class="lose ours">' ~ game.pointA ~ '</span> ' ~ 'basefall2016.round.vs' | trans ~ ' ' ~ game.pointB %}
                                {% else %}
                                    {% set result = '<span class="ours">' ~ game.pointA ~ '</span> ' ~ 'basefall2016.round.vs' | trans ~ ' ' ~ game.pointB %}
                                {% endif %}
                            {% endif %}

                            {% set ownPoint = ownPoint + game.pointA %}
                            {% set enemyPoint = enemyPoint + game.pointB %}

                            {% if game.round.number != r %}
                                <tr class="tr-center">
                                    <td colspan="4">{{ game.round.name }}</td>
                                </tr>
                                {% set r = game.round.number %}
                            {% endif %}
                            <tr>
                                <td>{{ game.gameType.name }}</td>
                                <td>{{ enemy }}</td>
                                <td>{{ result | raw }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            {% if ownPoint > enemyPoint %}
                                {% set result = '<span class="win ours">' ~ ownPoint ~ '</span> ' ~ 'basefall2016.round.vs' | trans ~ ' ' ~ enemyPoint %}
                            {% elseif ownPoint < enemyPoint %}
                                {% set result = '<span class="lose ours">' ~ ownPoint ~ '</span> ' ~ 'basefall2016.round.vs' | trans ~ ' ' ~ enemyPoint %}
                            {% else %}
                                {% set result = '<span class="ours">' ~ ownPoint ~ '</span> ' ~ 'basefall2016.round.vs' | trans ~ ' ' ~ enemyPoint %}
                            {% endif %}
                            <td>{% trans %}app.sum{% endtrans %}</td>
                            <td></td>
                            <td>{{ result | raw }}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>


        <div class="clearfix">
            <a href="{{ path('basefall2016_team') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}basefall2016.team.back{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@SkyAthlonBaseFall2016Bundle/Resources/public/css/teams.scss' filter='scssphp' output='css/basefall2016_teams.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
