{% extends 'SkyAthlonSkyOlimpia2017Bundle::base.html.twig' %}

{% block body %}
        <h1>{{ 'skyolimpia2017.game.edit' | trans({'%round%': game.gameType.round, '%type%': game.gameType.name, '%subtype%': game.name}) }}</h1>

    <div id="game-form-help">{{ 'skyolimpia2017.game.help' | trans | raw }}</div>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <button class="btn btn-success pull-left" type="submit">
            <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
        </button>
    {{ form_end(edit_form) }}

    <a href="{{ path('skyolimpia2017_round', {round: game.gameType.round.number}) }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}skyolimpia2017.round.back{% endtrans %}
    </a>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css" />
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
    {% javascripts '@SkyAthlonSkyOlimpia2017Bundle/Resources/public/js/selectize.js' filter='jsqueeze' output='js/skyolimpia2017_selectize.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
