{% extends 'SkyAthlonSkyBall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}menu.skyball2016.refs{% endtrans %}</h1>

    <div id="refs" class="round-item">
        <button id="print-by-players" class="btn btn-warning pull-right print-small print" data-print="printRefsByPlayers" data-title="{% trans %}skyball2016.player.refsByPlayersPrint{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}skyball2016.player.refsByPlayers{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printRefsByPlayers" style="overflow-x: auto">
            <table id="refs-table-players" class="round-game-table refs-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>{% trans %}skyball2016.round.player{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2016.game.ref{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2016.game.sref{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2016.game.jref{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for pid, player in refsByPlayers %}
                    <tr class="{{ player.team }}">
                        <td class="by-player-td">
                            <span class="sortby">{{ player.number }}</span>
                            <span class="player-number">{{ player.number }}</span>
                            <b><span>{{ player.name }}</span></b>
                        </td>
                        <td class="centered">{{ player.ref }}</td>
                        <td class="centered">{{ player.sref }}</td>
                        <td class="centered">{{ player.jref }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <button id="print-by-teams" class="btn btn-warning pull-right print-small print" data-print="printRefsByTeams" data-title="{% trans %}skyball2016.player.refsByTeamsPrint{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}skyball2016.player.refsByTeams{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printRefsByTeams" style="overflow-x: auto">
            <table id="refs-table-teams" class="round-game-table refs-table by-teams-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>{% trans %}skyball2016.team.team{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2016.game.ref{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2016.game.sref{% endtrans %}</th>
                    <th class="centered">{% trans %}skyball2016.game.jref{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for tid, team in refsByTeams %}
                    <tr class="{{ team.cname }}">
                        <td class="round-team-td round-game-team-right">
                            <span class="sortby">{{ team.order }}</span>
                            <span class="teamlogo"><img src="{{ asset('bundles/skyathlonskyball2016/images/logos/' ~ team.cname ~ '.png') }}" alt="{{ team.name }}" /></span>
                            <span class="round-game-team">{{ team.name }}</span>
                        </td>
                        <td class="centered">{{ team.ref }}</td>
                        <td class="centered">{{ team.sref }}</td>
                        <td class="centered">{{ team.jref }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
