{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.game.throwfall2017{% endtrans %}{% endblock %}
{% block favicon %}{{ asset('bundles/skyathlonthrowfall2017/images/throwfall_logo.ico') }}{% endblock %}

{% block stylesheets %}{% endblock %}
{% block moduleStylesheets %}
    {% stylesheets filter='scssphp' output='css/throwfall2017.css'
    '@SkyAthlonThrowFall2017Bundle/Resources/public/css/throwfall.scss'
    '@SkyAthlonThrowFall2017Bundle/Resources/public/css/teamcolors.scss'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}{% endblock %}
{% block moduleJavascripts %}
    {% javascripts filter='jsqueeze' output='js/throwfall2017.js'
    '@SkyAthlonThrowFall2017Bundle/Resources/public/js/round.js'
    '@SkyAthlonThrowFall2017Bundle/Resources/public/js/datatables.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
