<a class="navbar-brand header-logo-cont" rel="home" href="{{ path('throwfall2017_round_redirect') }}" title="{% trans %}menu.game.throwfall2017{% endtrans %}">
    {% image '@SkyAthlonThrowFall2017Bundle/Resources/public/images/throwfall_logo.png' %}
    <img class="header-logo" src="{{ asset_url }}" alt="{% trans %}menu.game.throwfall2017{% endtrans %}" />
    {% endimage %}
</a>

<li class="menu menu-fordulo menu-jatek" id="menu-rounds">
    <a href="{{ path('throwfall2017_round_redirect') }}">
        <i class="fa fa-trophy" aria-hidden="true"></i> {% trans %}menu.throwfall2017.rounds{% endtrans %}
    </a>
</li>

<li class="menu menu-csapat menu-csapatok" id="menu-teams">
    <a href="{{ path('throwfall2017_team') }}">
        <i class="fa fa-users" aria-hidden="true"></i> {% trans %}menu.throwfall2017.teams{% endtrans %}
    </a>
</li>
