{% extends 'SkyAthlonSkyBall2017Bundle::base.html.twig' %}

{% block body %}
    {% if app.user %}
        <iframe class="viewer" id="viewer" src="{{ asset('bundles/app/ViewerJS/index.html') }}#{{ asset('bundles/skyathlonskyball2017/pdf/skyball_2017.pdf') }}" width='100%' height='800' allowfullscreen></iframe>
    {% endif %}
{% endblock %}