{% extends 'SkyAthlonSkyOlimpia2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}skyolimpia2017.game.games{% endtrans %}</h1>

    <div class="round-item">
        <button id="print" class="btn btn-warning pull-right print-small print" data-print="printMedals" data-title="{{ 'skyolimpia2017.round.teamMedalsPerGame' | trans}}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{{ 'skyolimpia2017.round.teamMedalsPerGame' | trans }}</h2>
        </div>

        <div class="round-body clearfix PrintArea printMedals" style="overflow-x: auto">
            <table id="medals-table" class="small round-game-table first-bold table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>{% trans %}skyolimpia2017.game.nameShort{% endtrans %}</th>
                    <th class="medal medal-gold">{% trans %}skyolimpia2017.medal.gold{% endtrans %}</th>
                    <th class="medal medal-silver">{% trans %}skyolimpia2017.medal.silver{% endtrans %}</th>
                    <th class="medal medal-bronze">{% trans %}skyolimpia2017.medal.bronze{% endtrans %}</th>
                    <th>{% trans %}skyolimpia2017.medal.four{% endtrans %}</th>
                    <th>{% trans %}skyolimpia2017.medal.five{% endtrans %}</th>
                    <th>{% trans %}skyolimpia2017.medal.six{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for medal in medals %}
                    {% set gold = medal.gold.teams %}
                    {% set silver = medal.silver.teams %}
                    {% set bronze = medal.bronze.teams %}
                    {% set four = medal.four.teams %}
                    {% set five = medal.five.teams %}
                    {% set six = medal.six.teams %}

                    {% set class = '' %}
                    {% set sexType = medal.gameType.sexType %}
                    {% if sexType == 1 %}
                        {% set class = 'male' %}
                    {% elseif sexType == 2 %}
                        {% set class = 'female' %}
                    {% elseif sexType == 3 %}
                        {% set class = 'shemale' %}
                    {% endif %}
                    <tr class="{{ class }}">
                        <td>{{ medal.gameType.name }}</td>
                        <td>
                            {% if gold %}
                                {% for team in gold %}
                                    <span class="block team-flag-left {{ team.team.computerName }}-flag-left-small">
                                        {# team.team.name #}
                                        {% if medal.gold.number %}
                                            {% for i in 1..medal.gold.number %}
                                                <span class="medal medal-gold" style="margin-left: -5px;"></span>
                                            {% endfor %}
                                            {% if team.players %}
                                                {{ team.players | join(', ') }}
                                            {% endif %}
                                        {% endif %}
                                        </span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if silver %}
                                {% for team in silver %}
                                    <span class="block team-flag-left {{ team.team.computerName }}-flag-left-small">
                                        {# team.team.name #}
                                        {% if medal.silver.number %}
                                            {% for i in 1..medal.silver.number %}
                                                <span class="medal medal-silver" style="margin-left: -5px;"></span>
                                            {% endfor %}
                                            {% if team.players %}
                                                {{ team.players | join(', ') }}
                                            {% endif %}
                                        {% endif %}
                                        </span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if bronze %}
                                {% for team in bronze %}
                                    <span class="block team-flag-left {{ team.team.computerName }}-flag-left-small">
                                        {# team.team.name #}
                                        {% if medal.bronze.number %}
                                            {% for i in 1..medal.bronze.number %}
                                                <span class="medal medal-bronze" style="margin-left: -5px;"></span>
                                            {% endfor %}
                                            {% if team.players %}
                                                {{ team.players | join(', ') }}
                                            {% endif %}
                                        {% endif %}
                                        </span>
                                {% endfor %}
                            {% endif %}
                        </td>

                        <td>
                            {% if four %}
                                {% for team in four %}
                                    <span class="block team-flag-left {{ team.team.computerName }}-flag-left-small">
                                        {# team.team.name #}
                                        {% if medal.four.number %}
                                            {% if team.players %}
                                                {{ team.players | join(', ') }}
                                            {% endif %}
                                        {% endif %}
                                        </span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if five %}
                                {% for team in five %}
                                    <span class="block team-flag-left {{ team.team.computerName }}-flag-left-small">
                                        {# team.team.name #}
                                        {% if medal.five.number %}
                                            {% if team.players %}
                                                {{ team.players | join(', ') }}
                                            {% endif %}
                                        {% endif %}
                                        </span>
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>
                            {% if six %}
                                {% for team in six %}
                                    <span class="block team-flag-left {{ team.team.computerName }}-flag-left-small">
                                        {# team.team.name #}
                                        {% if medal.six.number %}
                                            {% if team.players %}
                                                {{ team.players | join(', ') }}
                                            {% endif %}
                                        {% endif %}
                                        </span>
                                {% endfor %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
