<a class="navbar-brand header-logo-cont" rel="home" href="{{ path('skysports2017_round_redirect') }}" title="{% trans %}menu.game.skysports2017{% endtrans %}">
    {% image '@AppBundle/Resources/public/images/skyathlon_logo.png' %}
    <img class="header-logo" src="{{ asset_url }}" alt="{% trans %}menu.game.skysports2017{% endtrans %}" />
    {% endimage %}
</a>

<li class="menu menu-fordulo menu-jatek" id="menu-rounds">
    <a href="{{ path('skysports2017_round_redirect') }}">
        <i class="fa fa-trophy" aria-hidden="true"></i> {% trans %}menu.skysports2017.rounds{% endtrans %}
    </a>
</li>
