{% extends 'SkyAthlonSkyBall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}skyball2016.round.rounds{% endtrans %}</h1>

    <div id="round-navigation" class="navigation">
        {{ knp_pagination_render(rounds) }}
    </div>

    {% for round in rounds %}
        <div id="round-stats" class="navigation">
            {% if not round.playoffs %}
                <a class="btn btn-primary" href="{{ path('skyball2016_round_teams', {round: round.number}) }}">
                    {% trans %}skyball2016.round.menuSummary{% endtrans %}
                </a>
            {% endif %}
            <a class="btn btn-default" href="{{ path('skyball2016_round', {round: round.number}) }}">
                {% trans %}skyball2016.round.menuGames{% endtrans %}
            </a>
            <a class="btn btn-default" href="{{ path('skyball2016_round_players', {round: round.number}) }}">
                {% trans %}skyball2016.round.menuPlayers{% endtrans %}
            </a>
        </div>

        <div id="round-{{ round.id }}" class="round-item">
            {% if app.user %}
                {% if (app.user.isAdmin and not round.closed) or app.user.isSu %}
                    <a style="margin: 10px;" href="{{ path('skyball2016_round_edit_team_stats', {roundid: round.number}) }}" class="round-edit btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-edit"></span> {% trans %}skyball2016.round.editTeamsButton{% endtrans %}
                    </a>
                {% endif %}
            {% endif %}

            <button id="print" class="btn btn-warning pull-right print-small print" data-print="PrintArea" data-title="{{ 'skyball2016.round.sum' | trans({'%game%': round.fullName }) }}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <div class="round-head" style="clear: both;">
                <h2 class="round-title" style="text-align: center;">{{ 'skyball2016.round.sum' | trans({'%game%': round.fullName }) }}</h2>
            </div>

            <div class="round-body PrintArea">
                <table id="round-teams-table-{{ round.id }}" class="round-sumteam-table round-game-table round-teams-table table-bordered table-hover table-condensed">
                    <thead class="table-info">
                    <tr>
                        <th>{% trans %}skyball2016.round.result{% endtrans %}</th>
                        <th>{% trans %}skyball2016.round.pointStr{% endtrans %}</th>
                        <th>{% trans %}skyball2016.round.team{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody id="round-players-tbody-{{ round.id }}">
                        {% set j = 1 %}
                        {% for team in teams %}
                            {% set cpName = team and team.computerName ? team.computerName : 'questionmark' %}
                            {% set name = team and team.name ? team.name : '' %}
                            <tr id="round-team-{{ round.id }}-{{ j }}">
                                <td class="round-game-team-left {{ cpName }}">{{ j }}</td>
                                <td class="round-game-team-left">{{ 'skyball2016.round.point' | trans({'%point%': rrTypes[j]}) }}</td>
                                <td class="round-team-td round-game-team-right {{ cpName }}" id="round-team-td-{{ round.id }}-p">
                                    <span class="teamlogo"><img src="{{ asset('bundles/skyathlonskyball2016/images/logos/' ~ cpName ~ '.png') }}" alt="{{ name }}" /></span>
                                    <span class="round-game-team">{{ name }}</span>
                                </td>
                            </tr>

                            {% set j = j + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/newsitem.scss' filter='scssphp' output='css/skyball2016_newsitem.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
