$teams: (amazonok, deaematres, demonok, druidess, flamenco, fonix, heszperidak, muzsak, najadok, vesta, waterfalls);

$amazonok-trans: rgba(161, 66, 244, .8);
$deaematres-trans: rgba(140, 89, 19, .8);
$demonok-trans: rgba(132, 0, 0, .8);
$druidess-trans: rgba(4, 70, 249, .8);
$flamenco-trans: rgba(0, 0, 0, .8);
$fonix-trans: rgba(4, 70, 249, .8);
$heszperidak-trans: rgba(200, 200, 200, .8);
$muzsak-trans: rgba(4, 243, 247, .8);
$najadok-trans: rgba(4, 237, 39, .8);
$vesta-trans: rgba(111, 181, 252, .8);
$waterfalls-trans: rgba(70, 92, 247, .8);

$colors: ($amazonok-trans, $deaematres-trans, $demonok-trans, $druidess-trans, $flamenco-trans, $fonix-trans, $heszperidak-trans, $muzsak-trans, $najadok-trans, $vesta-trans, $waterfalls-trans);

@for $i from 1 through length($teams) {
    $team: nth($teams, $i);

    .#{$team}>td:first-child {
        border-left: 5px solid nth($colors, $i);
    }

    .#{$team}>td:last-child {
        border-right: 5px solid nth($colors, $i);
    }

    .border-left-#{$team} {
        border-left: 2px solid nth($colors, $i);
    }

    .border-right-#{$team} {
        border-right: 2px solid nth($colors, $i);
    }

    .border-left-table-#{$team} {
        border-left: 4px solid nth($colors, $i) !important;
    }

    .border-right-table-#{$team} {
        border-right: 4px solid nth($colors, $i) !important;
    }

    .team-color-#{$team} {
        color: nth($colors, $i);
    }
}

.team-logo-left {
    margin-right: 20px;
    vertical-align: middle;

    &:before {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        content: '';
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        vertical-align: bottom;
    }
}

.team-logo-right {
    margin-left: 20px;
    vertical-align: middle;

    &:after {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        content: '';
        display: inline-block;
        margin-left: 10px;
        text-align: center;
        vertical-align: bottom;
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    .team-flag-left {
        &:before {
            display: none;
        }
    }

    .team-flag-right {
        &:after {
            display: none;
        }
    }
}
