{% extends 'SkyAthlonSkyOlimpia2017Bundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <section class="col-md-12">
            <h1>{% trans %}menu.skyolimpia2017.graph{% endtrans %}</h1>

            <div id="round-stats" class="navigation">
                <a class="btn btn-default" href="{{ path('skyolimpia2017_graph_team') }}">{% trans %}skyolimpia2017.graph.team{% endtrans %}</a>
                <a class="btn btn-primary" href="{{ path('skyolimpia2017_graph') }}">{% trans %}skyolimpia2017.graph.player{% endtrans %}</a>
                <a class="btn btn-default" href="{{ path('skyolimpia2017_graph_ds') }}">{% trans %}skyolimpia2017.graph.ds{% endtrans %}</a>
            </div>

            <div class="round-item">
                <h2 class="tableh2">{% trans %}skyolimpia2017.player.onlyMedals{% endtrans %}</h2>
                <div class="chart-cont">
                    <div id="chart_medal_sum" class="chart-point-medal">
                        <div class="loading-pulse"></div>
                    </div>
                </div>
                <div class="chart-cont">
                    <div id="chart_medal_male" class="chart-point-medal">
                        <div class="loading-pulse"></div>
                    </div>
                </div>
                <div class="chart-cont">
                    <div id="chart_medal_female" class="chart-point-medal">
                        <div class="loading-pulse"></div>
                    </div>
                </div>

                <h2 class="tableh2">{% trans %}skyolimpia2017.player.points{% endtrans %}</h2>
                <div class="chart-cont">
                    <div id="chart_point_sum" class="chart-point-medal">
                        <div class="loading-pulse"></div>
                    </div>
                </div>
                <div class="chart-cont">
                    <div id="chart_point_male" class="chart-point-medal">
                        <div class="loading-pulse"></div>
                    </div>
                </div>
                <div class="chart-cont">
                    <div id="chart_point_female" class="chart-point-medal">
                        <div class="loading-pulse"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='scssphp' output='css/skyolimpia2017_chart.css'
    '@SkyAthlonSkyOlimpia2017Bundle/Resources/public/css/chart.scss'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="//www.gstatic.com/charts/loader.js"></script>
    {% javascripts  filter='jsqueeze' output='js/skyolimpia2017_chart.js'
    '@SkyAthlonSkyOlimpia2017Bundle/Resources/public/js/charts.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}