@import 'colors';

.chart-cont {
    background: $color-white;
    border: 1px solid $color-dark-grey;
    clear: both;
    height: 600px;
    margin-bottom: 20px;
    width: 100%;
}

.chart-point-medal {
    height: 598px;
    width: calc(100% - 2px);
}

[width="30"] {
    stroke: $color-black;
    stroke-width: 2;
}

svg > g > [text-anchor="start"] {
    font-size: 20px;
}

$off-white: rgba($color-abcblue, .2);
$base-line-height: 80px;
$spin-duration: 1s;
$pulse-duration: 750ms;

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes pulse {
    50% {
        background: $color-abcblue;
    }
}

.loading-pulse {
    animation: pulse $pulse-duration infinite;
    animation-delay: ($pulse-duration / 3);
    background: $off-white;
    height: $base-line-height;
    margin: 250px auto;
    position: relative;
    width: ($base-line-height / 4);

    &:before,
    &:after {
        content: '';
        position: absolute;
        display: block;
        height: ($base-line-height / 1.5);
        width: ($base-line-height / 4);
        background: $off-white;
        top: 50%;
        transform: translateY(-50%);
        animation: pulse $pulse-duration infinite;
    }

    &:before {
        left: -($base-line-height / 2);
    }

    &:after {
        left: ($base-line-height / 2);
        animation-delay: ($pulse-duration / 1.5);
    }
}