@import 'colors';

body {
    background: $color-white url('../bundles/skyathlonskyolimpia2017/images/skyolimpia_bg.png') top center no-repeat fixed;
}

#game-form-help {
    margin: 0 auto 5px;
    text-align: center;
}

#game_description {
    height: 150px;
    margin-bottom: 10px;
}

.round-game {
    background: $color-transparent;

    .round-game-type {
        &.female {
            background: $color-female-th;
        }

        &.shemale {
            background: $color-shemale-th;
        }

        .edit-game {
            position: relative;
        }

        .game-description-head {
            border-bottom: 1px solid $color-dark-grey;
            display: block;
            font-size: .8em;
            font-weight: bold;
            margin: 0 auto 5px;
            padding: 5px;
            text-align: center;
        }
    }

    .round-game-head {
        height: 32px;
        padding-top: 5px;
        text-align: center;

        .round-game-item {
            display: table-cell;

            &.col {
                margin-bottom: 5px;

                &.col-sm-6 {
                    &:nth-child(even) {
                        padding-left: 10px;
                        text-align: left;
                    }

                    &:nth-child(odd) {
                        padding-right: 10px;
                        text-align: right;
                    }
                }
            }

            &.win {
                color: $color-win;
                font-weight: bold;
            }

            &.lose {
                color: $color-lose;
                font-weight: bold;
            }
        }
    }
}

#content #players-table tbody td,
#content #players-table2 tbody td {
    &:first-child,
    &:nth-child(2) {
        font-size: 20px;
        padding: 10px;
        vertical-align: middle;
    }
}

.tableh2 {
    float: left;
    padding-left: 5px;
}

.round-game-group-title {
    background: $color-abcblue;
    color: $color-white;
    margin: 40px 10px -2px;

    &:first-child {
        margin: 20px 10px -2px;
    }

    &.female {
        background: $color-female;
    }

    &.shemale {
        background: $color-shemale;
    }
}

.round-game-group-subtitle {
    background: $color-blue-table-dark;
    color: $color-dark-grey;

    &.female {
        background: $color-female-sec;
    }

    &.shemale {
        background: $color-shemale-sec;
    }
}

.selectize-control {
    &.round-player-select {
        height: 43px;
    }

    .selectize-dropdown-content {
        max-height: 400px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
}

.female {
    td {
        background: $color-female-th;
    }
}

.male {
    td {
        background: $color-male-th;
    }
}

.form-group {
    margin-bottom: 0;
}

.result-gametype {
    background: $color-note;
    border: 1px solid $color-abcblue;
    display: block;
    font-size: .8em;
    margin-bottom: 5px;
    padding: 2px 5px;
}

.result-number {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px auto;
}

.newline {
    display: block;
}

#medals-table,
#medals-table2 {
    th {
        border-bottom: 1px solid $color-report-dark;
        padding: 10px 18px;
    }

    td {
        background: $color-white;
        padding: 10px 18px;
        vertical-align: middle;

        &:first-child {
            white-space: normal;
        }

        &:not(:first-child) {
            white-space: nowrap;
        }
    }

    &.small {
        td {
            font-size: 1em;
            padding: 5px 8px;
            vertical-align: initial;
        }
    }

    .female {
        td {
            background: $color-female-th;
        }
    }

    .male {
        td {
            background: $color-male-th;
        }
    }

    .shemale {
        td {
            background: $color-shemale-th;
        }
    }
}

#team-medals-table {
    width: 550px;
}

#team-points-table {
    width: 300px;
}

.up {
    color: $color-win;

    &:before {
        content: '\f176';
        font-family: FontAwesome, serif;
        margin-right: 5px;
    }
}

.down {
    color: $color-lose;

    &:before {
        content: '\f175';
        font-family: FontAwesome, serif;
        margin-right: 5px;
    }
}

@mixin medal($team, $width, $height) {
    height: #{($height + 2)}px;
    line-height: #{($height + 2)}px;

    &:after {
        background-image: url('../bundles/skyathlonskyolimpia2017/images/medals/#{$team}-medal.png');
        height: #{($height)}px;
        line-height: #{($height)}px;
        width: #{$width}px;
    }
}

$medals: ('gold', 'silver', 'bronze');

@for $i from 1 through length($medals) {
    $medal: nth($medals, $i);

    .medal-#{$medal} {
        @include medal($medal, 18, 16);
    }

    .medal-big-#{$medal} {
        @include medal($medal, 20, 24);
    }
}

.medal {
    margin-left: 4px;
    vertical-align: middle;

    &.col {
        margin-left: 0;
    }

    &:after {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        content: '';
        display: inline-block;
        margin-left: 4px;
        text-align: center;
        vertical-align: sub;
    }
}

.collapsible:after {
    content: '\e113';
    float: right;
    font-family: 'Glyphicons Halflings', serif;
}

.collapsible.collapsed:after {
    content: '\e114';
}

.first-bold {
    td {
        &:first-child {
            font-weight: bold;
        }
    }
}

.game-rank {
    background: $color-white;
    border: 1px solid $color-dark-grey;
    border-radius: 14px;
    color: $color-dark-grey;
    display: inline-block;
    font-size: .9em;
    font-weight: normal;
    height: 29px;
    margin-left: 8px;
    padding: 0 6px;

    &.win {
        color: $color-win;
        font-weight: bold;
    }

    &.lose {
        color: $color-lose;
        font-weight: bold;
    }

    &:empty {
        display: none;
    }
}
