$color-fakeblack: #000;
$color-fakewhite: #fff;

@mixin flag-left($team, $width, $height) {
    height: #{($height + 2)}px;
    line-height: #{($height + 2)}px;

    &:before {
        background-image: url('../bundles/skyathlonskyolimpia2017/images/flags/#{$team}.jpg');
        height: #{($height)}px;
        line-height: #{($height)}px;
        width: #{$width}px;
    }
}

$teams: (acropolis, arktika, greenhorisont, humans, icarus, kaludonia, mithlond, northernlights, orion, paxlaurea, risingsun, silvergreen);

@for $i from 1 through length($teams) {
    $team: nth($teams, $i);

    .#{$team}-selectize {
        @include flag-left($team, 42, 22);

        .col-sm-1 & {
            @include flag-left($team, 30, 16);
        }
    }

    .#{$team}-flag-left {
        @include flag-left($team, 32, 26);
    }

    .#{$team}-flag-left-small {
        @include flag-left($team, 26, 18);
        font-size: 13px;
    }
}

.team-selectize {
    display: inline-block;
    height: 20px;
    line-height: 20px;

    .selectize-dropdown.round-player-select & {
        display: block;
        height: 34px;
        line-height: 22px;
    }

    &:before {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        content: '';
        display: inline-block;
        margin-right: 7px;
        text-align: center;
        vertical-align: middle;
    }
}

.team-flag-left {
    margin-right: 20px;
    vertical-align: middle;

    &:last-child,
    &.col {
        margin-right: 0;
    }

    &:before {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        content: '';
        display: inline-block;
        margin-right: 5px;
        text-align: center;
        vertical-align: sub;
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    .team-flag-left {
        &:before {
            display: none;
        }
    }
}
