{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    {% if app.user %}
        <iframe class="viewer" id="viewer" src="{{ asset('bundles/app/ViewerJS/index.html') }}#{{ asset('bundles/skyathlonbasefall2016/pdf/basefall_2016.pdf') }}" width='100%' height='800' allowfullscreen webkitallowfullscreen></iframe>
    {% endif %}
{% endblock %}