{% extends 'SkyAthlonSkyBall2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{{ 'skyball2017.game.editPlayerStats' | trans({'%teamA%': game.teamA, '%teamB%': game.teamB, '%type%': game.realGameType}) }}</h1>

    {% set jref = '?' %}
    {% if game.jref and not game.srefb %}
        {% set jref = game.jref %}
    {% elseif game.jref and game.srefb %}
        {% set jref = game.jref ~ '&nbsp;,&nbsp;' ~ game.srefb %}
    {% elseif game.srefb and not game.jref %}
        {% set jref = game.srefb %}
    {% endif %}

    <div class="round-game">
        <div class="round-game-type ref">
            <div class="col-xs-3">{% trans %}skyball2017.game.ref{% endtrans %}: {{ game.ref ? game.ref : '?' }}</div>
            <div class="col-xs-3">{% trans %}skyball2017.game.sref{% endtrans %}: {{ game.sref ? game.sref : '?' }}</div>
            <div class="col-xs-3">{% trans %}skyball2017.game.jrefShort{% endtrans %}: {{ jref | raw }}</div>
            <div class="col-xs-3">{% trans %}skyball2017.game.spicli{% endtrans %}: {{ game.spicli ? game.spicli : '?' }}</div>
        </div>
    </div>

    <form name="game_playerstats" method="post" action="{{ path('skyball2017_game_edit_player_stats', {roundid: roundid, game: game.id}) }}">
        <table id="edit-player-results" class="round-game-table table table-bordered table-hover table-condensed">
            <thead class="table-info">
            <tr>
                <th>{% trans %}skyball2017.round.player{% endtrans %}</th>
                {% for kcType in kcTypes %}
                    <th class="centered kerchief-{{ kcType.kerchiefCategory.computerName }}">{{ kcType.computerName }}{# <span class="kerchief-small">{{ kcType.name }}</span>#}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody id="round-game-tbody-{{ game.id }}">
            {% for i, player in results.players %}
                {% set p = player[0].player %}
                <tr id="round-game-player-{{ game.id }}-{{ p.id }}" class="{{ p.team }}">
                    <td class="round-game-player-td {{ p.team }}-text" id="round-game-player-td-{{ game.id }}-p">
                        <span class="sortby">{{ i }}</span>
                        <span class="player-number">{{ p.number }}</span> <b>{{ p.name }}</b>
                    </td>
                    {% for j, kc in player %}
                        {% set readonly = '' %}
                        {% set tabindex = '' %}
                        {% if kc.kerchiefType.computerName == 'G' or kc.kerchiefType.computerName == 'SP' %}
                            {% set readonly = 'readonly' %}
                            {% set tabindex = 'tabindex=-1' %}
                        {% endif %}
                        <td class="centered" id="round-game-player-td-{{ game.id }}-{{ j }}">
                            <label for="{{ game.id }}-{{ j }}"></label>
                            <input type="number" min="0" data-player="{{ p.id }}" data-type="{{ kc.kerchiefType.computerName }}" id="{{ kc.id }}" name="{{ kc.id }}" class="mass-input" value="{{ kc.value }}" {{ readonly }} {{ tabindex }} />
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="form-group">
            <label class="control-label" for="gameLength">{% trans %}skyball2017.game.length{% endtrans %}</label>
            <select id="gameLength" name="gameLength" class="form-control">
                <option value=""></option>
                {% for gameLength in gameLengths %}
                    <option value="{{ gameLength.id }}"{% if game.gameLength and game.gameLength.id == gameLength.id %} selected="selected"{% endif %}>{{ gameLength.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="description">{% trans %}skyball2017.game.description{% endtrans %}</label>
            <textarea class="form-control" rows="5" name="description" id="description">{{ game.description }}</textarea>
        </div>

        <div class="checkbox">
            <input type="checkbox" name="recalc" value="recalc" id="recalc" checked />
            <label for="recalc">{% trans %}skyball2017.round.reCalculatePoints{% endtrans %}</label>
        </div>
        <div class="checkbox">
            <input type="checkbox" name="current" value="current" id="current"{% if current %} checked{% endif %}>
            <label for="current">{% trans %}skyball2017.game.current{% endtrans %}</label>
        </div>
        <button class="btn btn-success pull-left" type="submit">
            <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
        </button>
    </form>

    <a href="{{ path('skyball2017_round', {round: roundid}) }}#{{ game.gameType.computerName }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}skyball2017.round.back{% endtrans %}
    </a>
{% endblock %}
