{% extends 'SkyAthlonSkyBall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}skyball2016.round.rounds{% endtrans %}</h1>

    {% if app.user %}
        {% if app.user.isAdmin %}
            <a href="{{ path('skyball2016_round_new') }}" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> {% trans %}skyball2016.round.create{% endtrans %}
            </a>
            <a href="{{ path('skyball2016_reorder_playoff') }}" id="orderPlayoffButton" class="btn btn-primary">
                <i class="fa fa-sort" aria-hidden="true"></i> {% trans %}skyball2016.round.reorderPlayoff{% endtrans %}
            </a>
        {% endif %}
    {% endif %}

    <div id="filter-teams" class="pull-right">
        <span class="filter-team-text">{% trans %}skyball2016.round.filter{% endtrans %}</span>
        <input id="filter-team" type="text" />
    </div>

    <div id="round-navigation" class="navigation">
        {{ knp_pagination_render(rounds) }}
    </div>

    {% for round in rounds %}
        <script>
            var isPlayoffs = {{ round.playoffs ? 'true' : 'false' }};
        </script>
        <div id="round-stats" class="navigation">
            {% if not round.playoffs %}
                <a class="btn btn-default" id="noplayoff" href="{{ path('skyball2016_round_teams', {round: round.number}) }}">
                    {% trans %}skyball2016.round.menuSummary{% endtrans %}
                </a>
            {% else %}
                <span id="isplayoff"></span>
            {% endif %}
            <a class="btn btn-primary" href="{{ path('skyball2016_round', {round: round.number}) }}">
                {% trans %}skyball2016.round.menuGames{% endtrans %}
            </a>
            <a class="btn btn-default" href="{{ path('skyball2016_round_players', {round: round.number}) }}">
                {% trans %}skyball2016.round.menuPlayers{% endtrans %}
            </a>
        </div>

        <div id="round-{{ round.id }}" class="round-item">
            <div class="round-head">
                {% if app.user %}
                    {% if (app.user.isAdmin and not round.closed) or app.user.isSu %}
                        <a href="{{ path('skyball2016_round_edit', {id: round.id}) }}" class="round-edit btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-edit"></span> {% trans %}skyball2016.round.editButton{% endtrans %}
                        </a>
                        {% if round.playoffs %}
                            <a href="{{ path('skyball2016_game_new', {roundid: round.number}) }}" class="round-edit btn btn-success pull-right" style="margin-right: 10px;">
                                <span class="glyphicon glyphicon-plus"></span> {% trans %}skyball2016.game.new{% endtrans %}
                            </a>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <h2 class="round-title">{{ 'skyball2016.round.games' | trans({'%game%': round.fullName }) }}</h2>
            </div>
            <div class="round-body">
                {% for game in round.games %}
                    {% set pointA = game.pointA ? game.pointA : 0 %}
                    {% set pointB = game.pointB ? game.pointB : 0 %}
                    {% set classA = 'round-game-point-yellow' %}
                    {% set classB = 'round-game-point-yellow' %}
                    {% set classResultA = 'round-game-egal' %}
                    {% set classResultB = 'round-game-egal' %}
                    {% if pointA > pointB %}
                        {% set classA = 'round-game-point-green' %}
                        {% set classB = 'round-game-point-red' %}
                        {% set classResultA = 'round-game-win' %}
                        {% set classResultB = 'round-game-lose' %}
                    {% elseif pointB > pointA %}
                        {% set classA = 'round-game-point-red' %}
                        {% set classB = 'round-game-point-green' %}
                        {% set classResultA = 'round-game-lose' %}
                        {% set classResultB = 'round-game-win' %}
                    {% endif %}
                    {% set teamClassA = game.teamA ? game.teamA.computerName : '' %}
                    {% set teamClassB = game.teamB ? game.teamB.computerName : '' %}
                    {% set teamA = game.teamA ? game.teamA : '?' %}
                    {% set teamAurl = teamA == '?' ? teamA : '<a class="team-name-a" target="_blank" href="' ~ path('skyball2016_team_show', {id: game.teamA.computerName}) ~ '">' ~ teamA ~ '</a>' %}
                    {% set teamB = game.teamB ? game.teamB : '?' %}
                    {% set teamBurl = teamB == '?' ? teamB : '<a class="team-name-a" target="_blank" href="' ~ path('skyball2016_team_show', {id: game.teamB.computerName}) ~ '">' ~ teamB ~ '</a>' %}
                    {% set imageA = game.teamA ? 'bundles/skyathlonskyball2016/images/logos/' ~ game.teamA.computerName ~ '.png' : 'bundles/skyathlonskyball2016/images/logos/noteam.png' %}
                    {% set imageB = game.teamB ? 'bundles/skyathlonskyball2016/images/logos/' ~ game.teamB.computerName ~ '.png' : 'bundles/skyathlonskyball2016/images/logos/noteam.png' %}

                    {% if game.gameType.groupTitle %}
                        <h3 class="round-game-group-title">{{ game.gameType.groupTitle | trans }}</h3>
                    {% endif %}
                    <div class="anchor" id="{{ game.gameType.computerName }}"></div>
                    <div class="round-game round-game-type-{{ game.gameType.computerName }}">
                        <div class="round-game-type">
                            <span>{{ game.gameType }}</span>
                        </div>

                        {% set sref = '?' %}
                        {% if game.sref and not game.srefb %}
                            {% set sref = game.sref %}
                        {% elseif game.sref and game.srefb %}
                            {% set sref = game.sref ~ '&nbsp;,&nbsp;' ~ game.srefb %}
                        {% elseif game.srefb and not game.sref %}
                            {% set sref = game.srefb %}
                        {% endif %}
                        
                        <div class="round-game-type ref">
                        	<div class="col-xs-4">{% trans %}skyball2016.game.ref{% endtrans %}: {{ game.ref ? game.ref : '?' }}</div>
                        	<div class="col-xs-4">{% trans %}skyball2016.game.srefs{% endtrans %}: {{ sref | raw }}</div>
                        	<div class="col-xs-4">{% trans %}skyball2016.game.jref{% endtrans %}: {{ game.jref ? game.jref : '?' }}</div>
                        </div>
                         
                            {% if app.user %}
                                {% if (app.user.isAdmin and not round.closed) or app.user.isSu %}
                                    <div class="round-game-type">
                                        <span> </span>
                                        {% if not game.isPreGame and game.teamA and game.teamB %}
                                            <a href="{{ path('skyball2016_game_edit_player_stats', {roundid: round.number, game: game.id}) }}" class="btn btn-primary btn-xs edit-game-stats pull-left" id="round-game-edit-{{ game.id }}">
                                                <span class="glyphicon glyphicon-edit"></span> {% trans %}skyball2016.game.editKerchiefButton{% endtrans %}
                                            </a>
                                        {% endif %}
                                        <a href="{{ path('skyball2016_game_edit', {roundid: round.number, game: game.id}) }}" class="btn btn-primary btn-xs edit-game">
                                            <span class="glyphicon glyphicon-edit"></span> {% trans %}skyball2016.game.editButton{% endtrans %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                            
                        <div class="round-game-head">
                            <span class="col-xs-5 round-game-head-item round-game-team-left round-game-head-center {{ classResultA }} {{ teamClassA }}">
                                <span class="teamlogo"><img src="{{ asset(imageA) }}" alt="{{ teamA }}" /></span>
                                <span class="round-game-team {{ teamClassA }}">{{ teamAurl | raw }}</span>
                            </span>
                            <span class="col-xs-2 round-game-head-item round-game-head-center {{ classResultA }}-{{ classResultB }}">
                                <span class="col-xs-4 round-game-point {{ classA }}">{{ game.pointA ? game.pointA : 0 }}</span>
                                <span class="col-xs-4">{% trans %}skyball2016.round.vs{% endtrans %}</span>
                                <span class="col-xs-4 round-game-point {{ classB }}">{{ game.pointB ? game.pointB : 0 }}</span>
                            </span>
                            <span class="col-xs-5 round-game-head-item round-game-team-right round-game-head-center {{ classResultB }} {{ teamClassB }}">
                                <span class="round-game-team {{ teamClassB }}">{{ teamBurl | raw }}</span>
                                <span class="teamlogo"><img src="{{ asset(imageB) }}" alt="{{ teamB }}" /></span>
                            </span>
                        </div>

                        <div class="round-game-body collapse in">
                            <div class="round-game-showhide-container">
                                {% if game.teamA and game.teamB and game.gameType.computerName != 'eloselejtezo_1' and game.gameType.computerName != 'eloselejtezo_2' %}
                                    <div id="round-game-showhide2-{{ game.id }}" class="round-game-showhide round-game-showhide2" data-target="{{ game.id }}">
                                        {% trans %}skyball2016.round.gameInfo2{% endtrans %}
                                    </div>
                                {% endif %}
                            </div>

                            {% if game.gameType.computerName != 'eloselejtezo_1' and game.gameType.computerName != 'eloselejtezo_2' %}
                                <div class="round-game-inner-body" id="round-game-body2-{{ game.id }}" style="overflow-x: auto">
                                    <div id="round-game-kerchiefs-{{ game.id }}" class="table-responsive inline-display">
                                        <div id="spinner-{{ game.id }}">
                                            <div class="sk-circle">
                                                <div class="sk-circle1 sk-child"></div>
                                                <div class="sk-circle2 sk-child"></div>
                                                <div class="sk-circle3 sk-child"></div>
                                                <div class="sk-circle4 sk-child"></div>
                                                <div class="sk-circle5 sk-child"></div>
                                                <div class="sk-circle6 sk-child"></div>
                                                <div class="sk-circle7 sk-child"></div>
                                                <div class="sk-circle8 sk-child"></div>
                                                <div class="sk-circle9 sk-child"></div>
                                                <div class="sk-circle10 sk-child"></div>
                                                <div class="sk-circle11 sk-child"></div>
                                                <div class="sk-circle12 sk-child"></div>
                                            </div>
                                            <p class="sk-spinner-p">{% trans %}app.loading{% endtrans %}</p>
                                        </div>

                                        <table id="round-game-table-{{ game.id }}" class="round-ajax-table round-game-table table table-bordered table-hover table-condensed">
                                            <thead class="table-info">
                                                <tr>
                                                    <th>{% trans %}skyball2016.round.player{% endtrans %}</th>
                                                    {% for kcType in kcTypes %}
                                                        <th class="centered">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
                                                    {% endfor %}
                                                </tr>
                                            </thead>
                                            <tbody id="round-game-tbody-{{ game.id }}">
                                                {% for i in 0..5 %}
                                                    <tr id="round-game-player-{{ game.id }}-{{ i }}">
                                                        <td class="round-game-player-td" id="round-game-player-td-{{ game.id }}-p"></td>
                                                        {% for i, kcType in kcTypes %}
                                                            <td class="centered" id="round-game-player-td-{{ game.id }}-{{ i }}"></td>
                                                        {% endfor %}
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/newsitem.scss' filter='scssphp' output='css/skyball2016_newsitem.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
