{% extends 'SkyAthlonSkyBall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}skyball2016.round.reorderPlayoff{% endtrans %}</h1>

    <ul id="sortable">
        {% for gameType in gameTypes %}
            <li class="ui-state-default" id="{{ gameType.id }}">
                <span class="ui-icon ui-icon-arrowthick-2-n-s"></span>
                {{ gameType.groupTitle | trans }}
            </li>
        {% endfor %}
    </ul>

    <button class="btn btn-success pull-left" id="reorder">
        <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
    </button>

    <a href="{{ path('skyball2016_round_redirect') }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}skyball2016.round.back{% endtrans %}
    </a>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css" />
{% endblock %}

{% block javascripts %}
    <script src="//code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    {% javascripts '@SkyAthlonSkyBall2016Bundle/Resources/public/js/reorder-playoff.js' filter='jsqueeze' output='js/skyball2016_reorder.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}