{% extends 'SkyAthlonSkyOlimpia2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}skyolimpia2017.round.rounds{% endtrans %}</h1>

    <div id="round-navigation" class="navigation">
        {{ knp_pagination_render(rounds) }}
    </div>

    {% for round in rounds %}
        <div id="round-stats" class="navigation">
            <a class="btn btn-primary" href="{{ path('skyolimpia2017_round_teams', {round: round.number}) }}">
                {% trans %}skyolimpia2017.round.menuTeams{% endtrans %}
            </a>
            <a class="btn btn-default" href="{{ path('skyolimpia2017_round', {round: round.number}) }}">
                {% trans %}skyolimpia2017.round.menuGames{% endtrans %}
            </a>
            <a class="btn btn-default" href="{{ path('skyolimpia2017_round_medals', {round: round.number}) }}">
                {% trans %}skyolimpia2017.round.menuMedals{% endtrans %}
            </a>
        </div>

        <h2>{{ 'skyolimpia2017.round.menuTeamsRound' | trans({'%round%': round}) }}</h2>

        <div id="round-{{ round.id }}" class="round-item">
            <button id="print" class="btn btn-warning pull-right print-small print" data-print="printMedals" data-title="{{ 'skyolimpia2017.round.menuMedalsRound' | trans({'%round%': round}) }}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <div class="round-head">
                <h2 class="round-title">{{ 'skyolimpia2017.round.teamMedals' | trans }}</h2>
            </div>

            <div class="round-body clearfix PrintArea printMedals" style="overflow-x: auto">
                <table id="team-medals-table" class="round-game-table first-bold table table-bordered table-hover table-condensed">
                    <thead class="table-info">
                    <tr>
                        <th>{% trans %}skyolimpia2017.team.team{% endtrans %}</th>
                        <th class="centered medal medal-gold">{% trans %}skyolimpia2017.medal.gold{% endtrans %}</th>
                        <th class="centered medal medal-silver">{% trans %}skyolimpia2017.medal.silver{% endtrans %}</th>
                        <th class="centered medal medal-bronze">{% trans %}skyolimpia2017.medal.bronze{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tid,team in teams %}
                        {% if team.gold or team.silver or team.bronze %}
                            <tr>
                                <td>
                                    <span class="team-flag-left {{ team.team.computerName }}-flag-left-small">
                                        <span class="sortby">{{ team.team.computerName }}</span>
                                        {{ team.team.name }}
                                    </span>
                                </td>
                                <td class="centered">{{ team.gold }}</td>
                                <td class="centered">{{ team.silver }}</td>
                                <td class="centered">{{ team.bronze }}</td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <button id="print2" class="btn btn-warning pull-right print-small print" data-print="printPoints" data-title="{{ 'skyolimpia2017.round.menuPointsRound' | trans({'%round%': round}) }}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <div class="round-head">
                <h2 class="round-title">{{ 'skyolimpia2017.round.teamPoints' | trans }}</h2>
            </div>

            <div class="round-body clearfix PrintArea printPoints" style="overflow-x: auto">
                <table id="team-points-table" class="round-game-table first-bold table table-bordered table-hover table-condensed">
                    <thead class="table-info">
                    <tr>
                        <th>{% trans %}skyolimpia2017.team.team{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.round.pointStr{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for team in teams %}
                        <tr>
                            <td>
                                <span class="team-flag-left {{ team.team.computerName }}-flag-left-small">
                                    <span class="sortby">{{ team.team.computerName }}</span>
                                    {{ team.team.name }}
                                </span>
                            </td>
                            <td class="centered">{{ team.point }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <button id="print3" class="btn btn-warning pull-right print-small print" data-print="printMovements" data-title="{{ 'skyolimpia2017.round.menuMovementsRound' | trans({'%round%': round}) }}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <div class="round-head">
                <h2 class="round-title">{{ 'skyolimpia2017.round.teamMovements' | trans }}</h2>
            </div>

            <div class="round-body clearfix PrintArea printMovements" style="overflow-x: auto">
                <table id="team-movements-table" class="round-game-table first-bold table table-bordered table-hover table-condensed">
                    <thead class="table-info">
                    <tr>
                        <th>{% trans %}skyolimpia2017.team.team{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.round.medalRank{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.round.medalMovement{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.round.pointRank{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.round.pointMovement{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tid,team in teamMovements %}
                        {% set medalRank = team['currentMedalRank'] %}
                        {% set medalMovement = team['medalMovement'] %}
                        {% set pointRank = team['currentPointRank'] %}
                        {% set pointMovement = team['pointMovement'] %}
                        {% set medalClass = '' %}
                        {% if medalMovement > 0 %}
                            {% set medalClass = ' up' %}
                        {% elseif medalMovement < 0 %}
                            {% set medalClass = ' down' %}
                        {% endif %}
                        {% set pointClass = '' %}
                        {% if pointMovement > 0 %}
                            {% set pointClass = ' up' %}
                        {% elseif pointMovement < 0 %}
                            {% set pointClass = ' down' %}
                        {% endif %}

                        <tr>
                            <td>
                                <span class="team-flag-left {{ team.computerName }}-flag-left-small">
                                    <span class="sortby">{{ team.computerName }}</span>
                                    {{ team.name }}
                                </span>
                            </td>
                            <td class="centered">{{ medalRank }}</td>
                            <td class="centered{{ medalClass }}">{{ medalMovement == 0 ? '-' : medalMovement }}</td>
                            <td class="centered">{{ pointRank }}</td>
                            <td class="centered{{ pointClass }}">{{ pointMovement == 0 ? '-' : pointMovement }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}
