{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{{ 'basefall2016.penality.edit' | trans }}</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <button class="btn btn-success pull-left" type="submit">
            <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
        </button>
    {{ form_end(edit_form) }}

    {% if app.user %}
        {% if app.user.isAdmin %}
            {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("' ~ 'confirm.basefall2016.penality' | trans ~ '")'}}) }}
                <button style="margin-left: 10px;" class="btn btn-danger pull-right" type="submit">
                    <span class="glyphicon glyphicon-trash"></span> {% trans %}basefall2016.penality.delete{% endtrans %}
                </button>
            {{ form_end(delete_form) }}
        {% endif %}
    {% endif %}

    <a href="{{ path('basefall2016_round_penalities', {round: round.number}) }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}basefall2016.penality.back{% endtrans %}
    </a>
{% endblock %}
