{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}basefall2016.round.rounds{% endtrans %}</h1>

    <div id="round-navigation" class="navigation">
        {{ knp_pagination_render(rounds) }}
    </div>

    {% for round in rounds %}
        <div id="round-stats" class="navigation">
            {% if not round.playoffs %}
                <a class="btn btn-default" href="{{ path('basefall2016_round_teams', {round: round.number}) }}">
                    {% trans %}basefall2016.round.menuSummary{% endtrans %}
                </a>
            {% endif %}
            <a class="btn btn-default" href="{{ path('basefall2016_round', {round: round.number}) }}">
                {% trans %}basefall2016.round.menuGames{% endtrans %}
            </a>
            <a class="btn btn-default" href="{{ path('basefall2016_round_players', {round: round.number}) }}">
                {% trans %}basefall2016.round.menuPlayers{% endtrans %}
            </a>
            <a class="btn btn-primary" href="{{ path('basefall2016_round_penalities', {round: round.number}) }}">
                {% trans %}basefall2016.round.menuPenalities{% endtrans %}
            </a>
        </div>

        <div id="round-{{ round.id }}" class="round-item">
            {% set isAdmin = false %}
            {% if app.user %}
                {% if (app.user.isAdmin and not round.closed) or app.user.isSu %}
                    {% set isAdmin = true %}
                    <a style="margin: 0 10px;" href="{{ path('basefall2016_penality_new', {roundid: round.number}) }}" class="round-edit btn btn-success pull-right">
                        <span class="glyphicon glyphicon-plus"></span> {% trans %}basefall2016.penality.create{% endtrans %}
                    </a>
                {% endif %}
            {% endif %}

            <div class="round-head">
                <h2 class="round-title">{{ 'basefall2016.round.penalities' | trans({'%round%': round.fullName }) }}</h2>
            </div>

            <button id="print" class="btn btn-warning pull-right print-small print" data-print="penality" data-title="{{ 'basefall2016.round.penalities' | trans({ '%round%': round.fullName }) }}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <div class="round-head">
                <h2 class="round-title">{% trans %}basefall2016.round.menuPenalities{% endtrans %}</h2>
            </div>

            <div class="round-body clearfix penality" style="overflow-x: auto; padding: 0 10px;">
                <table id="round-players-penality-table-{{ round.id }}" class="round-game-table nondatatable-table table table-bordered table-hover table-condensed">
                    <thead class="table-info">
                    <tr>
                        <th>{% trans %}basefall2016.penality.point{% endtrans %}</th>
                        <th>{% trans %}basefall2016.penality.player{% endtrans %}</th>
                        <th>{% trans %}basefall2016.penality.team{% endtrans %}</th>
                        <th>{% trans %}basefall2016.penality.description{% endtrans %}</th>
                        {% if isAdmin %}<th class="noprint"></th>{% endif %}
                    </tr>
                    </thead>
                    <tbody>
                    	{% for penality in penalities %}
                        	<tr>
                        		<td class="centered">
                                    <b>{{ penality.point }}</b>
                                </td>
                                <td class="round-player-td">
                                    <span class="player-number">{{ penality.player.number }}</span>
                                    <span class="player-name">{{ penality.player.name }}</span>
                                </td>
                                <td class="round-player-td {{ penality.team.computerName }}-flag-left">
                                   {{ penality.team }}
                                </td>
                                <td class="gameDescription">
                                    {{ penality.description | nl2br }}
                                </td>
                                {% if isAdmin %}
                                    <td class="noprint">
                                        <a href="{{ path('basefall2016_penality_edit', {roundid: round.number, id: penality.id}) }}" class="round-edit btn btn-xs btn-primary">
                                            <span class="glyphicon glyphicon-edit"></span> {% trans %}app.edit{% endtrans %}
                                        </a>
                                    </td>
                                {% endif %}
                        	</tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}
