{% extends 'SkyAthlonSkyOlimpia2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}skyolimpia2017.round.rounds{% endtrans %}</h1>

    <div id="round-navigation" class="navigation">
        {{ knp_pagination_render(rounds) }}
    </div>

    {% for round in rounds %}
        <div id="round-stats" class="navigation">
            <a class="btn btn-default" href="{{ path('skyolimpia2017_round_teams', {round: round.number}) }}">
                {% trans %}skyolimpia2017.round.menuTeams{% endtrans %}
            </a>
            <a class="btn btn-primary" href="{{ path('skyolimpia2017_round', {round: round.number}) }}">
                {% trans %}skyolimpia2017.round.menuGames{% endtrans %}
            </a>
            <a class="btn btn-default" href="{{ path('skyolimpia2017_round_medals', {round: round.number}) }}">
                {% trans %}skyolimpia2017.round.menuMedals{% endtrans %}
            </a>
        </div>

        <div id="round-{{ round.id }}" class="round-item">
            <div class="round-head">
                <h2 class="round-title">{{ 'skyolimpia2017.round.games' | trans({'%game%': round }) }}</h2>
            </div>

            <div class="round-body">
                {% for gameType in round.gameTypes %}
                    {% set sex = 'male' %}
                    {% if gameType.sexType == 2 %}
                        {% set sex = 'female' %}
                    {% elseif gameType.sexType == 3 %}
                        {% set sex = 'shemale' %}
                    {% endif %}
                    <button type="button" class="collapsible round-game-group-title {{ sex }}" data-toggle="collapse" data-target="#{{ gameType.computerName }}">{{ gameType.name }}</button>

                    {% set needsClose = false %}
                    {% if gameType.games | length %}
                        {% set firstGame = true %}
                        <div id="{{ gameType.computerName }}" class="collapse in {{ gameType.computerName }}">
                            {% for game in gameType.games %}
                                {% if game.groupTitle %}
                                    {% if not firstGame %}
                                        </div>
                                    {% else %}
                                        {% set firstGame = false %}
                                        {% set needsClose = true %}
                                    {% endif %}
                                    <button type="button" class="collapsible collapsed round-game-group-subtitle {{ sex }}" data-toggle="collapse" data-target="#{{ gameType.computerName }}-{{ game.gameSubType.computerName }}">{{ game.groupTitle }}</button>
                                    <div class="collapse in" id="{{ gameType.computerName }}-{{ game.gameSubType.computerName }}">
                                {% endif %}
                                <div class="anchor" id="verseny-{{ game.id }}"></div>
                                <div class="round-game round-game-type-{{ gameType.computerName }}">
                                    <div class="round-game-type {{ sex }}">
                                        <span>{{ game.name }}</span>
                                    </div>

                                    {% if app.user %}
                                        {% if (app.user.isAdmin and not round.closed) or app.user.isSu %}
                                            <div class="round-game-type {{ sex }}">
                                                <span> </span>
                                                <a href="{{ path('skyolimpia2017_game_edit', {roundid: round.number, game: game.id}) }}" class="btn btn-primary btn-xs edit-game">
                                                    <span class="glyphicon glyphicon-edit"></span> {% trans %}skyolimpia2017.game.editButton{% endtrans %}
                                                </a>
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                    <div class="round-game-head skyolimpia">
                                        {% for i in 1..game.numberOfPlayers %}
                                            {% set j = i - 1 %}

                                            {% set perCol = 12 / (game.numberOfTeamPlayers ? game.numberOfTeamPlayers : 1) %}

                                            {% set col = ' col col-sm-' ~ perCol %}
                                            {% if perCol == 12 %}
                                                {% set col = '' %}
                                            {% endif %}

                                            {% set gr = null %}
                                            {% if (game.gameResults | length) > 0 %}
                                                {% for gameResult in game.gameResults %}
                                                    {% if gameResult.weight == i %}
                                                        {% set gr = gameResult %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}

                                            {% if gr %}
                                                {% set class = '' %}
                                                {% set rank = '' %}
                                                {% set rankClass = '' %}

                                                {% if game.closed %}
                                                    {% if gr.rank matches '/^\\d+$/' and gr.rank <= game.numberOfWinners %}
                                                        {% set rankClass = ' win' %}
                                                    {% else %}
                                                        {% set rankClass = ' lose' %}
                                                    {% endif %}

                                                    {% if gr.sumRank == 1 %}
                                                        {% set class = class ~ ' medal medal-big-gold' %}
                                                    {% elseif gr.sumRank == 2 %}
                                                        {% set class = class ~ ' medal medal-big-silver' %}
                                                    {% elseif gr.sumRank == 3 %}
                                                        {% set class = class ~ ' medal medal-big-bronze' %}
                                                    {% else %}
                                                        {% set rank = '<span class="game-rank' ~ rankClass ~ '">' ~ (gr.sumRank ? gr.sumRank : gr.rank) ~ '</span>' %}
                                                    {% endif %}
                                                {% endif %}

                                                <span class="round-game-item team-flag-left {{ gr.team.computername }}-flag-left{{ class }}{{ col }}">{{ gr.player }}{{ rank | raw }}</span>
                                            {% else %}
                                                <span class="round-game-item team-flag-left{{ col }}">?</span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>

                                    {% if game.description %}
                                        <div class="round-game-type {{ sex }}">
                                            <span class="game-description-head">{% trans %}skyolimpia2017.game.description{% endtrans %}</span>
                                            {{ game.description }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                        {% if needsClose %}
                            </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/newsitem.scss' filter='scssphp' output='css/skyolimpia2017_newsitem.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
