{% extends 'SkyAthlonSkyOlimpia2017Bundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <section class="col-md-12">
            <h1>{% trans %}skyolimpia2017.team.teams{% endtrans %}</h1>

            <div class="round-item">
                <button id="print" class="btn btn-warning pull-right print-small print" data-print="printMedals" data-title="{{ 'skyolimpia2017.round.teamMedals' | trans }}">
                    <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
                </button>

                <div class="round-head">
                    <h2 class="round-title">{{ 'skyolimpia2017.round.teamMedals' | trans }}</h2>
                </div>

                <div class="round-body clearfix PrintArea printMedals" style="overflow-x: auto">
                    <table id="team-medals-table" class="round-game-table first-bold table table-bordered table-hover table-condensed">
                        <thead class="table-info">
                        <tr>
                            <th>{% trans %}skyolimpia2017.team.team{% endtrans %}</th>
                            <th class="centered medal medal-gold">{% trans %}skyolimpia2017.medal.gold{% endtrans %}</th>
                            <th class="centered medal medal-silver">{% trans %}skyolimpia2017.medal.silver{% endtrans %}</th>
                            <th class="centered medal medal-bronze">{% trans %}skyolimpia2017.medal.bronze{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for team in teams %}
                            <tr>
                                <td>
                                <span class="team-flag-left {{ team.team.computerName }}-flag-left-small">
                                    <span class="sortby">{{ team.team.computerName }}</span>
                                    <a href="{{ path('skyolimpia2017_team_show', {'name': team.team.computerName}) }}">{{ team.team.name }}</a>
                                </span>
                                </td>
                                <td class="centered">{{ team.gold }}</td>
                                <td class="centered">{{ team.silver }}</td>
                                <td class="centered">{{ team.bronze }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <button id="print2" class="btn btn-warning pull-right print-small print" data-print="printPoints" data-title="{{ 'skyolimpia2017.round.teamPoints' | trans }}">
                    <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
                </button>

                <div class="round-head">
                    <h2 class="round-title">{{ 'skyolimpia2017.round.teamPoints' | trans }}</h2>
                </div>

                <div class="round-body clearfix PrintArea printPoints" style="overflow-x: auto">
                    <table id="team-points-table" class="round-game-table first-bold table table-bordered table-hover table-condensed">
                        <thead class="table-info">
                        <tr>
                            <th>{% trans %}skyolimpia2017.team.team{% endtrans %}</th>
                            <th class="centered">{% trans %}skyolimpia2017.round.pointStr{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for team in teams %}
                            <tr>
                                <td>
                                <span class="team-flag-left {{ team.team.computerName }}-flag-left-small">
                                    <span class="sortby">{{ team.team.computerName }}</span>
                                    <a href="{{ path('skyolimpia2017_team_show', {'name': team.team.computerName}) }}">{{ team.team.name }}</a>
                                </span>
                                </td>
                                <td class="centered">{{ team.point }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

{% endblock %}

{% block stylesheets %}
    {% stylesheets '@SkyAthlonSkyOlimpia2017Bundle/Resources/public/css/teams.scss' filter='scssphp' output='css/skyolimpia2017_teams.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
