{% extends 'SkyAthlonSkyOlimpia2017Bundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <section class="col-md-12">
            <h1>{{ 'skyolimpia2017.team.teamTitle' | trans({'%team%': team.name }) }}</h1>

            {% set mp3 = 'bundles/skyathlonskyolimpia2017/himnusz/mp3/' ~ team.computerName ~ '.mp3' %}
            {% set ogg = 'bundles/skyathlonskyolimpia2017/himnusz/ogg/' ~ team.computerName ~ '.ogg' %}

            <div class="col-md-12" style="text-align: center;"><img src="{{ asset('bundles/skyathlonskyolimpia2017/images/flags/nagy/' ~ team.computerName ~ '.jpg') }}" alt="{{ team.name }}" /></div>

            <div class="col-md-12">
            <h2>{% trans %}skyolimpia2017.team.music{% endtrans %}</h2>
            <p>
                <audio style="width: 100%" controls>
                    <source src="{{ asset(ogg) }}" type="audio/ogg">
                    <source src="{{ asset(mp3) }}" type="audio/mpeg">
                    {% trans %}app.browserOld{% endtrans %}
                </audio>
            </p>
            </div>

            <div class="col-md-12">
                <h2>{% trans %}skyolimpia2017.team.commonData{% endtrans %}</h2>
                <table id="team-show-table" class="white-table vtop-table nodatatable-table round-game-table table table-bordered table-hover table-condensed content-loaded no-footer team-show-table">
                    <thead>
                    <tr>
                        <th class="centered">{% trans %}skyolimpia2017.team.players{% endtrans %}</th>
                        <th class="centered medal medal-gold">{% trans %}skyolimpia2017.medal.gold{% endtrans %}</th>
                        <th class="centered medal medal-silver">{% trans %}skyolimpia2017.medal.silver{% endtrans %}</th>
                        <th class="centered medal medal-bronze">{% trans %}skyolimpia2017.medal.bronze{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.medal.four{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.medal.five{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.medal.six{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.team.pointShort{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="centered">{{ pstring | raw }}</td>
                        <td class="centered">
                            <span class="result-number">{{ teamResults.gold.point == 0 ? '-' : teamResults.gold.point }}</span>
                            {% for gt in teamResults.gold.gameTypes %}
                                <span class="result-gametype">{{ gt }}</span>
                            {% endfor %}
                        </td>
                        <td class="centered">
                            <span class="result-number">{{ teamResults.silver.point == 0 ? '-' : teamResults.silver.point }}</span>
                            {% for gt in teamResults.silver.gameTypes %}
                                <span class="result-gametype">{{ gt }}</span>
                            {% endfor %}
                        </td>
                        <td class="centered">
                            <span class="result-number">{{ teamResults.bronze.point == 0 ? '-' : teamResults.bronze.point }}</span>
                            {% for gt in teamResults.bronze.gameTypes %}
                                <span class="result-gametype">{{ gt }}</span>
                            {% endfor %}
                        </td>
                        <td class="centered">
                            <span class="result-number">{{ teamResults.four.point == 0 ? '-' : teamResults.four.point }}</span>
                            {% for gt in teamResults.four.gameTypes %}
                                <span class="result-gametype">{{ gt }}</span>
                            {% endfor %}
                        </td>
                        <td class="centered">
                            <span class="result-number">{{ teamResults.five.point == 0 ? '-' : teamResults.five.point }}</span>
                            {% for gt in teamResults.five.gameTypes %}
                                <span class="result-gametype">{{ gt }}</span>
                            {% endfor %}
                        </td>
                        <td class="centered">
                            <span class="result-number">{{ teamResults.six.point == 0 ? '-' : teamResults.six.point }}</span>
                            {% for gt in teamResults.six.gameTypes %}
                                <span class="result-gametype">{{ gt }}</span>
                            {% endfor %}
                        </td>
                        <td class="centered"><span class="result-number">{{ teamResults.point == 0 ? '-' : teamResults.point }}</span></td>
                    </tr>
                    </tbody>
                </table>

                <h2>{% trans %}skyolimpia2017.team.playerData{% endtrans %}</h2>
                <table id="team-show-table2" class="white-table vtop-table nodatatable-table round-game-table table table-bordered table-hover table-condensed content-loaded no-footer team-show-table">
                    <thead>
                    <tr>
                        <th class="centered">{% trans %}skyolimpia2017.team.player{% endtrans %}</th>
                        <th class="centered medal medal-gold">{% trans %}skyolimpia2017.medal.gold{% endtrans %}</th>
                        <th class="centered medal medal-silver">{% trans %}skyolimpia2017.medal.silver{% endtrans %}</th>
                        <th class="centered medal medal-bronze">{% trans %}skyolimpia2017.medal.bronze{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.medal.four{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.medal.five{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.medal.six{% endtrans %}</th>
                        <th class="centered">{% trans %}skyolimpia2017.team.pointShort{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for result in results %}
                        {% set class = 'female' %}
                        {% if result.sex %}
                            {% set class = 'male' %}
                        {% endif %}
                        <tr class="{{ class }}">
                            <td class="centered"><b>{{ result.number }}</b></td>
                            <td class="centered">
                                <span class="result-number">{{ result.gold.point == 0 ? '-' : result.gold.point }}</span>
                                {% for gt in result.gold.gameTypes %}
                                    <span class="result-gametype">{{ gt }}</span>
                                {% endfor %}
                            </td>
                            <td class="centered">
                                <span class="result-number">{{ result.silver.point == 0 ? '-' : result.silver.point }}</span>
                                {% for gt in result.silver.gameTypes %}
                                    <span class="result-gametype">{{ gt }}</span>
                                {% endfor %}
                            </td>
                            <td class="centered">
                                <span class="result-number">{{ result.bronze.point == 0 ? '-' : result.bronze.point }}</span>
                                {% for gt in result.bronze.gameTypes %}
                                    <span class="result-gametype">{{ gt }}</span>
                                {% endfor %}
                            </td>
                            <td class="centered">
                                <span class="result-number">{{ result.four.point == 0 ? '-' : result.four.point }}</span>
                                {% for gt in result.four.gameTypes %}
                                    <span class="result-gametype">{{ gt }}</span>
                                {% endfor %}
                            </td>
                            <td class="centered">
                                <span class="result-number">{{ result.five.point == 0 ? '-' : result.five.point }}</span>
                                {% for gt in result.five.gameTypes %}
                                    <span class="result-gametype">{{ gt }}</span>
                                {% endfor %}
                            </td>
                            <td class="centered">
                                <span class="result-number">{{ result.six.point == 0 ? '-' : result.six.point }}</span>
                                {% for gt in result.six.gameTypes %}
                                    <span class="result-gametype">{{ gt }}</span>
                                {% endfor %}
                            </td>
                            <td class="centered"><span class="result-number">{{ result.point == 0 ? '-' : result.point }}</span></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>

        <div class="clearfix col-md-12" style="margin: 10px;">
            <a href="{{ path('skyolimpia2017_team') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}skyolimpia2017.team.back{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@SkyAthlonSkyOlimpia2017Bundle/Resources/public/css/teams.scss' filter='scssphp' output='css/skyolimpia2017_teams.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
