{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div class="row">
    <section class="col-md-12">
        <h1>{% trans %}dashboard.admin{% endtrans %}</h1>

        <div id="dashboards">
            {% for dashboard in dashboards %}
                {% set current = '' %}
                {% if dashboard == currentDashboard %}
                    {% set current = ' current' %}
                {% endif %}

                <div class="dashboard{{ current }}">
                    <iframe src="http://{{ skyAthlonUrl }}:3001/{{ dashboard }}" class="dashboard-iframe">
                    Your browser doesn't support iframes
                    </iframe>
                    <div class="dashboard-iframe-overlay" data-dashboard="{{ dashboard }}"></div>
                    <div class="dashboard-iframe-text">{{ ('dashboard.' ~ dashboard) | trans | raw }}</div>
                </div>
            {% endfor %}
        </div>

        <div id="statuses">
            <div id="status-dashboard" class="status failed">
                {% trans %}dashboard.status.dashboard{% endtrans %}
            </div>
            <br />
            <div id="status-socket" class="status failed">
                {% trans %}dashboard.status.socket{% endtrans %}
            </div>
            <br />

            <label for="editor1">{% trans %}dashboard.editNews{% endtrans %}</label>
            <textarea name="editor1" id="editor1" rows="10" cols="80">
                {{ news }}
            </textarea>

            <br />
            <button id="saveNews" class="btn btn-primary">{% trans %}dashboard.saveNews{% endtrans %}</button>
            <a href="{{ path('dashboard') }}" target="_blank" class="pull-right btn btn-primary">
                {% trans %}dashboard.open{% endtrans %}
            </a>
            <button id="recalculate" class="pull-right btn btn-primary" style="margin-right: 10px;">{% trans %}dashboard.recalculate{% endtrans %}</button>
        </div>
    </section>
    </div>

    <script>
        var resizeFrames = function() {
            var contentWidth = $('#content').width(),
                size = (contentWidth / 3) - 60,
                width = size + 'px',
                height = (size * 0.6) + 'px';

            $('.dashboard').width(width);
            $('.dashboard-iframe').width(width).height(height);
            $('.dashboard-iframe-overlay').width(width).height(height);
        };

        resizeFrames();
        $(window).resize(resizeFrames);

        function sendMessage(message, type) {
            type = type || 'notice';
            $.ajax({
                type: "POST",
                async: false,
                url: Routing.generate('message'),
                data: {
                    message: message,
                    type: type
                }
            });
        }

        $('.dashboard-iframe-overlay').click(function () {
            var dashboard = $(this).data('dashboard'),
                currentDashboard = $(this).parent();

            $.ajax({
                type: "POST",
                async: true,
                url: Routing.generate('dashboard_set'),
                data: {
                    dashboard: dashboard
                },
                success: function () {
                    var socket = new WebSocket("ws://{{ skyAthlonUrl }}:8080");
                    socket.onopen = function () {
                        socket.send(dashboard);
                        socket.close();

                        $('.dashboard').removeClass('current');
                        currentDashboard.addClass('current');
                    };
                }
            });
        });

        $('#saveNews').click(function () {
            var news = CKEDITOR.instances.editor1.getData();

            $.ajax({
                type: 'POST',
                async: true,
                url: Routing.generate('news_set'),
                data: {
                    news: news
                },
                success: function () {
                    sendMessage('dashboard.saved');
                    location.reload();
                }
            });
        });

        $('#recalculate').click(function () {
            $.ajax({
                type: 'GET',
                url: Routing.generate('skyball2017_api_currentstatus'),
                success: function () {
                    location.reload();
                }
            });
        });

        function ping(protocol, host, port, pong) {
            var started = new Date().getTime(),
                http = new XMLHttpRequest();

            http.open("GET", protocol + "://" + host + ":" + port, true);
            http.onreadystatechange = function() {
                if (http.readyState === 4) {
                    var ended = new Date().getTime();

                    var milliseconds = ended - started;

                    if (pong !== null) {
                        pong(milliseconds);
                    }
                }
            };

            try {
                http.send(null);
            } catch(exception) {
                // this is expected
            }
        }

        function doPing() {
            ping('http', {{ skyAthlonUrl }}, '3001', function(m) {
                if (m < 1000) {
                    $('#status-dashboard').removeClass('failed').addClass('success');
                }
                else {
                    $('#status-dashboard').removeClass('success').addClass('failed');
                }
            });
            ping('ws', {{ skyAthlonUrl }}, '8080', function(m) {
                if (m < 1000) {
                    $('#status-socket').removeClass('failed').addClass('success');
                }
                else {
                    $('#status-socket').removeClass('success').addClass('failed');
                }
            });
        }

        doPing();
    </script>
{% endblock %}

{% block javascripts %}
<script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script>
<script>
    CKEDITOR.replace('editor1');
</script>
{% endblock %}