<iframe src="{{ src }}" style="position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
    Your browser doesn't support iframes
</iframe>

<script>
    var socket = new WebSocket("ws://{{ skyAthlonUrl }}:8080");
    socket.onopen = function (event) {
        socket.onmessage = function (message) {
            location.reload();
        }
    };
</script>