@import 'colors';

body {
    background: $color-skyball url('../bundles/skyathlonskyball2016/images/skyball_bg.png') top center no-repeat fixed;
}

.round-game {
    .round-game-head {
        height: 70px;
    }

    .round-game-head-item {
        height: 70px;
        line-height: 70px;
    }
}
