$dubelz-trans: rgba(100, 155, 255, .5);
$dubelz-text: rgb(100, 155, 255);

$vikings-trans: rgba(0, 200, 0, .5);
$vikings-text: rgb(64, 183, 64);

$musketasok-trans: rgba(240, 240, 30, .5);
$musketasok-text: rgb(202, 202, 111);

$wildgiants-trans: rgba(120, 30, 255, .5);
$wildgiants-text: rgb(120, 30, 255);

$hunters-trans: rgba(125, 80, 0, .5);
$hunters-text: rgb(125, 80, 0);

$regnum-trans: rgba(0, 60, 180, .5);
$regnum-text: rgb(0, 60, 180);

$meteors-trans: rgba(255, 155, 0, .5);
$meteors-text: rgb(255, 155, 0);

$toreadors-trans: rgba(255, 0, 0, .5);
$toreadors-text: rgb(255, 0, 0);

$myrmidons-trans: rgba(255, 0, 255, .5);
$myrmidons-text: rgb(255, 0, 255);

$dragons-trans: rgba(111, 111, 111, .5);
$dragons-text: rgb(111, 111, 111);

.dubelz>td:first-child,
.round-game-team-left.dubelz {
    border-left: 5px solid $dubelz-trans !important;
}

.dubelz>td:last-child,
.round-game-team-right.dubelz {
    border-right: 5px solid $dubelz-trans !important;
}

.dubelz-text {
    color: $dubelz-text;
}

.dubelz-select {
    border-left: 2px solid $dubelz-trans !important;
    border-right: 2px solid $dubelz-trans !important;
}

.vikings>td:first-child,
.round-game-team-left.vikings {
    border-left: 5px solid $vikings-trans !important;
}

.vikings>td:last-child,
.round-game-team-right.vikings {
    border-right: 5px solid $vikings-trans !important;
}

.vikings-text {
    color: $vikings-text;
}

.vikings-select {
    border-left: 2px solid $vikings-trans !important;
    border-right: 2px solid $vikings-trans !important;
}

.musketasok>td:first-child,
.round-game-team-left.musketasok {
    border-left: 5px solid $musketasok-trans !important;
}

.musketasok>td:last-child,
.round-game-team-right.musketasok {
    border-right: 5px solid $musketasok-trans !important;
}

.musketasok-text {
    color: $musketasok-text;
}

.musketasok-select {
    border-left: 2px solid $musketasok-trans !important;
    border-right: 2px solid $musketasok-trans !important;
}

.wildgiants>td:first-child,
.round-game-team-left.wildgiants {
    border-left: 5px solid $wildgiants-trans !important;
}

.wildgiants>td:last-child,
.round-game-team-right.wildgiants {
    border-right: 5px solid $wildgiants-trans !important;
}

.wildgiants-text {
    color: $wildgiants-text;
}

.wildgiants-select {
    border-left: 2px solid $wildgiants-trans !important;
    border-right: 2px solid $wildgiants-trans !important;
}

.hunters>td:first-child,
.round-game-team-left.hunters {
    border-left: 5px solid $hunters-trans !important;
}

.hunters>td:last-child,
.round-game-team-right.hunters {
    border-right: 5px solid $hunters-trans !important;
}

.hunters-text {
    color: $hunters-text;
}

.hunters-select {
    border-left: 2px solid $hunters-trans !important;
    border-right: 2px solid $hunters-trans !important;
}

.regnum>td:first-child,
.round-game-team-left.regnum {
    border-left: 5px solid $regnum-trans !important;
}

.regnum>td:last-child,
.round-game-team-right.regnum {
    border-right: 5px solid $regnum-trans !important;
}

.regnum-text {
    color: $regnum-text;
}

.regnum-select {
    border-left: 2px solid $regnum-trans !important;
    border-right: 2px solid $regnum-trans !important;
}

.meteors>td:first-child,
.round-game-team-left.meteors {
    border-left: 5px solid $meteors-trans !important;
}

.meteors>td:last-child,
.round-game-team-right.meteors {
    border-right: 5px solid $meteors-trans !important;
}

.meteors-text {
    color: $meteors-text;
}

.meteors-select {
    border-left: 2px solid $meteors-trans !important;
    border-right: 2px solid $meteors-trans !important;
}

.toreadors>td:first-child,
.round-game-team-left.toreadors {
    border-left: 5px solid $toreadors-trans !important;
}

.toreadors>td:last-child,
.round-game-team-right.toreadors {
    border-right: 5px solid $toreadors-trans !important;
}

.toreadors-text {
    color: $toreadors-text;
}

.toreadors-select {
    border-left: 2px solid $toreadors-trans !important;
    border-right: 2px solid $toreadors-trans !important;
}

.myrmidons>td:first-child,
.round-game-team-left.myrmidons {
    border-left: 5px solid $myrmidons-trans !important;
}

.myrmidons>td:last-child,
.round-game-team-right.myrmidons {
    border-right: 5px solid $myrmidons-trans !important;
}

.myrmidons-text {
    color: $myrmidons-text;
}

.myrmidons-select {
    border-left: 2px solid $myrmidons-trans !important;
    border-right: 2px solid $myrmidons-trans !important;
}

.dragons>td:first-child,
.round-game-team-left.dragons {
    border-left: 5px solid $dragons-trans !important;
}

.dragons>td:last-child,
.round-game-team-right.dragons {
    border-right: 5px solid $dragons-trans !important;
}

.dragons-text {
    color: $dragons-text;
}

.dragons-select {
    border-left: 2px solid $dragons-trans !important;
    border-right: 2px solid $dragons-trans !important;
}
