@import 'colors';

#content {
    padding: 0 20px 20px;
}

.name,
.point {
    font-weight: bold;
}

#no-teams {
    display: none;
}

#team-table_wrapper {
    padding: 0 20px;
}

#team-table {
    .player-number {
        display: inline-block;
        margin-right: 5px;
        text-align: right;
        width: 16px;
    }

    .teamname {
        line-height: 64px;
    }

    td {
        &:first-child {
            a {
                display: inline-block;
            }

            span {
                display: table-cell;
                vertical-align: middle;
            }

            .teamlogo {
                height: 64px;
                text-align: center;
                width: 80px;

                img {
                    margin-right: 5px;
                    max-height: 64px;
                    max-width: 70px;
                }
            }
        }
    }
}

.teamRank,
.teamPoint {
    display: inline-block;
    font-weight: bold;
}

.teamRank {
    width: 15px;
}

.team-flag {
    border: 2px solid $color-black;
    height: 200px;

    .team-flag-left {
        border: 0;
        float: left;
        height: 100%;
        width: 50%;
    }

    .team-flag-right {
        border: 0;
        float: left;
        height: 100%;
        width: 50%;
    }
}

.team-flag-small {
    border: 1px solid $color-black;
    height: 60px;

    .team-flag-left {
        border: 0;
        float: left;
        height: 100%;
        width: 50%;
    }

    .team-flag-right {
        border: 0;
        float: left;
        height: 100%;
        width: 50%;
    }
}

.data {
    display: block;
}

.key,
.value {
    display: inline-block;
    font-size: 1.5em;
}

.key {
    width: 100px;
}

.tr-center {
    font-weight: bold;
    text-align: center;
}

.row .team-show-table {
    margin-bottom: 20px;

    thead tr {
        background: $color-blue-table-dark;
    }
}

#team-table_filter {
    float: right;
}

.dataTable {
    &.team-show-table {
        thead {
            th,
            td {
                padding: 6px 10px;
            }
        }
    }
}

.ours {
    font-weight: bold;
}

.win {
    color: $color-win;
}

.lose {
    color: $color-lose;
}
