{% extends 'AppBundle::base.html.twig' %}

{% block title %}{% trans %}menu.game.skyolimpia2017{% endtrans %}{% endblock %}
{% block favicon %}{{ asset('bundles/skyathlonskyolimpia2017/images/skyolimpia_logo.ico') }}{% endblock %}

{% block stylesheets %}{% endblock %}
{% block moduleStylesheets %}
    {% stylesheets filter='scssphp' output='css/skyolimpia2017.css'
    '@SkyAthlonSkyOlimpia2017Bundle/Resources/public/css/skyolimpia.scss'
    '@SkyAthlonSkyOlimpia2017Bundle/Resources/public/css/teamcolors.scss'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}{% endblock %}
{% block moduleJavascripts %}
    {% javascripts  filter='jsqueeze' output='js/skyolimpia2017.js'
    '@SkyAthlonSkyOlimpia2017Bundle/Resources/public/js/round.js'
    '@SkyAthlonSkyOlimpia2017Bundle/Resources/public/js/datatables.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
