<a class="navbar-brand header-logo-cont" rel="home" href="{{ path('skyolimpia2017_round_redirect') }}" title="{% trans %}menu.game.skyolimpia2017{% endtrans %}">
    {% image '@SkyAthlonSkyOlimpia2017Bundle/Resources/public/images/skyolimpia_logo.png' %}
    <img class="header-logo" src="{{ asset_url }}" alt="{% trans %}menu.game.skyolimpia2017{% endtrans %}" />
    {% endimage %}
</a>

<li class="menu menu-fordulo menu-jatek menu-versenynap" id="menu-rounds">
    <a href="{{ path('skyolimpia2017_round_redirect') }}">
        <i class="fa fa-trophy" aria-hidden="true"></i> {% trans %}menu.skyolimpia2017.rounds{% endtrans %}
    </a>
</li>

<li class="menu menu-nemzet menu-nemzetek menu-versenyszamok menu-versenyzok menu-grafikonok" id="menu-reports">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bar-chart" aria-hidden="true"></i>
        {% trans %}menu.skyolimpia2017.reports{% endtrans %} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li class="dropdown">
            <a href="{{ path('skyolimpia2017_team') }}">
                <i class="fa fa-flag" aria-hidden="true"></i>
                {% trans %}menu.skyolimpia2017.teams{% endtrans %}
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('skyolimpia2017_player') }}">
                <i class="fa fa-user" aria-hidden="true"></i>
                {% trans %}menu.skyolimpia2017.players{% endtrans %}
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('skyolimpia2017_medals') }}">
                <i class="fa fa-wheelchair-alt" aria-hidden="true"></i>
                {% trans %}menu.skyolimpia2017.medals{% endtrans %}
            </a>
        </li>
        <li class="dropdown">
            <a href="{{ path('skyolimpia2017_graph') }}">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                {% trans %}menu.skyolimpia2017.graph{% endtrans %}
            </a>
        </li>
    </ul>
</li>