{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{{ 'basefall2016.game.editPlayerStats' | trans({'%teamA%': game.teamA, '%teamB%': game.teamB, '%type%': game.gameType.name}) }}</h1>

    <div class="round-game round-game-basefall">
        <div class="round-game-type ref">
            <div class="col-xs-4">{% trans %}basefall2016.game.ref{% endtrans %}: {{ game.refs.ref ? game.refs.ref : '?' }}</div>
            <div class="col-xs-4">{% trans %}basefall2016.game.srefs{% endtrans %}: {{ game.refs.sref ? game.refs.sref : '?' }}</div>
            <div class="col-xs-4">{% trans %}basefall2016.game.jrefShort{% endtrans %}: {{ game.refs.jref ? game.refs.jref : '?' }}</div>
        </div>
    </div>

    <form name="game_playerstats" method="post" action="{{ path('basefall2016_game_edit_player_stats', {roundid: roundid, game: game.id}) }}">
        <table id="edit-player-results" class="round-game-table table table-bordered table-hover table-condensed">
            <thead class="table-info">
            <tr>
                <th>{% trans %}basefall2016.round.player{% endtrans %}</th>
                {% for kcType in kcTypes %}
                    <th class="centered">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
                {% endfor %}
            </tr>
            </thead>
            <tbody id="round-game-tbody-{{ game.id }}">
            {% for i, player in results.players %}
                {% set p = player[0].player %}
                <tr id="round-game-player-{{ game.id }}-{{ p.id }}">
                    <td class="round-game-player-td {{ p.team }}-text {{ p.team }}-flag-left" id="round-game-player-td-{{ game.id }}-p">
                        <span class="sortby">{{ i }}</span>
                        <span class="player-number">{{ p.number }}</span> <b>{{ p.name }}</b>
                    </td>
                    {% for j, kc in player %}
                        {% set readonly = '' %}
                        {% set tabindex = '' %}
                        {% if kc.kerchiefType.computerName == 'G' or kc.kerchiefType.computerName == 'P' %}
                            {% set readonly = 'readonly' %}
                            {% set tabindex = 'tabindex=-1' %}
                        {% endif %}
                        <td class="centered" id="round-game-player-td-{{ game.id }}-{{ j }}">
                            <label for="{{ game.id }}-{{ j }}"></label>
                            <input type="number" data-player="{{ p.id }}" data-type="{{ kc.kerchiefType.computerName }}" id="{{ kc.id }}" name="{{ kc.id }}" class="mass-input" value="{{ kc.value }}" {{ readonly }} {{ tabindex }} />
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="form-group">
            <label for="description">{% trans %}basefall2016.game.description{% endtrans %}</label>
            <textarea class="form-control" rows="5" name="description" id="description">{{ game.description }}</textarea>
        </div>

        <button class="btn btn-success pull-left" type="submit">
            <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
        </button>
    </form>

    <a href="{{ path('basefall2016_round', {round: roundid}) }}#{{ game.gameType.computerName }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}basefall2016.round.back{% endtrans %}
    </a>
{% endblock %}
