{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}basefall2016.game.new{% endtrans %}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-success pull-left" type="submit">
            <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
        </button>
    {{ form_end(form) }}

    <a href="{{ path('basefall2016_round', {round: roundid}) }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}basefall2016.round.back{% endtrans %}
    </a>
{% endblock %}
