{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    {% if app.user %}
		<h1>{% trans %}basefall2016.penality.penalities{% endtrans %}</h1>

        <button id="print" class="btn btn-warning pull-right print-big print" data-print="printData" data-title="{% trans %}basefall2016.penality.sum{% endtrans %}">
            <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
        </button>

        <div class="round-head">
            <h2 class="round-title">{% trans %}basefall2016.penality.sum{% endtrans %}</h2>
        </div>

        <div class="round-body clearfix PrintArea printData" style="overflow-x: auto">
            <table id="penality-sum-table" class="nondatatable-table padding-table table table-bordered table-hover table-condensed">
                <thead class="table-info">
                <tr>
                    <th>{% trans %}basefall2016.round.team{% endtrans %}</th>
                    <th colspan="4">{% trans %}basefall2016.player.players{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for tid, penality in penalities %}
                    <tr>
                        <td class="round-team-td round-game-team-right">
                            <span class="sortby">{{ penality.team.order }}</span>
                            <span class="round-game-team {{ penality.team.computerName }}-flag-left">{{ penality.team.name }} ({{ penality.team.shortName }})</span>
                            <span class="point{% if penality.team.points >= 20 %} penality-red{% endif %}">{{ penality.team.points }}</span>
                        </td>
                        {% for pid, player in penality.players %}
                            <td class="round-player-td">
                                <span class="player-number">{{ player.number }}</span>
                                <span class="player-name">{{ player.name }}</span>
                                <span class="player-score point{% if player.points >= 10 %} penality-red{% endif %}">{{ player.points }}</span>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock %}