{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    {% if app.user %}
		<h1>{% trans %}basefall2016.game.reports{% endtrans %}</h1>

        <table id="report-table" class="table table-bordered table-hover table-condensed report-table sticky-header">
			<thead>
			<tr>
				<th>{% trans %}basefall2016.player.player{% endtrans %}</th>
				{% for kcType in kcTypes %}
					<th class="centered">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
				{% endfor %}
			</tr>
			</thead>
			<tbody>
				{% set round = 0 %}
				{% for game in games %}
					{% if game.type != 'eloselejtezo_1' and game.type != 'eloselejtezo_2' and game.type != 'eloselejtezo_3' %}
						{% if game.round != round %}
							{% if game.round != 1 %}
								<tr>
									<td colspan="7" style="height: 30px;"> </td>
								</tr>
							{% endif %}
							<tr class="report-first">
								<td colspan="7" class="data" style="font-size: 1.3em; background: #79b6e0;"><b>{{ game.roundName }}</b></td>
							</tr>
							{% set round = game.round %}
						{% endif %}
						<tr class="report-first" id="{{ game.round }}_{{ game.type }}">
							<td class="data">{{ game.name }}</td>
							<td class="data">
								<span class="refTitle">{% trans %}basefall2016.game.refShort{% endtrans %}:</span>{{ game.ref }}
							</td>
							<td colspan="3" class="data">
								<span class="refTitle">{% trans %}basefall2016.game.srefShort{% endtrans %}:</span>{{ game.sref }}
							</td>
							<td colspan="2"  class="data">
								<span class="refTitle">{% trans %}basefall2016.game.jrefShort{% endtrans %}:</span>{{ game.jref }}
							</td>
						</tr>
						{% if game.description %}
							<tr>
								<td colspan="7" class="gameDescription">
									<span class="gameDesTitle">{% trans %}basefall2016.game.description{% endtrans %}: </span>
									<p class="gameDes">{{ game.description | nl2br }}</p>
								</td>
							</tr>
						{% endif %}
						{% for player in game.players %}
							<tr>
								<td class="{{ player.team }}-flag-left">{{ player.name }}</td>
								{% for kc in player.prs %}
									<td>{{ kc.value }}</td>
								{% endfor %}
							</tr>
						{% endfor %}
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
    {% endif %}
{% endblock %}

{% block javascripts %}
	{% javascripts '@AppBundle/Resources/public/js/lib/jquery.floatThead.min.js' filter='jsqueeze' output='js/basefall2016_floatThead.js' %}
	<script src="{{ asset_url }}"></script>
	{% endjavascripts %}
{% endblock %}