{% extends 'SkyAthlonSkyBall2016Bundle::base.html.twig' %}

{% block body %}
    {% if game.teamA and game.teamB %}
        <h1>{{ 'skyball2016.game.edit' | trans({'%teamA%': game.teamA, '%teamB%': game.teamB, '%type%': game.gameType.name}) }}</h1>
    {% else %}
        <h1>{{ 'skyball2016.game.edit' | trans({'%teamA%': '?', '%teamB%': '?', '%type%': game.gameType.name}) }}</h1>
    {% endif %}

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <button class="btn btn-success pull-left" type="submit">
            <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
        </button>
    {{ form_end(edit_form) }}

    <a href="{{ path('skyball2016_round', {round: roundid}) }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}skyball2016.round.back{% endtrans %}
    </a>

    {% if game.round.playoffs %}
        {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("' ~ 'confirm.skyball2016.game' | trans ~ '")'}}) }}
        <button class="btn btn-danger pull-right" style="margin-right: 10px;" type="submit">
            <span class="glyphicon glyphicon-trash"></span> {% trans %}skyball2016.game.delete{% endtrans %}
        </button>
        {{ form_end(delete_form) }}
    {% endif %}
{% endblock %}
