$color-white: #fff;
$color-black: #000;
$color-dark-grey: #333;
$color-grey: #ccc;
$color-light-grey: #eee;
$color-red: #f00;
$color-light-blue: #f2f8ff;
$color-almost-white: #f8f8f8;
$color-transparent: transparent;

$color-female: #d755b9;
$color-female-sec: #f1ace1;
$color-female-th: #fff7fd;
$color-male: #58c3fd;
$color-male-th: #f4fbff;
$color-shemale: #efaa33;
$color-shemale-sec: #f9d290;
$color-shemale-th: #fbf4df;

$color-error: #ffecec;
$color-error-border: #f5aca6;
$color-success: #e9ffd9;
$color-success-border: #a6ca8a;
$color-warning: #fff8c4;
$color-warning-border: #f2c779;
$color-notice: #e3f7fc;
$color-notice-border: #8ed9f6;

$color-skyathlon: #f2c119;
$color-skyball: #5897e5;
$color-basefall: #e55858;

$color-tatami-blue: #79a2d2;
$color-tatami-red: #b55c5c;

$color-selection: #009712;
$color-selectize-dropdown: #b1b1b1;
$color-selectize-border: #d0d0d0;
$color-news-blue: #5aa1ec;
$color-abcblue: #337ab7;
$color-menu-hover: #37d4d4;
$color-input-readonly: #f3f3f3;
$color-a-hover: #236e92;
$color-tr-hover: #f5f5f5;

$color-blue-table-lighter: #f9fbeb;
$color-blue-table-light: #f1ffed;
$color-blue-table: #ddefff;
$color-blue-table-dark: #8dcffd;
$color-note: #fdf9db;
$color-win: #3db93d;
$color-tie: #d2c84a;
$color-lose: #ea5d5d;
$color-game-description: #ffefef;
$color-report-dark: #111;
$color-rajatszas: #f5e151;
$color-rajatszas-active: #ff8d00;

$color-opacity1: rgba(250, 250, 250, .9);
$color-opacity2: rgba(250, 250, 250, .7);
$color-shadow: rgba(0, 0, 0, .75);

$color-print-green: #64a24b;
$color-print-light-blue: #f1ffed;
$color-print-light: #f6f6f6;

$color-chartist: #453d3f;
$color-chartist-bg: #f4c63d;

$color-fieldset-bg: rgba(55, 55, 155, .04);
