@mixin box-shadow($params) {
    -webkit-box-shadow: $params;
    -moz-box-shadow: $params;
    box-shadow: $params;
}

@mixin animation($params) {
    -webkit-animation: $params;
    animation: $params;
}

@mixin transform($params) {
    -webkit-transform: $params;
    -ms-transform: $params;
    transform: $params;
}

@mixin transition($params) {
    -webkit-transition: $params;
    -moz-transition: $params;
    -o-transition: $params;
    transition: $params;
}

@mixin delay($params) {
    -webkit-animation-delay: $params;
    animation-delay: $params;
}
