@import 'mixins';
@import 'colors';

body {
    background: $color-skyathlon url('../bundles/app/images/skyathlon_bg.png') top center no-repeat fixed;
    font-family: 'Comfortaa', cursive;

    &.admin {
        padding-bottom: 30px;
    }
}

.radio-inline.radio-custom,
.checkbox label,
.radio label {
    @include transition(.25s all ease);
    cursor: pointer;
    display: inline-block;
    line-height: 24px;
    padding-left: 30px;
    padding-right: 10px;
    position: relative;
    z-index: 3;

    &:before {
        @include transition(.25s all ease);
        border: 2px solid $color-abcblue;
        border-radius: 18px;
        content: ' ';
        display: block;
        height: 24px;
        left: 0;
        position: absolute;
        top: 0;
        width: 24px;
        z-index: -1;
    }
}

.checkbox label:before {
    border-radius: 4px;
}

[type="checkbox"],
[type="radio"] {
    height: 20px;
    margin-left: -50px;
    opacity: 0;
    position: absolute;
    width: 20px;
    z-index: -1;
}

[type="radio"] + label::before {
    border-radius: 18px;
}

[type="radio"]:checked + label {
    color: $color-white;
    padding-left: 10px;

    &:before {
        background: $color-news-blue;
        height: 100%;
        top: 0;
        width: 100%;
    }
}

[type="checkbox"]:checked + label {
    &:before {
        background: $color-news-blue;
    }
}

#content {
    @include box-shadow(0 0 5px 0 $color-shadow);
    margin: 90px auto 10px;
    padding-bottom: 20px;

    .dataTable {
        thead {
            th {
                padding: 10px 16px;
            }
        }

        tbody {
            th {
                padding: 4px 12px;
            }

            td {
                padding: 4px 10px;
                vertical-align: middle;
            }
        }

        tfoot {
            background: $color-white;
            font-weight: bold;

            th {
                padding: 4px 12px;
            }

            td {
                padding: 4px 12px;
            }
        }
    }

    #edit-player-results {
        border: 1px solid $color-report-dark;
        margin-bottom: 10px;

        input {
            :read-only,
            :-moz-read-only {
                background-color: $color-input-readonly;
            }
        }

        td {
            padding: 0;

            &:first-child {
                padding: 0 10px;
                vertical-align: middle;
                white-space: nowrap;
            }
        }

        label {
            display: none;
        }
    }

    .middle-table {
        thead {
            tr {
                th {
                    vertical-align: middle;
                }
            }
        }

        tbody {
            tr {
                td {
                    vertical-align: middle;
                }
            }
        }
    }

    .white-table {
        tbody {
            tr {
                td {
                    background: $color-white;
                }

                &.female {
                    td {
                        background: $color-female-th;
                    }
                }

                &.male {
                    td {
                        background: $color-male-th;
                    }
                }
            }
        }
    }

    .wim-table {
        tbody {
            tr {
                td {
                    vertical-align: middle;
                }
            }
        }
    }

    .vtop-table {
        tbody {
            tr {
                td {
                    vertical-align: top;
                }
            }
        }
    }

    .nondatatable-table {
        tbody {
            tr {
                td {
                    background: $color-white;
                    padding: 5px 10px;
                    vertical-align: middle;
                    white-space: nowrap;

                    &.gameDescription {
                        white-space: normal;
                    }
                }
            }
        }
    }

    .padding-table {
        thead {
            tr {
                th {
                    padding: 7px 15px;
                }
            }
        }

        tbody {
            tr {
                td {
                    padding: 7px 15px;

                    &:first-child {
                        .point {
                            line-height: 26px;
                        }
                    }

                    .point {
                        border: 1px solid $color-dark-grey;
                        font-weight: bold;
                        margin-left: 5px;
                        padding: 5px;
                    }
                }
            }
        }
    }
}

.sortable {
    li {
        cursor: move;
        cursor: -webkit-grabbing;
    }

    .sortable-chosen {
        background: $color-light-blue;
    }

    .sortable-drag {
        background: $color-light-blue;
    }
}

fieldset {
    background: $color-fieldset-bg;
    border: 1px solid $color-black;
    padding: 0 10px;
}

legend {
    border-bottom: 0;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0 10px;
    width: auto;
}

.block {
    clear: both;
    display: block;
}

.inline-block {
    display: inline-block;
}

.desktop {
    display: inline-block;
}

.mobile {
    display: none;
}

.container {
    background-color: $color-opacity1;
}

.hidden {
    display: none;
}

.row {
    margin-left: 0;
    margin-right: 0;

    .top-refs-table {
        tr:nth-child(-n+3) {

            td {
                background: $color-blue-table-light;
            }
        }

        tr:nth-child(3) {
            td {
                border-bottom: 1px solid $color-dark-grey;
            }
        }
    }

    .refs-table {
        margin: 0 auto;
        width: 660px;

        th {
            padding: 10px 15px;
            vertical-align: middle;
        }

        td {
            background: $color-white;
            vertical-align: middle;
        }
    }
}

img {
    max-width: 100%;
}

#main,
#footer {
    background-color: $color-opacity2;
}

#dashboards {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;

    .dashboard {
        display: inline-block;
        margin: 20px;
        position: relative;

        &.current {
            color: $color-print-green;
            font-weight: bold;

            .dashboard-iframe-overlay {
                border: 2px solid $color-print-green;
            }
        }

        .dashboard-iframe {
            overflow: hidden;
            padding: 0;
            z-index: 999;
        }

        .dashboard-iframe-overlay {
            border: 2px solid $color-dark-grey;
            cursor: pointer;
            left: 0;
            position: absolute;
            top: 0;
            z-index: 1000;

            &:hover {
                background: $color-opacity2;
                border: 2px solid $color-red;
            }
        }

        .dashboard-iframe-text {
            text-align: center;
        }
    }
}

#control-panel {
    background: $color-shadow;
    border-top: 1px solid $color-black;
    bottom: 0;
    color: $color-almost-white;
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    position: fixed;
    right: 0;
    text-align: center;

    a {
        background: $color-skyball;
        border: 1px solid $color-a-hover;
        color: $color-almost-white;
        padding: 5px 10px;
        text-decoration: none;

        &:hover {
            background: $color-notice-border;
        }
    }
}

#statuses {
    .status {
        display: inline-block;
        margin: 10px 0;
        padding: 5px 10px;

        &.failed {
            border: 2px solid $color-red;
            color: $color-red;

            &:before {
                content: '\f088';
                font-family: FontAwesome, serif;
            }
        }

        &.success {
            border: 2px solid $color-print-green;
            color: $color-print-green;

            &:before {
                content: '\f087';
                font-family: FontAwesome, serif;
            }
        }
    }
}

.viewer {
    max-height: calc(100vh - 135px);
}

::selection,
::-moz-selection {
    background: $color-selection;
    color: $color-white;
}

a:active {
    text-decoration: none;
}

a:focus,
a:active,
.btn:focus,
.btn:active {
    outline-offset: 0;
}

.dataTables_filter {
    float: right;
}

tfoot {
    background: $color-white;
    font-weight: bold;
}

.teamlogo {
    display: inline-block;
    height: 64px;
    text-align: center;

    img {
        max-height: 64px;
        max-width: 70px;
    }
}

.teamA {
    width: 51%;
}

.teamB {
    width: 49%;
}

.table-hover > tbody > tr:hover > td {
    background-color: $color-tr-hover;
}

.glyphicon {
    margin-right: 3px;
}

.print-small {
    margin: 10px;
}

.print-big {
    margin: 20px;
}

.print-title {
    text-align: center;
}

.btn {
    border-radius: 0;
}

.refTitle {
    margin-right: 7px;
}

.sr-menu {
    float: left;
    margin-left: 32px;
}

.clearfix {
    clear: both;
}

.abcRioButtonBlue {
    background-color: $color-abcblue;
}

th {
    vertical-align: middle;
}

.table-info,
.table-info > td,
.table-info > th {
    background-color: $color-white;
    color: $color-black;
}

.alert-box {
    color: $color-dark-grey;
    margin: 10px;
    padding: 10px;

    .fa {
        color: $color-red;
        cursor: pointer;
        float: right;
        font-size: 1.3em;
    }
}

.error {
    background: $color-error;
    border: 1px solid $color-error-border;
}

.success {
    background: $color-success;
    border: 1px solid $color-success-border;
}

.warning {
    background: $color-warning;
    border: 1px solid $color-warning-border;
}

.notice {
    background: $color-notice;
    border: 1px solid $color-notice-border;
}

.noty-message {
    display: block;
}

.sortby {
    display: none;
}

.selectize-dropdown {
    max-height: 400px;
    min-width: 200px;

    [data-selectable] {
        border-bottom: 1px solid $color-selectize-dropdown;
        border-top: 1px solid $color-selectize-dropdown;
    }
}

#loadstuff {
    visibility: hidden;
}

.sex-female {
    color: $color-female;
}

.sex-male {
    color: $color-male;
}

.game-box {
    border: 1px solid $color-dark-grey;
    display: inline-block;
    margin: 20px;
    padding: 20px;
    text-align: center;
    width: calc(50% - 44px);

    &:hover {
        background: $color-white;
        text-decoration: none;
    }

    .game-box-image {
        display: block;

        img {
            max-height: 200px;
        }
    }

    .game-box-text {
        font-size: 24px;
        font-weight: bold;
        margin-top: 10px;
        white-space: nowrap;
    }
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
    padding-left: 5px;
    padding-right: 5px;
}


table {
    tbody {
        .report-first {
            td {
                border-bottom-color: $color-report-dark;
                border-top-color: $color-report-dark;

                &:first-child {
                    border-left-color: $color-report-dark;
                }

                &:last-child {
                    border-right-color: $color-report-dark;
                }
            }
        }
    }

    > thead > tr > th {
        background-color: $color-blue-table-dark;
    }
}

audio {
    width: 100%;
}

.round-head {
    margin: 0 20px;
}

.round-body {
    clear: both;
}

.navbar-fixed-bottom .navbar-collapse,
.navbar-fixed-top .navbar-collapse {
    max-height: none;
}

.round-ajax-table {
    border: 1px solid $color-report-dark;

    .round-game-player-td {
        white-space: nowrap;
    }
}

.round-game-table {
    td {
        &:first-child {
            white-space: nowrap;
        }
    }

    label {
        display: none;
    }
}

.fa {
    margin-right: 4px;
}

.margin-hack {
    float: right;
    margin-top: -60px;
}

.round-game {
    background: $color-white;
    border: 2px solid $color-dark-grey;
    clear: both;
    display: block;
    margin: 0 20px -2px;
    overflow: hidden;
    padding: 10px;

    .round-game-type {
        background: $color-blue-table;
        border: 1px dotted $color-dark-grey;
        font-size: 1.2em;
        margin: 0 auto;
        padding: 2px;
        position: relative;
        text-align: center;
        width: 100%;

        &.ref {
            border-top: 0;
            display: inline-block;
            font-size: .9em;
            margin-bottom: -6px;
            margin-top: -1px;
        }

        span {
            display: inline-block;
        }

        .edit-game {
            left: 0;
            position: absolute;
        }

        .edit-game-stats {
            position: absolute;
            right: 0;
        }
    }

    .round-game-head {
        display: table;
        font-size: 1.5em;
        height: 50px;
        position: relative;
        vertical-align: middle;
        width: 100%;
    }

    .round-game-head-item {
        display: table-cell;
        height: 50px;
        line-height: 50px;
    }

    .round-game-head-left {
        text-align: center;
    }

    .round-game-head-center {
        background-size: 50% auto;
        text-align: center;
    }

    .round-game-head-right {
        text-align: center;
    }

    .round-game-team-left {
        text-align: left;

        .teamlogo {
            text-align: left;
        }
    }

    .round-game-team-right {
        text-align: right;

        .teamlogo {
            text-align: right;
        }
    }

    .round-game-point {
        font-size: 1.2em;
        font-weight: bold;
        vertical-align: middle;

        &.round-game-point-green {
            color: $color-win;
        }

        &.round-game-point-yellow {
            color: $color-black;
        }

        &.round-game-point-red {
            color: $color-lose;
        }
    }

    .round-game-team {
        font-weight: bold;

        &.round-game-point-green {
            color: $color-win;
        }

        &.round-game-point-yellow {
            color: $color-tie;
        }

        &.round-game-point-red {
            color: $color-lose;
        }
    }

    .round-game-lose {
        .round-game-team {
            font-weight: normal;
        }
    }

    .round-game-body {
        clear: both;
    }
}

.round-game-group-title {
    background: $color-blue-table-dark;
    border: 2px solid $color-dark-grey;
    display: block;
    font-size: 24px;
    line-height: 1em;
    margin: 0 10px -2px;
    padding: 5px;
    text-align: center;
    width: calc(100% - 20px);
}

.round-game-group-subtitle {
    background: $color-news-blue;
    border: 2px solid $color-dark-grey;
    color: $color-white;
    font-size: 20px;
    line-height: 1em;
    margin: 0 10px -2px;
    padding: 5px;
    text-align: center;
    width: calc(100% - 20px);
}

.round-player-select .selectize-input.has-options.has-items {
    padding-right: 50px;
}

.round-sumkerchief-table {
    background: $color-white;
    margin: 0 auto;

    th {
        &:first-child {
            border-left-width: 5px;
        }

        &:last-child {
            border-right-width: 5px;
        }
    }
}

#team-table {
    tr:nth-child(-n+3) {
        td:first-child {
            font-weight: bold;
        }

        td {
            background: $color-blue-table-light;
        }
    }

    tr:nth-child(3) {
        td {
            border-bottom: 1px solid $color-dark-grey;
        }
    }

    tr {
        td {
            white-space: nowrap;
        }
    }
}

#round-navigation {
    clear: both;
    margin: 0;
    text-align: center;

    .pagination {
        display: table;
        margin: 10px auto;
    }
}

.smaller-table {
    font-size: .9em;
}

.round-top3-table {
    background: $color-white;
    border-collapse: separate;
    font-size: .8em;

    &.round-top3-10-table {
        tbody {
            tr {
                &:nth-child(8) {
                    td {
                        border-bottom: 0;
                    }
                }

                &:nth-child(10) {
                    td {
                        border-bottom: 1px solid $color-dark-grey;
                    }
                }

                &:nth-child(n+4):nth-child(-n+10) {
                    td {
                        background: $color-blue-table-lighter;
                    }

                    &:hover {
                        background-color: $color-tr-hover;

                        td {
                            background-color: $color-tr-hover;
                        }
                    }
                }
            }
        }
    }

    &.padding-table {
        font-size: 1em;
    }

    th {
        font-size: 1.1em;
    }

    tbody {
        tr {
            &:hover {
                background-color: $color-tr-hover;

                td {
                    background-color: $color-tr-hover;
                }
            }

            &:nth-child(3),
            &:nth-child(8) {
                td {
                    border-bottom: 1px solid $color-dark-grey;
                }
            }

            &:nth-child(n+4):nth-child(-n+8) {
                td {
                    background: $color-blue-table-lighter;
                }

                &:hover {
                    background-color: $color-tr-hover;

                    td {
                        background-color: $color-tr-hover;
                    }
                }
            }

            &:nth-child(-n+3) {
                td {
                    background: $color-blue-table-light;
                }

                &:hover {
                    background-color: $color-tr-hover;

                    td {
                        background-color: $color-tr-hover;
                    }
                }
            }

            td {
                padding: 5px 3px;
                white-space: nowrap;
            }
        }
    }

    .player-number {
        font-weight: normal;
        margin-right: 3px;
    }

    .player-score {
        font-weight: bold;
    }
}

.round-game-showhide-container {
    border-top: 1px dotted $color-dark-grey;
    display: table;
    padding-top: 5px;
    table-layout: fixed;
    text-align: center;
    width: 100%;

    .btn {
        display: table-cell;
        float: none;
    }
}

.round-game-showhide {
    border-bottom: 1px solid $color-abcblue;
    color: $color-abcblue;
    cursor: pointer;
    display: table-cell;
    font-size: 13px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 210px;

    &:before,
    &:after {
        border-color: $color-abcblue transparent;
        border-style: solid;
        border-width: 10px 10px 0;
        bottom: -10px;
        content: '';
        left: calc(50% - 10px);
        position: absolute;
    }

    &:after {
        border-color: $color-white transparent;
        bottom: -9px;
    }

    &:hover {
        background: $color-blue-table;
        border-bottom: 1px solid $color-dark-grey;
        color: $color-dark-grey;

        &:before {
            border-color: $color-dark-grey transparent;
        }

        &:after {
            border-color: $color-blue-table transparent;
        }
    }
}

.round-game-inner-body {
    clear: both;
    display: none;
    margin-top: 10px;

    .table-responsive.inline-display {
        border: 0;
    }
}

.delete-game-comment-button {
    margin-left: 5px;
}

#round-stats {
    text-align: center;

    .btn-default {
        color: $color-abcblue;
    }
}

.player-number {
    display: inline-block;
    margin-right: 5px;
    text-align: right;
    width: 15px;
}

.round-game-edit {
    display: none;
}

.inline-display {
    display: inline;
}

.dataTables_wrapper {
    display: block;
    padding: 0 10px;
}

.centered {
    text-align: center;
}

.dataTable thead tr th {
    vertical-align: middle;
}

.report-table {
    border-collapse: initial;
    font-size: .8em;
    margin-top: 10px;
    vertical-align: middle;

    thead th,
    thead tr {
        padding: 5px 10px;
    }

    tr th {
        text-align: center;
        vertical-align: middle;
    }

    tbody {
        background: $color-white;

        tr {
            td {
                text-align: center;
                vertical-align: middle;
                white-space: nowrap;

                &:first-child {
                    font-weight: bold;
                }

                &.gameDescription {
                    background: $color-game-description;
                    font-weight: normal;
                    padding: 5px 10px;
                    text-align: left;
                    white-space: normal;
                    word-break: break-all;
                    word-wrap: break-word;
                }
            }
        }
    }

    .gameDesTitle {
        display: block;
        font-weight: bold;
    }

    .gameDes {
        margin: 0;
        white-space: normal;
        word-break: break-all;
        word-wrap: break-word;
    }

    .data {
        background: $color-blue-table;
        font-weight: bold;

        &:first-child {
            padding-left: 10px;
            text-align: left;
        }
    }
}

.sticky-header thead {
    background: $color-blue-table-dark;
}

.kerchief-small {
    display: block;
    font-size: .8em;
    font-weight: normal;
}

.mass-input {
    background: transparent;
    border: 0;
    height: 40px;
    line-height: 40px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.filter-team-text {
    margin-right: 5px;
}

#by-players-sum-table {
    .player-number {
        font-weight: normal;
    }

    tr {
        &:first-child {
            td {
                background: $color-blue-table-light;
                border-bottom: 1px solid $color-dark-grey;
                font-weight: bold;

                span {
                    font-weight: bold;
                }
            }
        }
    }
}

.round-round-table {
    tr {
        &:nth-child(-n+10) {
            td {
                &:first-child {
                    color: $color-print-green;
                }
            }
        }

        &:nth-child(10) {
            td {
                border-bottom: 1px solid $color-dark-grey;
            }
        }
    }
}

.by-players-table {
    tr {
        &:nth-child(-n+3) {
            td {
                background: $color-blue-table-light;

                &:first-child {
                    color: $color-print-green;
                }
            }
        }

        &:nth-child(3) {
            td {
                border-bottom: 1px solid $color-dark-grey;
            }
        }
    }
}

#all-by-teams-table {
    tr {
        &:nth-child(-n+3) {
            td {
                &:first-child {
                    font-weight: bold;
                }
            }
        }
    }
}

#by-players-table {
    tr {
        td {
            &:last-child {
                font-weight: bold;
            }
        }
    }
}

.by-teams-table {
    .teamlogo {
        display: table-cell;
        vertical-align: middle;
        width: 80px;

        img {
            margin-right: 5px;
        }
    }

    tbody {
        tr {
            td {
                vertical-align: middle;

                &.round-team-td {
                    span {
                        display: table-cell;
                        text-align: left;
                        vertical-align: middle;

                        &.sortby {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

.round-teams-table {
    background: $color-white;
    border-collapse: inherit;
    margin: 0 auto;

    &.round-players-table {
        tr {
            &:first-child {
                td {
                    &:nth-child(2) {
                        font-weight: normal;
                    }
                }
            }

            td {
                padding: 10px;

                &:nth-child(3) {
                    border-left: 0;
                }

                &:not('egal'):nth-child(2) {
                    border-right: 0;
                }
            }
        }
    }

    tr {
        &:first-child {
            td {
                &:nth-child(2) {
                    font-weight: bold;
                }
            }
        }
    }

    thead {
        tr {
            th {
                border: 0;
                text-align: center;
            }
        }
    }

    td {
        &:first-child {
            border-right: 0;
            font-size: 2em;
            text-align: center;
        }

        &:nth-child(2) {
            border-left: 0;
        }

        &.round-team-td {
            span {
                display: table-cell;
                vertical-align: middle;

                &.edit-player-number,
                &.edit-player-name {
                    display: inline-block;
                }
            }
        }
    }

    .teamlogo {
        display: table-cell;
        vertical-align: middle;
        width: 80px;

        img {
            margin-right: 5px;
        }
    }
}

.round-players-table {
    clear: both;

    td {
        .edit-player-number {
            display: inline-block;
            margin-right: 5px;
            text-align: right;
            width: 15px;
        }

        .edit-player-name {
            display: inline-block;
            margin-right: 5px;
        }

        .edit-player-score {
            font-weight: bold;
        }
    }
}

.third {
    width: 33%;
}

.round-team-interact-from:hover {
    background-color: $color-grey;
}

.round-team-select {
    width: 220px;
}

.sticky-header > thead > tr > th {
    vertical-align: middle;
}

.selectize-control .selectize-dropdown-content {
    max-height: 400px;

    .edit-player-number {
        display: inline-block;
        margin-right: 5px;
        text-align: right;
        width: 15px;
    }

    .edit-player-name {
        display: inline-block;
        margin-right: 5px;
    }

    .edit-player-score {
        font-weight: bold;
    }
}

.selectize-input {
    white-space: nowrap;
}

.team-name-a {
    color: $color-dark-grey;

    :hover {
        color: $color-a-hover;
    }
}

.egal td {
    border: 1px solid $color-red;

    &:nth-child(2) {
        border-left: 0;
    }
}

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin-bottom: 5px;
        padding: 10px 20px;

        span {
            margin-left: -17px;
        }
    }
}

#orderPlayoffButton {
    visibility: hidden;
}

.rajatszas {
    background: $color-opacity2 url('../bundles/app/images/rajatszas.png') no-repeat top right;
}

.anchor {
    display: block;
    position: relative;
    top: -75px;
    visibility: hidden;
}

.admin {
    .krumo-root {
        left: 0;
        margin: 5px auto;
        position: absolute;
        right: 0;
        width: 960px;
        z-index: 1000;
    }
}
