@import 'colors';
@import 'mixins';

#header-logo,
.header-logo {
    margin-top: -10px;
    max-height: 60px;
}

.navbar .container .header-logo-cont,
.navbar .container-fluid .header-logo-cont {
    margin-left: 0;
}

#menu-games {
    border-right: 1px solid $color-dark-grey;
}

.navbar-default {
    .navbar-nav > li:not(.active) > a:hover > .fa {
        color: $color-white;
    }

    .navbar-nav > li > a {
        font-size: 1.2em;
        line-height: 45px;

        &:hover {
            color: $color-white;
        }

        > img {
            max-height: 40px;
        }
    }
}

.menu {
    &:hover {
        background: $color-dark-grey;
    }

    > a > .fa {
        color: $color-abcblue;
        font-size: 1.3em;
    }

    p {
        display: inline-block;
        margin: 0;
        padding: 0;
        vertical-align: text-bottom;

        img {
            height: 28px;
        }
    }

    span {
        display: inline-block;
    }
}

.dropdown-menu > li > a {
    display: inline-block;
    font-size: 1.5em;
    margin: 0 10px;
    padding: 3px 20px 3px 0;

    &:hover {
        background-color: transparent;
        color: $color-menu-hover;
    }
}

#header-right-container {
    float: right;
    height: 100%;
    margin-top: 8px;
}

#header-loggedin {
    float: left;
    font-size: 1.2em;
    height: 52px;
    text-align: right;
    vertical-align: middle;

    &:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
}

#header-loggedin-text {
    display: inline-block;
    vertical-align: middle;
}

#header-signin-button,
#header-logout {
    float: left;
}

#header-logout {
    @include box-shadow(0 2px 4px 0 $color-shadow);
    margin-left: 10px;
    padding: 13px 16px;
}

#navigation-bar,
#navigation-bar-collapse {
    padding: 0;
}

#main-menu .fa {
    margin-right: 4px;
    text-align: right;
    width: 18px;
}

