@import 'colors';

#selejtezo {
    width: auto !important;

    td {
        padding: 4px 12px;
    }
}

.news-item {
    background: $color-white;
    border: 2px solid $color-dark-grey;
    clear: both;
    display: block;
    margin: 20px;
    overflow: hidden;
    padding: 10px;

    &.comment-item {
        margin: 10px 0;
    }

    .news-head {
        position: relative;
        width: 100%;
    }

    .news-date {
        color: $color-news-blue;
        float: left;
        margin-right: 5px;
    }

    .news-author {
        color: $color-news-blue;
        float: right;
        margin-left: 5px;
    }

    .news-body {
        border-top: 1px dotted $color-dark-grey;
        clear: both;
        padding-top: 10px;
    }

    h2 {
        margin: 0 0 5px;

        a,
        a:hover,
        a:active {
            text-decoration: none;
        }
    }

    a {
        &:not(.btn):hover {
            color: $color-dark-grey;

            span {
                color: $color-dark-grey;
            }
        }
    }
}
