@import 'colors';

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    td:last-child {
        page-break-after: auto;
    }

    a:after,
    [href]:after {
        content: '' !important;
    }

    .medal:after {
        display: none !important;
    }

    .dataTables_filter {
        display: none;
    }

    #control-panel {
        display: none;
    }

    .noprint {
        display: none;
    }

    #team-table {
        .teamlogo,
        .noprint {
            display: none !important;
        }
    }

    .round-round-table tr:nth-child(-n+10) td:first-child span,
    .by-players-table tr:nth-child(-n+3) td:first-child span {
        color: $color-print-green;
    }

    th,
    td {
        line-height: .95em;
        padding: 8px 10px;
    }

    #all-by-teams-table .round-team-td .teamlogo {
        height: 48px;
    }

    .round-sumteam-table .round-team-td .teamlogo {
        height: 46px;
    }

    .round-sumteam-table.round-top3-table .round-team-td .teamlogo {
        display: none;
    }

    .print-title {
        text-align: center;
    }

    .round-top3-table {
        background: $color-white;
        border-collapse: separate;
        font-size: .9em;

        tr:nth-child(-n+3) td {
            background: $color-print-light-blue;
        }

        tr:nth-child(3) td {
            border-bottom: 1px solid $color-dark-grey;
        }

        .player-number {
            font-weight: normal;
        }

        .player-score {
            font-weight: bold;
        }

        thead tr th,
        tbody tr td {
            //font-size: .75em;
            padding: 8px 5px;
        }

        th {
            background: $color-print-light;
        }
    }

    .row {
        .dataTable {
            thead {
                th {
                    padding: 8px 12px;
                }
            }

            tbody {
                td {
                    padding: 4px 8px;
                }
            }
        }
    }

    #by-players-ranks-table {
        font-size: .8em;
    }
}
