@import 'colors';

@media (max-width: 1000px) {
    * {
        font-size: .95em;
    }

    .btn {
        font-size: .8em;
    }

    .round-game-group-title {
        font-size: 20px;
    }

    .round-top3-table .player-number {
        margin-right: 1px;
        width: 8px;
    }

    .round-top3-table tbody tr td {
        padding: 5px 1px;
    }

    .team-flag-small {
        height: 40px;
    }

    #all-by-teams-table tr td,
    #by-players-ranks-table tr td,
    #srefs-table-players tr td,
    #refs-table-players tr td,
    #team-games-table tr td,
    #team-show-table tr td,
    #team-table tr td {
        font-size: 1.6em;
    }

    #srefs-table-players tr th,
    #refs-table-players tr th,
    #team-games-table tr th,
    #team-show-table tr th,
    #team-table tr th {
        font-size: 1.4em;
    }

    .team-flag-col {
        text-align: center;
    }

    #team-table td:first-child .teamlogo img {
        margin-right: 3px;
        max-height: 40px;
        max-width: 26px;
    }

    .navbar-brand {
        display: inline-block;
    }

    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus,
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
        color: $color-menu-hover;
    }

    .navbar-nav {
        .navbar-brand {
            float: none;
        }

        .open .dropdown-menu {
            background-color: $color-white;
        }
    }

    #header-logo,
    .header-logo {
        max-height: 40px;
    }

    #navigation-bar .nav {
        display: flex;
    }

    #header-right-container {
        height: 100%;
        margin: 0 10px 0 0;
        text-align: center;
    }

    #header-signin-button {
        margin-top: 5px;

        .abcRioButton {
            height: 40px;
            width: 120px;
        }

        .abcRioButtonIcon {
            padding: 10px 7px;
        }

        .abcRioButtonContents {
            display: table-cell;
            height: 38px;
            line-height: normal;
            vertical-align: middle;
            white-space: normal;
        }
    }

    #header-logout {
        font-size: 1em;
        margin-right: 10px;
        margin-top: 10px;
        padding: 7px 6px;
    }

    .container-fluid > .navbar-collapse,
    .container-fluid > .navbar-header,
    .container > .navbar-collapse,
    .container > .navbar-header {
        margin-left: 0;
        margin-right: 0;
    }

    .news-item h2 a,
    .navbar-default .navbar-nav > li > a {
        font-size: 1.4em;
    }

    .navbar-default .navbar-nav > li > a {
        line-height: 22px;
    }
}

@media (max-width: 600px) {
    .h1,
    h1 {
        font-size: 20px;
    }

    .h2,
    h2 {
        font-size: 16px;
    }

    #control-panel {
        right: auto;
    }

    #all-by-teams-table tr td,
    #by-players-ranks-table tr td,
    #srefs-table-players tr td,
    #refs-table-players tr td,
    #team-games-table tr td,
    #team-show-table tr td,
    #team-table tr td {
        font-size: 1.2em;
    }

    #srefs-table-players tr th,
    #refs-table-players tr th,
    #team-games-table tr th,
    #team-show-table tr th,
    #team-table tr th {
        font-size: 1.1em;
    }

    #navigation-bar .nav {
        display: block;
        margin: 0;
    }

    #menu-games {
        border-right: 0;
    }

    .navbar-default .navbar-nav > li > a {
        line-height: 30px;
    }

    .player-number {
        margin-right: 3px;
        width: 10px;
    }

    .round-game-type .btn {
        font-size: .6em;
    }

    #content .dataTable tbody td {
        padding: 4px 6px;
    }

    #content .dataTable thead th {
        padding: 7px 14px 7px 7px;
    }

    #content .padding-table thead tr th,
    #content .padding-table tbody tr td {
        padding: 3px 6px;
    }

    .round-top3-table th {
        font-size: .8em;
    }

    .round-teams-table td:first-child {
        font-size: 1.4em;
    }

    table.dataTable thead .sorting {
        background-size: 15px;
    }

    .by-teams-table .teamlogo {
        height: 48px;
        width: 32px;
    }

    .report-table .kerchief-small {
        display: none;
    }

    .btn {
        font-size: .8em;
    }

    input {
        font-size: .8em;
    }

    .dataTable {
        thead {
            th,
            td {
                padding: 10px 18px 10px 5px;
            }
        }

        tbody {
            th,
            td {
                padding: 4px;
            }
        }
    }

    .row {
        overflow-x: auto;
    }

    .pagination > li {
        > a,
        > span {
            padding: 4px 8px;
        }
    }

    .sex-male:before,
    .sex-female:before {
        width: 11px;
    }

    .margin-hack {
        margin-top: -32px;
    }

    .desktop {
        display: none;
    }

    .mobile {
        display: inline-block;
    }

    .news-meta {
        font-size: .9em;
    }

    .hideOnXs {
        display: none;
    }

    #team-table {
        td:first-child a .teamlogo {
            height: 32px;
            width: 32px;

            img {
                margin-right: 2px;
                max-height: 32px;
                max-width: 32px;
            }
        }

        td {
            white-space: nowrap;
        }

        .teamname {
            line-height: 32px;
            white-space: nowrap;
        }

        .player-number {
            width: 8px;
        }
    }

    .top-refs-table {
        td:nth-child(2) {
            white-space: nowrap;
        }
    }

    .team-flag-small {
        height: 30px;
    }

    .team-flag {
        height: 100px;
    }

    .teamlogo img {
        max-height: 32px;
        max-width: 35px;
    }

    .round-game-type span {
        font-size: .8em;
    }

    .round-title {
        float: left;
        margin-top: 10px;
    }

    .round-item {
        margin-top: 10px;

        .round-game {
            .round-game-type.ref {
                display: none;
            }

            .round-game-head {
                font-size: .8em;
                height: 40px;

                &.skyolimpia {
                    font-size: 1.5em;
                }
            }

            .round-game-head-item {
                height: 40px;
                line-height: 40px;

                a {
                    font-size: 1.2em;
                }
            }
        }
    }

    .round-teams-table .teamlogo {
        width: 40px;
    }

    .row .refs-table {
        width: auto;
    }

    .round-game-group-title {
        font-size: 16px;
    }

    .round-game-group-subtitle {
        font-size: 14px;
    }

    .round-game-showhide {
        font-size: .8em;
        width: 140px;
    }

    .input-sm {
        height: 15px;
    }

    #edit-player-results input {
        font-size: 1.2em;
    }

    #team-medals-table {
        width: auto;
    }

    .checkbox label,
    .radio label {
        line-height: 20px;
        max-height: 20px;
    }

    .game-box {
        width: calc(100% - 44px);

        .game-box-text {
            font-size: 16px;
        }
    }
}
