@import 'mixins';
@import 'colors';

@-webkit-keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        @include transform(scale(0));
    }

    40% {
        @include transform(scale(1));
    }
}

@keyframes sk-circleBounceDelay {
    0%,
    80%,
    100% {
        @include transform(scale(0));
    }

    40% {
        @include transform(scale(1));
    }
}

.sk-spinner-p {
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.sk-circle {
    height: 40px;
    margin: 50px auto 0;
    position: relative;
    width: 40px;

    .sk-child {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        &:before {
            @include animation(sk-circleBounceDelay 1.2s infinite ease-in-out both);
            background-color: $color-dark-grey;
            border-radius: 100%;
            content: '';
            display: block;
            height: 15%;
            margin: 0 auto;
            width: 15%;
        }
    }

    .sk-circle2 {
        @include transform(rotate(30deg));

        &:before {
            @include delay(-1.1s);
        }
    }

    .sk-circle3 {
        @include transform(rotate(60deg));

        &:before {
            @include delay(-1s);
        }
    }

    .sk-circle4 {
        @include transform(rotate(90deg));

        &:before {
            @include delay(-.9s);
        }
    }

    .sk-circle5 {
        @include transform(rotate(120deg));

        &:before {
            @include delay(-.8s);
        }
    }

    .sk-circle6 {
        @include transform(rotate(150deg));

        &:before {
            @include delay(-.7s);
        }
    }

    .sk-circle7 {
        @include transform(rotate(180deg));

        &:before {
            @include delay(-.6s);
        }
    }

    .sk-circle8 {
        @include transform(rotate(210deg));

        &:before {
            @include delay(-.5s);
        }
    }

    .sk-circle9 {
        @include transform(rotate(240deg));

        &:before {
            @include delay(-.4s);
        }
    }

    .sk-circle10 {
        @include transform(rotate(270deg));

        &:before {
            @include delay(-.3s);
        }
    }

    .sk-circle11 {
        @include transform(rotate(300deg));

        &:before {
            @include delay(-.2s);
        }
    }

    .sk-circle12 {
        @include transform(rotate(330deg));

        &:before {
            @include delay(-.1s);
        }
    }
}