@import 'colors';
@import 'mixins';

#content {
    padding-bottom: 0;
}

#tatamis {
    border: 1px solid $color-dark-grey;
    display: table;
    font-size: 0;
    height: 560px;
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 1040px;
    z-index: 2;

    #tatami-cont,
    #tatami-canvas {
        height: 560px;
        left: 0;
        position: absolute;
        top: 0;
        width: 1040px;
    }

    #tatami-canvas {
        z-index: 5;
    }

    .tatami-row {
        display: block;

        .tatami {
            background: $color-tatami-blue;
            border: 1px solid $color-dark-grey;
            display: inline-block;
            height: 80px;
            width: 80px;

            &.red {
                background: $color-tatami-red;
            }
        }
    }
}
