$color-white: #fff;
$color-black: #000;
$color-dark-grey: #333;
$color-grey: #ccc;
$color-red: #f00;

$color-error: #ffecec;
$color-error-border: #f5aca6;
$color-success: #e9ffd9;
$color-success-border: #a6ca8a;
$color-warning: #fff8c4;
$color-warning-border: #f2c779;
$color-notice: #e3f7fc;
$color-notice-border: #8ed9f6;

$color-skyathlon: #f2c119;
$color-throwfall: #ffc6bd;
$color-basefall: #e55858;

$color-selection: #009712;
$color-selectize-dropdown: #b1b1b1;
$color-news-blue: #5aa1ec;
$color-abcblue: #337ab7;
$color-menu-hover: #b7ffff;
$color-input-readonly: #f3f3f3;
$color-a-hover: #236e92;
$color-tr-hover: #f5f5f5;

$color-blue-table-lighter: #f9fbeb;
$color-blue-table-light: #f1ffed;
$color-blue-table: #cce6f8;
$color-blue-table-dark: #8dcffd;
$color-win: #3db93d;
$color-tie: #d2c84a;
$color-lose: #ea5d5d;
$color-game-description: #ffefef;
$color-report-dark: #111;

$color-opacity1: rgba(250, 250, 250, .9);
$color-opacity2: rgba(250, 250, 250, .7);
$color-shadow: rgba(0, 0, 0, .75);

$color-print-green: #64a24b;
$color-print-light-blue: #f1ffed;
$color-print-light: #f6f6f6;

$color-kerchief-yellow: #f3c301;
$color-kerchief-black: #07090f;
$color-kerchief-white: #e8e9e6;
$color-kerchief-kek: #94b6d7;
$color-kerchief-dark: #000;
$color-kerchief-light: #ddd;
