@import 'colors';

body {
    background: $color-throwfall;
}

.round-game {
    .round-game-head {
        height: 70px;
    }

    .round-game-head-item {
        height: 70px;
        line-height: 70px;
    }
}

.kerchief-pont {
    background: $color-kerchief-yellow;
    color: $color-kerchief-dark;
}

.kerchief-mezonyjatekos {
    background: $color-kerchief-white;
    color: $color-kerchief-dark;
}

.kerchief-kapus {
    background: $color-kerchief-black;
    color: $color-kerchief-light;
}

.kerchief-egyeb {
    background: $color-kerchief-kek;
    color: $color-kerchief-dark;
}

.wide-table {
    td {
        font-size: .9em;
    }
}

.kcsmall-table {
    .kerchief-small {
        font-size: .7em;
    }
}
