{% extends 'SkyAthlonThrowFall2017Bundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <section class="col-md-12">
            <h1>{% trans %}throwfall2017.team.teams{% endtrans %}</h1>

            <button id="print" class="btn btn-warning pull-right print-small print" data-print="PrintArea" data-title="{% trans %}throwfall2017.team.teams{% endtrans %}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <p id="no-teams">{% trans %}throwfall2017.team.noTeams{% endtrans %}</p>

            <div class="PrintArea">
                <table id="team-table" class="table-hover row-border">
                    <thead>
                    <tr>
                        <th>{% trans %}throwfall2017.team.team{% endtrans %}</th>
                        <th>{% trans %}throwfall2017.team.players{% endtrans %}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th class="centered">{% trans %}throwfall2017.team.rank{% endtrans %} ({% trans %}throwfall2017.team.point{% endtrans %})</th>
                    </tr>
                    </thead>
                    <tbody class="list" id="team-body">
                    {% for team in teams %}
                        <tr class="{{ team.computerName }}">
                            <td class="border-left-table-{{ team.computerName }}">
                                <a href="{{ path('throwfall2017_team_show', { 'id': team.computerName }) }}">
                                    <span class="teamname">{{ team.name }}</span>
                                </a>
                            </td>
                            <td>
                                <span class="player-number">{{ team.players[0].number }}</span>
                                <span class="player-name">{{ team.players[0].name }}</span>
                            </td>
                            <td>
                                <span class="player-number">{{ team.players[1].number }}</span>
                                <span class="player-name">{{ team.players[1].name }}</span>
                            </td>
                            <td>
                                <span class="player-number">{{ team.players[2].number }}</span>
                                <span class="player-name">{{ team.players[2].name }}</span>
                            </td>
                            <td>
                                <span class="player-number">{{ team.players[3].number }}</span>
                                <span class="player-name">{{ team.players[3].name }}</span>
                            </td>
                            {% set point = team.point ? team.point : 0 %}
                            {% set point = point > 0 ? '+' ~ point : point %}
                            <td class="centered border-right-table-{{ team.computerName }}">
                                <span class="teamRank">{{ team.rank ? team.rank : '-' }}</span>
                                (<span class="teamPoint">{{ point }}</span>)
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>

{% endblock %}

{% block stylesheets %}
    {% stylesheets '@SkyAthlonThrowFall2017Bundle/Resources/public/css/teams.scss' filter='scssphp' output='css/throwfall2017_teams.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
