{% extends 'SkyAthlonThrowFall2017Bundle::base.html.twig' %}

{% block body %}
    <div class="row">
        <section class="col-md-12">
            <h1>{{ 'throwfall2017.team.teamTitle' | trans({'%team%': team.name }) }}</h1>

            <h2>{% trans %}throwfall2017.team.commonData{% endtrans %}</h2>
            <table id="team-show-table" class="round-game-table table table-bordered table-hover table-condensed content-loaded dataTable no-footer team-show-table">
                <thead>
                <tr>
                    <th colspan="4">{% trans %}throwfall2017.team.player{% endtrans %}</th>
                    <th>{% trans %}throwfall2017.team.rank{% endtrans %} ({% trans %}throwfall2017.team.point{% endtrans %})</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ team.players[0].name }} ({{ team.players[0].number }})</td>
                    <td>{{ team.players[1].name }} ({{ team.players[1].number }})</td>
                    <td>{{ team.players[2].name }} ({{ team.players[2].number }})</td>
                    <td>{{ team.players[3].name }} ({{ team.players[3].number }})</td>
                    {% set point = team.point ? team.point : 0 %}
                    {% set point = point > 0 ? '+' ~ point : point %}
                    <td>
                        <span class="teamRank">{{ team.rank ? team.rank : '-' }}</span>
                        (<span class="teamPoint">{{ point }}</span>)
                    </td>
                </tr>
                </tbody>
            </table>

            {% set ownPoint = 0 %}
            {% set enemyPoint = 0 %}

            <h2>{% trans %}throwfall2017.team.games{% endtrans %}</h2>
            <table id="team-games-table" class="round-game-table table table-bordered table-hover table-condensed content-loaded dataTable no-footer team-show-table">
                <thead>
                <tr>
                    <th>{% trans %}throwfall2017.game.type{% endtrans %}</th>
                    <th>{% trans %}throwfall2017.game.enemyTeam{% endtrans %}</th>
                    <th>{% trans %}throwfall2017.game.result{% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                    {% set r = 0 %}
                    {% for game in team.games %}
                        {% set result = game.pointA ~ ' ' ~ 'throwfall2017.round.vs' | trans ~ ' ' ~ game.pointB %}
                        {% set enemy = '' %}
                        {% if game.teamA is defined and game.teamA %}
                            {% set enemy = game.teamA.name %}
                            {% if game.pointB > game.pointA %}
                                {% set result = '<span class="win ours">' ~ game.pointB ~ '</span> ' ~ 'throwfall2017.round.vs' | trans ~ ' ' ~ game.pointA %}
                            {% elseif game.pointB < game.pointA %}
                                {% set result = '<span class="lose ours">' ~ game.pointB ~ '</span> ' ~ 'throwfall2017.round.vs' | trans ~ ' ' ~ game.pointA  %}
                            {% else %}
                                {% set result = '<span class="ours">' ~ game.pointB ~ '</span> ' ~ 'throwfall2017.round.vs' | trans ~ ' ' ~ game.pointA %}
                            {% endif %}

                            {% set ownPoint = ownPoint + game.pointB %}
                            {% set enemyPoint = enemyPoint + game.pointA %}
                        {% elseif game.teamB is defined and game.teamB %}
                            {% set enemy = game.teamB.name %}
                            {% if game.pointA > game.pointB %}
                                {% set result = '<span class="win ours">' ~ game.pointA ~ '</span> ' ~ 'throwfall2017.round.vs' | trans ~ ' ' ~ game.pointB %}
                            {% elseif game.pointA < game.pointB %}
                                {% set result = '<span class="lose ours">' ~ game.pointA ~ '</span> ' ~ 'throwfall2017.round.vs' | trans ~ ' ' ~ game.pointB %}
                            {% else %}
                                {% set result = '<span class="ours">' ~ game.pointA ~ '</span> ' ~ 'throwfall2017.round.vs' | trans ~ ' ' ~ game.pointB %}
                            {% endif %}

                            {% set ownPoint = ownPoint + game.pointA %}
                            {% set enemyPoint = enemyPoint + game.pointB %}
                        {% endif %}

                        {% if game.round.number != r %}
                            <tr class="tr-center">
                                <td colspan="4">{{ game.round.name }}</td>
                            </tr>
                            {% set r = game.round.number %}
                        {% endif %}
                        <tr>
                            <td>{{ game.gameType.name }}</td>
                            <td>{{ enemy }}</td>
                            <td>{{ result | raw }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        {% if ownPoint > enemyPoint %}
                            {% set result = '<span class="win ours">' ~ ownPoint ~ '</span> ' ~ 'throwfall2017.round.vs' | trans ~ ' ' ~ enemyPoint %}
                        {% elseif ownPoint < enemyPoint %}
                            {% set result = '<span class="lose ours">' ~ ownPoint ~ '</span> ' ~ 'throwfall2017.round.vs' | trans ~ ' ' ~ enemyPoint %}
                        {% else %}
                            {% set result = '<span class="ours">' ~ ownPoint ~ '</span> ' ~ 'throwfall2017.round.vs' | trans ~ ' ' ~ enemyPoint %}
                        {% endif %}
                        <td>{% trans %}app.sum{% endtrans %}</td>
                        <td></td>
                        <td>{{ result | raw }}</td>
                    </tr>
                </tfoot>
            </table>
        </section>

        <div class="clearfix">
            <a href="{{ path('throwfall2017_team') }}" class="btn btn-primary">
                <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}throwfall2017.team.back{% endtrans %}
            </a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@SkyAthlonThrowFall2017Bundle/Resources/public/css/teams.scss' filter='scssphp' output='css/throwfall2017_teams.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
