{% extends 'SkyAthlonSkyBall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}skyball2016.round.rounds{% endtrans %}</h1>

    <div id="round-navigation" class="navigation">
        {{ knp_pagination_render(rounds) }}
    </div>

    {% for round in rounds %}
        <script>
            var isPlayoffs = {{ round.playoffs ? 'true' : 'false'}};
        </script>
        <div id="round-stats" class="navigation">
            {% if not round.playoffs %}
                <a class="btn btn-default" href="{{ path('skyball2016_round_teams', {round: round.number}) }}">
                    {% trans %}skyball2016.round.menuSummary{% endtrans %}
                </a>
            {% endif %}
            <a class="btn btn-default" href="{{ path('skyball2016_round', {round: round.number}) }}">
                {% trans %}skyball2016.round.menuGames{% endtrans %}
            </a>
            <a class="btn btn-primary" href="{{ path('skyball2016_round_players', {round: round.number}) }}">
                {% trans %}skyball2016.round.menuPlayers{% endtrans %}
            </a>
        </div>

        <div id="round-{{ round.id }}" class="round-item">
            <div class="round-head">
                <h2 class="round-title">{{ 'skyball2016.round.playerStats' | trans({'%round%': round.fullName }) }}</h2>
            </div>

            {% if app.user %}
                {% if (app.user.isAdmin and not round.closed and not round.playoffs) or app.user.isSu %}
                    <a style="margin: 10px;" href="{{ path('skyball2016_round_edit_player_stats', {roundid: round.number}) }}" class="round-edit btn btn-primary pull-right">
                        <span class="glyphicon glyphicon-edit"></span> {% trans %}skyball2016.round.editPlayersButton{% endtrans %}
                    </a>
                {% endif %}
            {% endif %}
        
            <button id="print" class="btn btn-warning pull-right print-small print" data-print="top3" data-title="{{ 'skyball2016.round.playerStatsTop3' | trans({ '%round%': round.fullName }) }}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <div class="round-head">
                <h2 class="round-title">{% trans %}skyball2016.round.playerStatsTop3Short{% endtrans %}</h2>
            </div>

            <div class="round-body clearfix top3" style="overflow-x: auto; padding: 0 10px;">
                <table id="round-players-top3-table-{{ round.id }}" class="round-top3-table round-game-table table table-bordered table-hover table-condensed">
                    <thead class="table-info">
                    <tr>
                    	<th></th>
                        {% for kcType in kcTypes %}
                            <th class="centered">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    	{% for j in 0..9 %}
                        	<tr>
                        		<td class="centered"><b>{{ j + 1 }}</b></td>
                        		{% for kerchief, values in rankings.ret %}
                        			{% set vals = values[j] %}
                                	<td class="round-player-td {{ players[vals.id].team.computerName }}-select">
                                    	<span class="player-number">{{ players[vals.id].number }}</span>
                                    	<span class="player-name">{{ players[vals.id].name }}</span>
                                    	(<span class="player-score">{{ vals.val }}</span>)
                                	</td>
                            	{% endfor %}
                        	</tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <button id="print1" class="btn btn-warning pull-right print-small print" data-print="PrintArea" data-title="{{ 'skyball2016.round.playerStats' | trans({'%round%': round.fullName }) }}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <div class="round-head">
                <h2 class="round-title">{% trans %}skyball2016.round.playerStatsAllShort{% endtrans %}</h2>
            </div>

            <div class="round-body clearfix PrintArea" style="overflow-x: auto">
                <table id="round-players-table-{{ round.id }}" class="round-game-table round-round-table table table-bordered table-hover table-condensed">
                    <thead class="table-info">
                    <tr>
                        <th>{% trans %}skyball2016.round.player{% endtrans %}</th>
                        {% for kcType in kcTypes %}
                            <th class="centered">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for pid, kerchief in kerchiefs %}
                        <tr class="{{ players[pid].team.computerName }}">
                            <td class="round-player-td">
                                <span class="sortby">{{ players[pid].number }}</span>
                                <span class="player-number">{{ players[pid].number }}</span>
                                <b>{{ players[pid].name }}</b>
                            </td>
                            {% for i, kc in kerchief %}
                                {% set val = kc %}
                                {% if val == kcValues[i] %}
                                    {% set val = '<b>' ~ kc ~ '</b>' %}
                                {% endif %}
                                <td class="centered">{{ val | raw }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if not round.playoffs %}
                <button id="print2" class="btn btn-warning pull-right print-big print" data-print="kerchiefs" data-title="{{ 'skyball2016.round.playerKerchiefs' | trans({ '%round%': round.fullName }) }}">
                    <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
                </button>

                <div class="round-head">
                    <h2 class="round-title">{% trans %}skyball2016.kerchief.kerchiefs{% endtrans %}</h2>
                </div>

                <div class="round-body kerchiefs">
                    <table id="round-teams-table-{{ round.id }}" class="round-game-table round-players-table round-teams-table table-bordered table-hover table-condensed">
                        <thead class="table-info">
                        <tr>
                            <th>{% trans %}skyball2016.kerchief.kerchief{% endtrans %}</th>
                            <th>{% trans %}skyball2016.player.player{% endtrans %}</th>
                            <th>{% trans %}skyball2016.kerchief.sum{% endtrans %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for kctype,pid in rankings['kcValues'] %}
                            {% set team = '' %}
                            {% set number = '?' %}
                            {% set name = '?' %}
                            {% set score = '' %}
                            {% if pid != '-1' %}
                                {% set team = players[pid].team.computerName %}
                                {% set number = players[pid].number %}
                                {% set name = players[pid].name %}
                                {% set score = rankings['kerchiefs'][pid][kctype] %}
                            {% endif %}

                            <tr class="{{ team }}">
                                <td class="round-game-team-left">{{ kctype }}</td>
                                <td class="round-team-td round-game-team-right {{ kctype }}">
                                    <span class="edit-player-number">{{ number }}</span>
                                    <span class="edit-player-name">{{ name }}</span>
                                </td>
                                <td>
                                    <span class="edit-player-score">{{ score }}</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}
