{% extends 'SkyAthlonSkySports2017Bundle::base.html.twig' %}

{% block body %}
    {% if game.teamA and game.teamB %}
        <h1>{{ 'skysports2017.game.edit' | trans({'%teamA%': game.teamA, '%teamB%': game.teamB, '%type%': game.gameType.name}) }}</h1>
    {% else %}
        <h1>{{ 'skysports2017.game.edit' | trans({'%teamA%': '?', '%teamB%': '?', '%type%': game.gameType.name}) }}</h1>
    {% endif %}

    {% form_theme edit_form 'AppBundle:Form:custom_form.html.twig' %}
    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
        <button class="btn btn-success pull-left" type="submit">
            <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
        </button>
    {{ form_end(edit_form) }}

    <a href="{{ path('skysports2017_round', {round: roundid}) }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}skysports2017.round.back{% endtrans %}
    </a>
{% endblock %}
