{% extends 'SkyAthlonSkyBall2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{{ 'skyball2017.round.edit' | trans({'%name%': round.fullName}) }}</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}

    <div class="form-group">
        <label class="control-label required" for="sitems">{% trans %}skyball2017.round.sorder{% endtrans %}</label>

        <ul id="sitems" class="list-group sortable">
            {% for val in edit_form.sarray.vars.value | split('') %}
                <li class="list-group-item" data-id="{{ val }}">{{ val }}</li>
            {% endfor %}
        </ul>
    </div>

    <button class="btn btn-success pull-left" type="submit">
        <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
    </button>
    {{ form_end(edit_form) }}

    {% if app.user %}
        {% if app.user.isAdmin %}
            {{ form_start(delete_form, {'attr': {'onclick': 'return confirm("' ~ 'confirm.skyball2017.round' | trans ~ '")'}}) }}
                <button style="margin-left: 10px;" class="btn btn-danger pull-right" type="submit">
                    <span class="glyphicon glyphicon-trash"></span> {% trans %}skyball2017.round.delete{% endtrans %}
                </button>
            {{ form_end(delete_form) }}
        {% endif %}
    {% endif %}

    <a href="{{ path('skyball2017_round', {round: round.number}) }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}skyball2017.round.back{% endtrans %}
    </a>
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.6.0/Sortable.min.js"></script>
    <script>
        var el = document.getElementById('sitems');
        var sortable = Sortable.create(el, {
            animation: 150,
            ghostClass: "sortable-ghost",
            chosenClass: "sortable-chosen",
            dragClass: "sortable-drag",
            dataIdAttr: 'data-id',
            onEnd: function (evt) {
                var sort = sortable.toArray().join('');
                $('#round_sarray').val(sort);
            }
        });
    </script>
{% endblock %}