{% extends 'SkyAthlonSkyBall2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}skyball2017.round.rounds{% endtrans %}</h1>

    <div id="round-navigation" class="navigation">
        {{ knp_pagination_render(rounds) }}
    </div>

    {% for round in rounds %}
        <div id="round-stats" class="navigation">
            <a class="btn btn-default" href="{{ path('skyball2017_round_teams', {round: round.number}) }}">
                {% trans %}skyball2017.round.menuSummary{% endtrans %}
            </a>
            {% if not round.playoffs %}
                <a class="btn btn-primary" href="{{ path('skyball2017_round_selejtezo', {round: round.number}) }}">
                    {% trans %}skyball2017.round.menuSelejtezo{% endtrans %}
                </a>
            {% endif %}
            <a class="btn btn-default" href="{{ path('skyball2017_round', {round: round.number}) }}">
                {% trans %}skyball2017.round.menuGames{% endtrans %}
            </a>
            <a class="btn btn-default" href="{{ path('skyball2017_round_players', {round: round.number}) }}">
                {% trans %}skyball2017.round.menuPlayers{% endtrans %}
            </a>
        </div>

        <div id="round-{{ round.id }}" class="round-item">
            <div class="round-head" style="clear: both;">
                <h2 class="round-title" style="text-align: center;">{{ 'skyball2017.round.selejtezo' | trans({'%roundid%': round.name }) }}</h2>
            </div>

            <div class="round-body PrintArea">
                <table id="selejtezo" class="lined-table dataTable">
                    <thead><tr>
                        <th class="centered">{% trans %}skyball2017.group.a{% endtrans %}</th>
                        <th class="centered">{% trans %}skyball2017.group.b{% endtrans %}</th>
                        <th class="centered">{% trans %}skyball2017.group.c{% endtrans %}</th>
                        <th class="centered">{% trans %}skyball2017.group.d{% endtrans %}</th>
                    </tr></thead>
                    <tbody>
                    <tr>
                        {% set i = 1 %}

                        {% for s in selejtezo %}
                            {% set cpName = s.computerName %}
                            {% set name = s.name %}
                            <td class="round-team-td">
                                <span class="teamlogo"><img src="{{ asset('bundles/skyathlonskyball2017/images/logos/' ~ cpName ~ '.png') }}" alt="{{ name }}" /></span>
                                <span class="round-game-team">{{ name }}</span>
                            </td>

                            {% set i = i + 1 %}

                            {% if i % 4 == 1 %}
                                </tr><tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/newsitem.scss' filter='scssphp' output='css/skyball2017_newsitem.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
