{% extends 'SkyAthlonSkyBall2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}skyball2017.round.create{% endtrans %}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
        <button class="btn btn-success pull-left" type="submit">
            <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
        </button>
    {{ form_end(form) }}

    <a href="{{ path('skyball2017_round_redirect') }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}skyball2017.round.back{% endtrans %}
    </a>
{% endblock %}
