{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{{ 'basefall2016.round.editPlayerStats' | trans({'%roundid%': roundid}) }}</h1>

    <form name="game_teamstats" method="post" action="{{ path('basefall2016_round_edit_player_stats', {roundid: roundid}) }}">
        <table id="round-players-table-{{ roundid }}" class="round-game-table round-teams-table round-players-table table-bordered table-hover table-condensed">
            <thead class="table-info">
            <tr>
                <th>{% trans %}basefall2016.kerchief.kerchief{% endtrans %}</th>
                <th>{% trans %}basefall2016.player.player{% endtrans %}</th>
            </tr>
            </thead>

            <tbody id="round-players-tbody-{{ roundid }}">
            {% for kctype,kcwinners in rankings['ret'] %}
                {% set trClass = '' %}
                {% if rankings['kcEgal'][kctype] == true %}
                    {% set trClass = 'egal' %}
                {% endif %}
                <tr id="round-team-{{ roundid }}-{{ kctype }}" class="{{ trClass }}">
                    <td>
                        <label for="round-player-{{ kctype }}">{{ kctype }}</label>{{ kctype }}
                    </td>
                    <td class="round-player-td round-game-player-right" id="round-player-td-{{ roundid }}-p">
                        <select class="round-player-select" id="round-player-{{ kctype }}" name="round-player-{{ kctype }}">
                            {% set nullSelected = '' %}
                            {% for id,player in kcwinners %}
                                {% set selected = '' %}
                                {% if rankings['kcValues'][kctype] == player.id %}
                                    {% set selected = 'selected' %}
                                {% endif %}

                                {% if player.id == -1 %}
                                    {% if rankings['kcValues'][kctype] == -1 %}
                                        {% set nullSelected = 'selected' %}
                                    {% endif %}
                                {% else %}
                                    <option {{ selected }} value="{{ player.id }}"
                                        data-data='{"number": "{{ players[player.id].number }}",
                                        "name": "{{ players[player.id].name }}",
                                        "team": "{{ players[player.id].team.computerName }}-select",
                                        "score": "{{ rankings['kerchiefs'][player.id][kctype] }}"}'
                                    >
                                        <span class="edit-player-number">{{ players[player.id].number }}</span>
                                        <span class="edit-player-name">{{ players[player.id].name }}</span>
                                        <span class="edit-player-score">({{ rankings['kerchiefs'][player.id][kctype] }})</span>
                                    </option>
                                {% endif %}
                            {% endfor %}
                            <option {{ nullSelected }} value="-1" data-data='{"isnull": "true"}'>
                                <span class="edit-player-number">?</span>
                                <span class="edit-player-name">?</span>
                                <span class="edit-player-score"></span>
                            </option>
                        </select>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <button class="btn btn-success pull-left" type="submit">
            <span class="glyphicon glyphicon-ok"></span> {% trans %}app.submit{% endtrans %}
        </button>
    </form>

    <a href="{{ path('basefall2016_round_players', {round: roundid}) }}" class="btn btn-primary pull-right">
        <span class="glyphicon glyphicon-arrow-left"></span> {% trans %}basefall2016.round.back{% endtrans %}
    </a>
    <div style="clear: both; height: 400px;"></div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.min.css" />
{% endblock %}

{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
    {% javascripts '@SkyAthlonBaseFall2016Bundle/Resources/public/js/selectize.js' filter='jsqueeze' output='js/basefall2016_selectize.js' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}