{% extends 'SkyAthlonBaseFall2016Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}basefall2016.round.rounds{% endtrans %}</h1>

    <div id="round-navigation" class="navigation">
        {{ knp_pagination_render(rounds) }}
    </div>

    {% for round in rounds %}
        <script>
            var isPlayoffs = {{ round.playoffs ? 'true' : 'false' }};
        </script>
        <div id="round-stats" class="navigation">
            {% if not round.playoffs %}
                <a class="btn btn-default" href="{{ path('basefall2016_round_teams', {round: round.number}) }}">
                    {% trans %}basefall2016.round.menuSummary{% endtrans %}
                </a>
            {% endif %}
            <a class="btn btn-default" href="{{ path('basefall2016_round', {round: round.number}) }}">
                {% trans %}basefall2016.round.menuGames{% endtrans %}
            </a>
            <a class="btn btn-primary" href="{{ path('basefall2016_round_players', {round: round.number}) }}">
                {% trans %}basefall2016.round.menuPlayers{% endtrans %}
            </a>
            <a class="btn btn-default" href="{{ path('basefall2016_round_penalities', {round: round.number}) }}">
                {% trans %}basefall2016.round.menuPenalities{% endtrans %}
            </a>
        </div>

        <div id="round-{{ round.id }}" class="round-item">
            <div class="round-head">
                <h2 class="round-title">{{ 'basefall2016.round.playerStats' | trans({'%round%': round.fullName }) }}</h2>
            </div>

            <button id="print" class="btn btn-warning pull-right print-small print" data-print="top3" data-title="{{ 'basefall2016.round.playerStatsTop3' | trans({ '%round%': round.fullName }) }}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <div class="round-head">
                <h2 class="round-title">{% trans %}basefall2016.round.playerStatsTop3Short{% endtrans %}</h2>
            </div>

            <div class="round-body clearfix top3" style="overflow-x: auto; padding: 0 10px;">
                <table id="round-players-top3-table-{{ round.id }}" class="round-top3-table round-game-table table table-bordered table-hover table-condensed">
                    <thead class="table-info">
                    <tr>
                    	<th></th>
                        {% for kcType in kcTypes %}
                            <th class="centered">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    	{% for j in 0..9 %}
                        	<tr>
                        		<td class="centered"><b>{{ j + 1 }}</b></td>
                        		{% for kerchief, values in rankings.ret %}
                        			{% set vals = values[j] %}
                                    {% if vals.val == 0 %}
                                        <td class="round-player-td"></td>
                                    {% else %}
                                        <td class="round-player-td {{ players[vals.id].team.computerName }}-flag-left">
                                            <span class="player-number">{{ players[vals.id].number }}</span>
                                            <span class="player-name">{{ players[vals.id].name }}</span>
                                            (<span class="player-score">{{ vals.val }}</span>)
                                        </td>
                                    {% endif %}
                            	{% endfor %}
                        	</tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <button id="print1" class="btn btn-warning pull-right print-small print" data-print="PrintArea" data-title="{{ 'basefall2016.round.playerStats' | trans({'%round%': round.fullName }) }}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <div class="round-head">
                <h2 class="round-title">{% trans %}basefall2016.round.playerStatsAllShort{% endtrans %}</h2>
            </div>

            <div class="round-body clearfix PrintArea" style="overflow-x: auto">
                <table id="round-players-table-{{ round.id }}" class="round-game-table round-round-table table table-bordered table-hover table-condensed">
                    <thead class="table-info">
                    <tr>
                        <th>{% trans %}basefall2016.round.player{% endtrans %}</th>
                        {% for kcType in kcTypes %}
                            <th class="centered">{{ kcType.computerName }} <span class="kerchief-small">{{ kcType.name }}</span></th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for pid, kerchief in kerchiefs %}
                        <tr>
                            <td class="round-player-td {{ players[pid].team.computerName }}-flag-left">
                                <span class="sortby">{{ players[pid].number }}</span>
                                <span class="player-number">{{ players[pid].number }}</span>
                                <b>{{ players[pid].name }}</b>
                            </td>
                            {% for i, kc in kerchief %}
                                {% set val = kc %}
                                {% if val == kcValues[i] %}
                                    {% set val = '<b>' ~ kc ~ '</b>' %}
                                {% endif %}
                                <td class="centered">{{ val | raw }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}
