{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    {% if not app.user %}
     <div class="alert alert-warning" role="alert">{% trans %}app.pleaseLogIn{% endtrans %}</div>
    {% else %}
        <a class="game-box" href="{{ path('skyball2016_round_redirect') }}">
            <div class="game-box-image">
                <img src="{{ asset('bundles/skyathlonskyball2016/images/skyball_logo.png') }}" />
            </div>
            <div class="game-box-text">
                {% trans %}menu.game.skyball2016{% endtrans %}
            </div>
        </a>

        <a class="game-box" href="{{ path('basefall2016_round_redirect') }}">
            <div class="game-box-image">
                <img src="{{ asset('bundles/skyathlonbasefall2016/images/basefall_logo.png') }}" />
            </div>
            <div class="game-box-text">
                {% trans %}menu.game.basefall2016{% endtrans %}
            </div>
        </a>

        <a class="game-box" href="{{ path('skyolimpia2017_round_redirect') }}">
            <div class="game-box-image">
                <img src="{{ asset('bundles/skyathlonskyolimpia2017/images/skyolimpia_logo.png') }}" />
            </div>
            <div class="game-box-text">
                {% trans %}menu.game.skyolimpia2017{% endtrans %}
            </div>
        </a>

        <a class="game-box" href="{{ path('skyball2017_round_redirect') }}">
            <div class="game-box-image">
                <img src="{{ asset('bundles/skyathlonskyball2017/images/skyball_logo.png') }}" />
            </div>
            <div class="game-box-text">
                {% trans %}menu.game.skyball2017{% endtrans %}
            </div>
        </a>

        <a class="game-box" href="{{ path('throwfall2017_round_redirect') }}">
            <div class="game-box-image">
                <img src="{{ asset('bundles/skyathlonthrowfall2017/images/throwfall_logo.png') }}" />
            </div>
            <div class="game-box-text">
                {% trans %}menu.game.throwfall2017{% endtrans %}
            </div>
        </a>

        {#<a class="game-box" href="{{ path('skysports2017_round_redirect') }}">
            <div class="game-box-image">
                <img src="{{ asset('bundles/app/images/skyathlon_logo.png') }}" />
            </div>
            <div class="game-box-text">
                {% trans %}menu.game.skysports2017{% endtrans %}
            </div>
        </a>#}

    {% endif %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/index.scss' filter='scssphp' output='css/index.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}