{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}draw.tatami{% endtrans %}</h1>

    <div id="tatamis">
        <div id="tatami-cont">
        {% for i in (1..7) %}
            <div class="tatami-row">
            {% for j in (1..13) %}
                <div class="tatami"></div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
        <div id="tatami-canvas"></div>
    </div>

    <div class="form-group" style="margin: 30px auto; text-align: right; width: 1040px;">
        <label style="margin-right: 10px;">{% trans %}draw.lineType{% endtrans %}: </label>

        <input type="radio" name="tool" id="brush" value="brush" checked="">
        <label for="brush" class="radio-inline radio-custom">{% trans %}draw.line{% endtrans %}</label>
        <input type="radio" name="tool" id="eraser" value="eraser" />
        <label for="eraser" class="radio-inline radio-custom" style="margin-left: 0">{% trans %}draw.eraser{% endtrans %}</label>

        <label for="color">{% trans %}draw.lineColor{% endtrans %}: </label>
        <button id="jscolorbutton" style="background: #41dfb1; border:2px solid black">41DFB1</button>
        <button id="save" class="btn btn-sm btn-primary">{% trans %}draw.save{% endtrans %}</button>

        <label for="editor1" style="float: left;">{% trans %}draw.editor{% endtrans %}</label>
        <textarea name="editor1" id="editor1" rows="20" cols="80">
            {{ text }}
        </textarea>
    </div>
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/tatami.scss' filter='scssphp' output='css/tatami.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    <script src="//cdn.rawgit.com/konvajs/konva/1.6.3/konva.min.js"></script>
    {% javascripts
    '@AppBundle/Resources/public/js/lib/jscolor.min.js'
    '@AppBundle/Resources/public/js/tatami.js'
    filter='jsqueeze' output='js/tatami.js'
    %}
    <script src="{{ asset_url }}" async></script>
    {% endjavascripts %}

    <script src="//cdn.ckeditor.com/4.6.2/basic/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('editor1');
    </script>
{% endblock %}