{% extends 'SkyAthlonThrowFall2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}throwfall2017.round.rounds{% endtrans %}</h1>

    <div id="round-navigation" class="navigation">
        {{ knp_pagination_render(rounds) }}
    </div>

    {% for round in rounds %}
        <div id="round-stats" class="navigation">
            <a class="btn btn-primary" href="{{ path('throwfall2017_round_teams', {round: round.number}) }}">
                {% trans %}throwfall2017.round.menuSummary{% endtrans %}
            </a>
            <a class="btn btn-default" href="{{ path('throwfall2017_round', {round: round.number}) }}">
                {% trans %}throwfall2017.round.menuGames{% endtrans %}
            </a>
        </div>

        <div id="round-{{ round.id }}" class="round-item">
            <button id="print" class="btn btn-warning pull-right print-small print" data-print="PrintArea" data-title="{{ 'throwfall2017.round.sum' | trans({'%game%': round.fullName }) }}">
                <i class="fa fa-print" aria-hidden="true"></i> {% trans %}app.print{% endtrans %}
            </button>

            <div class="round-head" style="clear: both;">
                <h2 class="round-title" style="text-align: center;">{{ 'throwfall2017.round.sum' | trans({'%game%': round.fullName }) }}</h2>
            </div>

            <div class="round-body PrintArea">
                <table id="round-teams-table-{{ round.id }}" class="round-sumteam-table padding-table round-top3-table round-game-table round-teams-table table-bordered table-hover">
                    <thead class="table-info">
                    <tr>
                        <th>{% trans %}throwfall2017.round.result{% endtrans %}</th>
                        <th>{% trans %}throwfall2017.round.team{% endtrans %}</th>
                        <th>{% trans %}throwfall2017.round.pointStr{% endtrans %}</th>
                        <th>{% trans %}throwfall2017.round.goalStr{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody id="round-players-tbody-{{ round.id }}">
                        {% set j = 1 %}
                        {% for team in teams %}
                            {% set cpName = team and team.computerName ? team.computerName : 'questionmark' %}
                            {% set name = team and team.name ? team.name : '' %}
                            <tr id="round-team-{{ round.id }}-{{ j }}">
                                <td class="round-game-team-left border-left-table-{{ team.computerName }}">{{ j }}</td>
                                <td class="round-team-td" id="round-team-td-{{ round.id }}-p">
                                    <span class="round-game-team">{{ name }}</span>
                                </td>
                                {% set point = team.point > 0 ? '+' ~ team.point : team.point %}
                                <td class="centered">{{ point }}</td>
                                <td class="centered border-right-table-{{ team.computerName }}">{{ team.goal }}</td>
                            </tr>

                            {% set j = j + 1 %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/newsitem.scss' filter='scssphp' output='css/throwfall2017_newsitem.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
