@mixin logo-left($team, $width, $height) {
    height: #{($height + 2)}px;
    line-height: #{($height + 2)}px;

    &:before {
        background-image: url('http://skyathlon.ml/bundles/skyathlonskyball2017/images/logos/#{$team}.png');
        height: #{($height)}px;
        line-height: #{($height)}px;
        width: #{$width}px;
    }
}

@mixin logo-right($team, $width, $height) {
    height: #{($height + 2)}px;
    line-height: #{($height + 2)}px;

    &:after {
        background-image: url('http://skyathlon.ml/bundles/skyathlonskyball2017/images/logos/#{$team}.png');
        height: #{($height)}px;
        line-height: #{($height)}px;
        width: #{$width}px;
    }
}

$teams: (myrmidons, wildgiants, vikings, dubelz, regnum, meteors, toreadors, musketasok, hunters, knights, myrmidonswarriors, phoenix, predators, aliens, explorers, rangers, agapeus, liberty);

$myrmidons-trans: rgba(0, 0, 0, .9);
$wildgiants-trans: rgba(120, 30, 255, .7);
$vikings-trans: rgba(50, 105, 25, .8);
$dubelz-trans: rgba(240, 240, 30, .85);
$regnum-trans: rgba(12, 69, 121, .7);
$meteors-trans: rgba(255, 155, 0, .6);
$toreadors-trans: rgba(44, 168, 36, .65);
$musketasok-trans: rgba(0, 59, 249, .6);
$hunters-trans: rgba(130, 95, 23, .6);
$knights-trans: rgba(155, 200, 230, .5);
$myrmidonswarriors-trans: rgba(255, 0, 255, .5);
$phoenix-trans: rgba(64, 104, 224, .6);
$predators-trans: rgba(67, 67, 67, .7);
$aliens-trans: rgba(0, 255, 0, .5);
$explorers-trans: rgba(212, 8, 8, .6);
$rangers-trans: rgba(80, 46, 5, .6);
$agapeus-trans: rgba(5, 155, 200, .5);
$liberty-trans: rgba(130, 130, 130, .7);
$noteam-trans: rgba(0, 0, 0, .9);

$colors: ($myrmidons-trans, $wildgiants-trans, $vikings-trans, $dubelz-trans, $regnum-trans, $meteors-trans, $toreadors-trans, $musketasok-trans, $hunters-trans, $knights-trans, $myrmidonswarriors-trans, $phoenix-trans, $predators-trans, $aliens-trans, $explorers-trans, $rangers-trans, $agapeus-trans, $liberty-trans, $noteam-trans);

$myrmidons-text: rgb(0, 0, 0);
$wildgiants-text: rgb(120, 30, 255);
$vikings-text: rgb(50, 105, 25);
$dubelz-text: rgb(185, 188, 0);
$regnum-text: rgb(7, 55, 100);
$meteors-text: rgb(255, 155, 0);
$toreadors-text: rgb(44, 168, 36);
$musketasok-text: rgb(0, 0, 255);
$hunters-text: rgb(169, 114, 0);
$knights-text: rgb(155, 200, 230);
$myrmidonswarriors-text: rgb(255, 0, 255);
$phoenix-text: rgb(65, 105, 225);
$predators-text: rgb(67, 67, 67);
$aliens-text: rgb(0, 255, 0);
$explorers-text: rgb(255, 0, 0);
$rangers-text: rgb(120, 65, 0);
$agapeus-text: rgb(5, 155, 200);
$liberty-text: rgb(130, 130, 130);
$noteam-text: rgb(0, 0, 0);

$colors2: ($myrmidons-text, $wildgiants-text, $vikings-text, $dubelz-text, $regnum-text, $meteors-text, $toreadors-text, $musketasok-text, $hunters-text, $knights-text, $myrmidonswarriors-text, $phoenix-text, $predators-text, $aliens-text, $explorers-text, $rangers-text, $agapeus-text, $liberty-text, $noteam-text);

@for $i from 1 through length($teams) {
    $team: nth($teams, $i);

    .#{$team}>td:first-child {
        border-left: 5px solid nth($colors, $i);
    }

    .#{$team}>td:last-child {
        border-right: 5px solid nth($colors, $i);
    }

    .border-left-#{$team} {
        border-left: 2px solid nth($colors, $i);
    }

    .border-right-#{$team} {
        border-right: 2px solid nth($colors, $i);
    }

    .border-left-table-#{$team} {
        border-left: 4px solid nth($colors, $i);
    }

    .border-right-table-#{$team} {
        border-right: 4px solid nth($colors, $i);
    }

    .team-color-#{$team} {
        color: nth($colors2, $i);
    }

    .team-logo-left-#{$team} {
        @include logo-left($team, 60, 50);
    }

    .team-logo-right-#{$team} {
        @include logo-right($team, 60, 50);
    }

    .team-logo-left-table-#{$team} {
        @include logo-left($team, 90, 50);
    }

    .team-logo-right-table-#{$team} {
        @include logo-right($team, 90, 50);
    }

    .team-logo-left-small-#{$team} {
        @include logo-left($team, 26, 18);
        font-size: 13px;
    }

    .team-logo-right-small-#{$team} {
        @include logo-right($team, 26, 18);
        font-size: 13px;
    }
}

.team-logo-left {
    margin-right: 20px;
    vertical-align: middle;

    &:before {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        content: '';
        display: inline-block;
        margin-right: 10px;
        text-align: center;
        vertical-align: bottom;
    }
}

.team-logo-right {
    margin-left: 20px;
    vertical-align: middle;

    &:after {
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: contain;
        background-size: contain;
        content: '';
        display: inline-block;
        margin-left: 10px;
        text-align: center;
        vertical-align: bottom;
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
    }

    .team-flag-left {
        &:before {
            display: none;
        }
    }

    .team-flag-right {
        &:after {
            display: none;
        }
    }
}
