{% extends 'SkyAthlonThrowFall2017Bundle::base.html.twig' %}

{% block body %}
    <h1>{% trans %}throwfall2017.round.rounds{% endtrans %}</h1>

    <div id="filter-teams" class="pull-right">
        <span class="filter-team-text">{% trans %}throwfall2017.round.filter{% endtrans %}</span>
        <input id="filter-team" type="text" />
    </div>

    <div id="round-navigation" class="navigation">
        {{ knp_pagination_render(rounds) }}
    </div>

    {% for round in rounds %}
        <div id="round-stats" class="navigation">
            <a class="btn btn-default" id="noplayoff" href="{{ path('throwfall2017_round_teams', {round: round.number}) }}">
                {% trans %}throwfall2017.round.menuSummary{% endtrans %}
            </a>
            <a class="btn btn-primary" href="{{ path('throwfall2017_round', {round: round.number}) }}">
                {% trans %}throwfall2017.round.menuGames{% endtrans %}
            </a>
        </div>

        <div id="round-{{ round.id }}" class="round-item">
            <div class="round-head">
                {% if app.user %}
                    {% if (app.user.isAdmin and not round.closed) or app.user.isSu %}
                        <a href="{{ path('throwfall2017_round_edit', {id: round.id}) }}" class="round-edit btn btn-primary pull-right">
                            <span class="glyphicon glyphicon-edit"></span> {% trans %}throwfall2017.round.editButton{% endtrans %}
                        </a>
                    {% endif %}
                {% endif %}
                <h2 class="round-title">{{ 'throwfall2017.round.games' | trans({'%game%': round.fullName }) }}</h2>
            </div>
            <div class="round-body">
                {% for game in round.games %}
                    {% set pointA = game.pointA ? game.pointA : 0 %}
                    {% set pointB = game.pointB ? game.pointB : 0 %}
                    {% set classA = 'round-game-point-yellow' %}
                    {% set classB = 'round-game-point-yellow' %}
                    {% set classResultA = 'round-game-egal' %}
                    {% set classResultB = 'round-game-egal' %}
                    {% if pointA > pointB %}
                        {% set classA = 'round-game-point-green' %}
                        {% set classB = 'round-game-point-red' %}
                        {% set classResultA = 'round-game-win' %}
                        {% set classResultB = 'round-game-lose' %}
                    {% elseif pointB > pointA %}
                        {% set classA = 'round-game-point-red' %}
                        {% set classB = 'round-game-point-green' %}
                        {% set classResultA = 'round-game-lose' %}
                        {% set classResultB = 'round-game-win' %}
                    {% endif %}
                    {% set teamClassA = game.teamA ? game.teamA.computerName : '' %}
                    {% set teamClassB = game.teamB ? game.teamB.computerName : '' %}
                    {% set teamA = game.teamA ? game.teamA : '?' %}
                    {% set teamAurl = teamA == '?' ? teamA : '<a class="team-name-a" target="_blank" href="' ~ path('throwfall2017_team_show', {id: game.teamA.computerName}) ~ '">' ~ teamA ~ '</a>' %}
                    {% set teamB = game.teamB ? game.teamB : '?' %}
                    {% set teamBurl = teamB == '?' ? teamB : '<a class="team-name-a" target="_blank" href="' ~ path('throwfall2017_team_show', {id: game.teamB.computerName}) ~ '">' ~ teamB ~ '</a>' %}

                    {% if game.gameType.groupTitle %}
                        <h3 class="round-game-group-title">{{ game.gameType.groupTitle | trans }}</h3>
                    {% endif %}
                    <div class="anchor" id="{{ game.gameType.computerName }}"></div>
                    <div class="round-game round-game-type-{{ game.gameType.computerName }}">
                        <div class="round-game-type">
                            <span>{{ game.gameType.name }}</span>
                        </div>
                        
                        <div class="round-game-type ref">
                        	<div class="col-xs-4">{% trans %}throwfall2017.game.ref{% endtrans %}: {{ game.ref ? game.ref : '?' }}</div>
                        	<div class="col-xs-4">{% trans %}throwfall2017.game.sref{% endtrans %}: {{ game.sref ? game.sref : '?' }}</div>
                        	<div class="col-xs-4">{% trans %}throwfall2017.game.jref{% endtrans %}: {{ game.jref ? game.jref : '?' }}</div>
                         </div>
                         
                            {% if app.user %}
                                {% if (app.user.isAdmin and not round.closed) or app.user.isSu %}
                                    <div class="round-game-type" style="margin-top: -1px;">
                                        <span> </span>
                                        <a href="{{ path('throwfall2017_game_edit', {roundid: round.number, game: game.id}) }}" class="btn btn-primary btn-xs edit-game">
                                            <span class="glyphicon glyphicon-edit"></span> {% trans %}throwfall2017.game.editButton{% endtrans %}
                                        </a>
                                    </div>
                                {% endif %}
                            {% endif %}
                            
                        <div class="round-game-head" style="border-bottom: 1px dotted;">
                            <span class="col-xs-5 round-game-head-item round-game-team-left round-game-head-center {{ classResultA }} border-left-table-{{ teamClassA }}">
                                <span class="round-game-team {{ teamClassA }}">{{ teamAurl | raw }}</span>
                            </span>
                            <span class="col-xs-2 round-game-head-item round-game-head-center {{ classResultA }}-{{ classResultB }}">
                                <span class="col-xs-4 round-game-point {{ classA }}">{{ game.pointA ? game.pointA : 0 }}</span>
                                <span class="col-xs-4">{% trans %}throwfall2017.round.vs{% endtrans %}</span>
                                <span class="col-xs-4 round-game-point {{ classB }}">{{ game.pointB ? game.pointB : 0 }}</span>
                            </span>
                            <span class="col-xs-5 round-game-head-item round-game-team-right round-game-head-center {{ classResultB }} border-right-table-{{ teamClassB }}" style="float: right;">
                                <span class="round-game-team {{ teamClassB }}">{{ teamBurl | raw }}</span>
                            </span>
                        </div>

                        <div class="round-game-body collapse in">

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@AppBundle/Resources/public/css/newsitem.scss' filter='scssphp' output='css/throwfall2017_newsitem.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}
